.footer {
  background-color: $color-black;
  color: $color-white;

  &__inner {
    padding: 20px 0 40px;
    @media (min-width: $breakpoint) {
      padding: 100px 0 90px;
    }
  }

  &__logo {
    display: flex;
  }
  &__logo-svg {
    @media (max-width: $breakpoint - 1px) {
      height: auto;
      max-width: 130px;
    }
  }

  &__links {
    margin-top: 40px;
  }
  &__links-item {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
