.footer {
  $component: &;

  position: relative;
  z-index: 0;

  background-color: $color-black;
  color: $color-white;

  &__inner {
    padding: 20px 0 40px;
    @media (min-width: $breakpoint) {
      padding: 100px 0 90px;
    }
  }

  &__logo {
    display: flex;
  }
  &__logo-link {
    display: flex;
  }
  &__logo-svg {
    height: auto;
    max-width: 130px;
    @media (min-width: $breakpoint) {
      max-width: 100%;
    }
  }

  &__links {
  }
  &__links-item {
    &:not(:first-child) {
      margin-top: 30px;
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }
    }
  }
  &__links-wrapper {
    display: flex;
  }
  &__links-link {
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    @media (min-width: $breakpoint) {
      font-size: 60px;
      line-height: 66px;
    }
    color: $color-main;
    transition: $transition;
    
    &:hover {
      color: $color-white;
    }
  }
  &__links-caption {
    margin-top: 5px;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
    color: $color-white-transparent;
  }

  &__address {
    font-size: 16px;
    line-height: 18px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 33px;
    }
    text-align: right;
  }

  &__info {

  }
  &__copyright {
    font-size: 12px;
    line-height: 17px;
    @media (min-width: $breakpoint) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__dev {
    margin-top: 5px;
    @media (min-width: $breakpoint) {
      margin-top: 10px;
    }

    font-size: 12px;
    line-height: 17px;
    @media (min-width: $breakpoint) {
      font-size: 14px;
      line-height: 20px;
    }
    white-space: nowrap;
  }
  &__dev-text {
    display: inline-block;
  }
  &__dev-link {
    color: $color-main;
  }

  &__socials {
    display: flex;
  }
  &__socials-item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  &__socials-link {
    $size: 60px;
    width: $size;
    height: $size;
    @media (max-width: $breakpoint - 1px) {
      $size: 55px;
      width: $size;
      height: $size;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-white-transparent;
    border-radius: 50%;
    transition: $transition;

    &:hover {
      background-color: $color-main;
      border-color: $color-main;
    }
  }
  &__socials-svg {
    @media (max-width: $breakpoint - 1px) {
      transform-origin: center center;
      transform: scale(0.9);
    }
  }

  &__grid {
    &--mobile {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  &__block {
    &:not(:first-child) {
      margin-top: 40px;
      @media (min-width: $breakpoint) {
        margin-top: 60px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &--outer {
      &>#{$component}__col {
        $col-width: 410px / (1680px - ($col-gap-d * 2) - $col-gap-d) * 100%;
        &:nth-child(1) {
          width: $col-width;
        }
        &:nth-child(2) {
          width: 100% - $col-width;
        }
      }
    }
    &--inner {
      &>#{$component}__col {
        &:nth-child(2) {
          margin-left: $col-gap-d;
        }
      }
    }
  }
  &__col {
    flex-shrink: 0;
  }
}
