.header-modal {
  $component: &;
  
  // ?
  $col-count: 12;
  $col-gap: $col-gap-d;
  $col-width: '((100% - (#{$col-gap} * #{$col-count - 1})) / #{$col-count})';
  $col-part: '(#{$col-width} + #{$col-gap})';

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);

  background-color: lightblue; // ?
  transition: $transition;

  &[data-modal-active] {
    z-index: 1;
    transform: translate(0);
  }

  &--desktop {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }
  &--mobile {
    position: fixed;
    bottom: 0;
    // transform: translateX(100%); // ?

    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  &__row {
    display: flex;

    &--mobile {
      
    }
  }
  &__col {
    width: calc(#{$col-part} * 3 - #{$col-gap});
    flex-shrink: 0;

    &:not(:first-child) {
      margin-left: $col-gap;
    }

    &--highlight--main {
      border-top: 1px solid $color-main;
    }
    &--highlight--gray-border {
      border-top: 1px solid $color-gray-border;
    }
  }

  &__inner {
    padding: 40px 0 80px;
  }

  &__list {
    &--small {
      #{$component}__list-item {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
    
    &--tabs {
      &:not([data-tabs-active]) {
        display: none;
      }
    }
  }
  &__list-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 34px;

    &--small {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__link {
    cursor: pointer;
    transition: $transition;

    &:hover,
    &[data-tabs-active] {
      color: $color-main;
    }
  }
}
