.header { 
  $component: &;

  $col-count: 12;
  $col-gap: $col-gap-d;
  $col-width: '((100% - (#{$col-gap} * #{$col-count - 1})) / #{$col-count})';
  $col-part: '(#{$col-width} + #{$col-gap})';
    
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  transition: $transition;

  &--modal {
    background-color: $color-blue-light;

    #{$component}__header {
      @media (max-width: 1279px) {
        background-color: white;
      }
    }
  }

  &--scroll {
    background-color: $color-blue-light;

    #{$component}__inner {
      @media (min-width: $breakpoint) {
        padding: 15px 0;
      }
    }
  }

  &--scroll--up {
    // transform: translateY(0);
  }

  &--scroll--down {
    transform: translateY(-100%);
  }

  &--seq {
    transform: translateY(-100%);
  }

  &--open {
    transform: none;
  }

  &__header {
    position: relative;
    z-index: 1;


    // background-color: lightblue; // ?
    transition: $transition;
  }

  &__inner {
    padding: 20px 0;
    @media (min-width: $breakpoint) {
      padding: 40px 0;
    }
    transition: $transition;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint-xl) {
        width: calc(#{$col-part} * 3 - #{$col-gap});
      }
    }
    &:nth-child(2) {
      margin-left: 25px;
      @media (min-width: $breakpoint-xl) {
        margin-left: $col-gap;
        width: calc(#{$col-part} * 9 - #{$col-gap});
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-left: 0;
      }
    }
  }

  &__container {
    height: 38px;
    @media (min-width: $breakpoint) {
      height: 53px;
    }
    @media (min-width: $breakpoint-xl) {
      height: 70px;
    }
  }

  &__logo {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__logo-link {
    height: 100%;
  }
  &__logo-svg {
    width: auto;
    max-height: 100%;
  }

  &__panel {
    display: flex;
    justify-content: space-between;
  }
  &__panel-item {
    &:not(:first-child) {
      margin-left: 35px;
      @media (max-width: $breakpoint-m - 1px) {
        margin-left: 0;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
  
    &--large {
      #{$component}__items-item {
        &:not(:first-child) {
          margin-left: 35px;
          @media (min-width: $breakpoint-l) {
            margin-left: 60px;
          }
          @media (max-width: $breakpoint-m - 1px) {
            margin-left: 0;
          }
        }
      }
    }
  }
  &__items-item {
    // @media (max-width: $breakpoint - 1px) {
    //   display: none;
    // }

    &:not(:first-child) {
      margin-left: 25px;
      @media (min-width: $breakpoint-l) {
        margin-left: 40px;
      }
    }

    &--mobile {
      display: block;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap; // ?

    @media (max-width: $breakpoint-xl - 1px) {
      font-size: 16px;
    }

    &.mission__spoiler-title {
      font-size: 18px;
    line-height: 25px;
    white-space: nowrap; // ?

    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
      }
    }
  }

  &__drop {
    display: flex;
  }
  &__drop.mission__spoiler {
    border: none;
    flex-direction: column;
    position: relative;
  }
  &__drop.mission__spoiler--active {
    .mission__spoiler-button {
      background-color: unset;
    }
    .mission__spoiler-drop {
      background-color: unset;
  }
  }
  &__drop-button {
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint - 1px) {
      justify-content: space-between;
      width: 100%;
    }
    cursor: pointer;

    &:hover {
      #{$component}__drop-text {
        color: $color-main;
      }
      #{$component}__drop-svg {
        path {
          fill: $color-main;
        }
      }
    }

    &[data-modal-active] {
      #{$component}__drop-text {
        color: $color-main;
      }

      #{$component}__drop-svg {
        transform: rotate(180deg);

        path {
          fill: $color-main;
        }
      }
    }
  }
  &__drop-button.mission__spoiler-button {
    padding: 0;
    min-height: 0;
    background-color: unset;
  }
  &__drop-dropdown {
    position: absolute;
    top: 100%;

    &:hover {
      button {
        color: $color-main;
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__drop-text {
    transition: $transition;
  }
  &__drop-image {
    margin-left: 10px;
    padding-top: 2px;
    display: flex;
  }
  &__drop-svg {
    transition: $transition;

    path {
      transition: $transition;
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    // @media (max-width: $breakpoint-xl - 1px) {
    //   flex-direction: column;
    // }
    // @media (max-width: $breakpoint - 1px) {
    //   flex-direction: row;
    // }

    &-head {
      @media (max-width: $breakpoint - 1px) {
        flex-direction: row;
      }

      .header__phone-link {
        @media (max-width: $breakpoint-m - 1px) {
          display: none;
        }
      }
    }
  }
  &__phone-call {
    margin-right: 10px;
    @media (min-width: $breakpoint-xl) {
      margin-right: 20px;
    }
    // @media (max-width: $breakpoint - 1px) {
    //   display: none;
    // }
    @media (max-width: $breakpoint - 1px) {
      display: block;
      width: auto;
      border: none;
      order: 0;
      padding: 0;
      margin-right: 40px;
      font-size: 14px;
      line-height: normal;
    }
    @media (max-width: $breakpoint-m - 1px) {
      margin-right: 25px;
    }
    &-head {
      @media (max-width: 374px) {
        margin-right: 10px;
        font-size: 10px;
      }
    }
  }
  &__phone-link {
    font-weight: bold;
    font-size: 22px;
    line-height: 31px;

    @media (max-width: $breakpoint-l - 1px) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint - 1px) {
      font-size: 18px;
    }
  }

  &__link {
    transition: $transition;

    &:hover {
      color: $color-main; // ?
    }
  }

  // ?
  &__button {
    display: flex;
  }
  &__button-button {
    $size: 70px;
    width: $size;
    height: $size;
    @media (max-width: $breakpoint - 1px) {
      $size: 38px;
      width: $size;
      height: $size;
    }
    display: flex;

    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;

    &[data-modal-active] {
      background-color: $color-main;

      #{$component}__button-image {
        $size: 24px;
        width: $size;
        height: $size;
        @media (max-width: $breakpoint - 1px) {
          $size: 13px;
          width: $size;
          height: $size;
        }

        &::before,
        &::after {
          @media (min-width: $breakpoint) {
            right: 1px;

            width: 31px;
          }

          background-color: $color-white;
        }
        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
  &__button-image {
    position: relative;
    z-index: 0;
    @media (max-width: $breakpoint - 1px) {
      right: 1px;
    }

    margin: auto;
    width: 30px;
    height: 12px;
    @media (max-width: $breakpoint - 1px) {
      width: 17px;
      height: 7px;
    }

    transition: $transition;

    &::before,
    &::after {
      position: absolute;
      right: 0;

      content: '';
      width: 30px;
      height: 2px;
      @media (max-width: $breakpoint - 1px) {
        width: 17px;
        height: 1px;
      }

      background-color: $color-black;
      transition: $transition;
    }
    &::before {
      top: 0;
      transform-origin: right center;
    }
    &::after {
      bottom: 0;
      transform-origin: right center;
    }
  }

  &__modals {
    position: relative;
    z-index: 0;
  }
}

.header-menu {
  @media (max-width: $breakpoint - 1px) {
    display: none;
  }
}

.header-lang-drop {
  @media (max-width: $breakpoint - 1px) {
    display: none;
  }
}
