.index {
  &__section {
    &--target {
      padding: 170px 0;
      min-height: 100vh; // test

      background: linear-gradient(261.11deg, #31BBA2 8.47%, #3CC4D1 93.81%, #269980 93.81%);
    }
  }
}
