.logo-svg {
  $component: &;

  &--white {
    #{$component}__path {
      &--decor {
        fill: $color-white;
      }

      &--text {
        fill: $color-white;
        
        &~path {
          fill: $color-white;
        }
      }
    }
  }
}
