.mobile-header {
  $comp: &;

  --panel-height: 78px;
  --ios-safari-panel-height: 70px;
  
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  @media (min-width: $breakpoint) {
    display: none;
  }

  &__panel {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    height: var(--panel-height);
    // height: auto;
    transition: $transition;

    &--hide {
      transform: translateY(-100%);
    }

    &--small {
      height: 44px;

      .header__inner {
        padding: 3px 0;
      }
      .header__logo-svg {
        width: 109px;
      }

      &.mobile-header__panel .mobile-header__price-tabs {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
      }
      &.mobile-header__panel--big {
        height: 94px;
      }

      .header__phone-call {
        @media (max-width: $breakpoint - 1px) {
          // font-size: 10px;
          @include fsl(10px)
        }
      }
    }

    &--background {
      background-color: $color-blue-light;
    }

    &--show {
      transform: translateY(0);
    }

    .category--mobile {
      padding: 10px 20px;
      margin: 0;
      overflow-x: scroll;

      // transform: translateY(-100%);
      // opacity: 0;
      // pointer-events: none;
      // transition: .5s;
    }
  }

  &__price-tabs {
    position: relative;
    z-index: 2;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
  }

  &__menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding-top: var(--panel-height);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 'place';
    pointer-events: none;

    opacity: 0;
    background-color: $color-blue-light;
    transition: $transition;

    &--open {
      pointer-events: all;

      opacity: 1;
    }
  }

  &__screens {
    display: none;
  }

  &__screen {
    width: 100%;
    height: calc(100vh - var(--panel-height));
    grid-area: place;
    overflow-x: hidden;
    overflow-y: auto;

    transition: $transition;

    @include scrollbar-hidden();

    &--from {
      &--left {
        @keyframes screen-from-left {
          from {
            transform: translateX(-100%);
          }
          to {
            transform: translateX(0);
          }
        }

        animation: screen-from-left $transition forwards;
      }
      
      &--right {
        @keyframes screen-from-right {
          from {
            transform: translateX(100%);
          }
          to {
            transform: translateX(0);
          }
        }

        animation: screen-from-right $transition forwards;
      }
    }
    &--to {
      &--left {
        @keyframes screen-to-left {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-100%);
          }
        }

        animation: screen-to-left $transition forwards;
      }
      
      &--right {
        @keyframes screen-to-right {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(100%);
          }
        }

        animation: screen-to-right $transition forwards;
      }
    }
  }

  &__content {
    padding: 20px 0 calc(20px + var(--ios-safari-panel-height));

    &--inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  &__back {
    width: 40px;
    height: 28px;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    cursor: pointer;
  }
  &__back-svg {
    transform: rotate(90deg);
  }

  &__list {
    padding-left: 40px;

    &--bottom {
      margin-top: 15px;
      padding: 0 20px;
    }

    &--root {
      // margin-top: 67px;
      margin-top: 20px;
      padding: 0;
    }
  }
  &__item {
    display: flex;

    &:not(:first-child) {
      margin-top: 15px;
    }

    &--root {
      border-top: 1px solid $color-gray-border;
      
      &:last-child {
        border-bottom: 1px solid $color-gray-border;
      }

      &:not(:first-child) {
        margin-top: 0;
      }
    }
  }

  &__link {
    cursor: pointer;

    &--next {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #{$comp}__link-svg {
        transform: rotate(-90deg);

        margin-left: 20px;
        flex-shrink: 0;
      }
    }

    &--root {
      padding: 15px 20px;
    }

    &--line {
      text-decoration: underline;
    }
    &--active {
      color: $color-main;
    }
  }
  &__link-text {
    font-size: 16px;
    line-height: 22px;

    &--large {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__link-svg {
  }
}
