// просто секция, тэг <section>
// или контейнер <div> для секций (.section__block) <section>
// меняет фон
.section {
  // внешний вид
  &--blue-light {
    background-color: $color-blue-light;
  }
  &--gradient {
    background: linear-gradient(180deg, #D7F1F7 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 364px;
    @media (min-width: $breakpoint) {
      background-size: 100% 570px;
    }
  }

  // вертикальные падинги внутреннего содержимого секции
  // добавляется в .row__col для однородного отступа в 2х колонках
  &__inner {
    padding: 60px 0;
    @media (min-width: $breakpoint) {
      padding: 160px 0;
    }

    &--top {
      padding-top: 100px;
      @media (min-width: $breakpoint) {
        padding-top: 230px;
      }
    }

    &--bot {
      padding-top: 0;
    }
  }

  // блоки внутри секции
  // верт. отступы между блоками
  &__block {
    &:not(:first-child) {
      margin-top: 60px;
      @media (min-width: $breakpoint) {
        margin-top: 160px;
      }
    }

    // уменьшенный верт. отступ
    &--small {
      &:not(:first-child) {
        margin-top: 40px;
        @media (min-width: $breakpoint) {
          margin-top: 120px;
        }
      }
    }
  }

  // фрейм для слайдеров не на всю страницу
  &__frame {
    @media (min-width: $breakpoint) {
      width: calc(100% + 40px);
      overflow-x: hidden;
    }
  }

  // заглавный ряд секции
  // для добавления заголовка, кнопок управления слайдером и др
  &__title-row {
    display: flex;
    align-items: center;
  }
  &__title-row-col {
    &:not(:first-child) {
      margin-left: $col-gap-m;
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
      }
    }

    // only desktop
    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  // заголовок секции
  &__title {
    font-size: 22px;
    line-height: 31px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
  }
}

// 2 колонки без gap'a
// вместо gap'a - .container во 2 колонке
// 2 колонка основная, 1 - пропадает на мобиле
.row {
  @media (min-width: $breakpoint) {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-pad-d} + #{$col-part-d} * 3 - #{$col-gap-d});
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 9 + #{$col-pad-d});
      }
    }
  }
}

// контейнер, добавляющие боковые padding
// значения берутся из параметров сетки страниц, $col-pad-m/d
.container {
  padding: 0 $col-pad-m;
  @media (min-width: $breakpoint) {
    padding: 0 $col-pad-d;
  }
}

// типовой тайтл страницы, с нижним бордером
// пример: О компании
.title {
  padding-bottom: 10px;
  @media (min-width: $breakpoint) {
    padding-bottom: 20px;
  }

  border-bottom: 1px solid $color-main;
  font-size: 22px;
  line-height: 31px;
  @media (min-width: $breakpoint) {
    font-size: 70px;
    line-height: 98px;
  }

  &--s {
    @include fsl(22px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(40px);
    }
  }

  &--m {
    padding-bottom: 40px;
    @media (min-width: $breakpoint) {
      padding-bottom: 80px;
    }
    border: 0;
    @include fsl(22px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(40px);
    }
  }
}

// кнопка стрелка
// например для управления слайдером
.button-arrow {
  $comp: &;

  display: flex;

  &--left {
    #{$comp}__svg {
      transform: rotate(90deg);
    }
  }
  &--right {
    #{$comp}__svg {
      transform: rotate(-90deg);
    }
  }

  &--blue-light {
    #{$comp}__button {
      background-color: $color-blue-light;
    }
  }

  &__button {
    $size: 70px;
    width: $size;
    height: $size;
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      $size: 47px;
      width: $size;
      height: $size;
    }

    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-main;

      #{$comp}__svg {
        path {
          fill: $color-white;
        }
      }
    }
  }
  &__svg {
    transform: rotate(90deg);
    
    margin: auto;
    max-width: 13px;
    max-height: 8px;
    @media (max-width: $breakpoint - 1px) {
      max-width: 9px;
      max-height: 6px;
    }

    path {
      transition: $transition;
    }
  }
}

// две кнопки стрелки в ряд
// управление слайдером
.slider-control {
  display: flex;

  // only desktop
  &--desktop {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 7px;
      }
    }
  }
}

// десктоп боковая постраничная навигация
.nav {
  $comp: &;

  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  &--small {
    #{$comp}__item {

      &--active {
        #{$comp}__link {
          @include fsl(20px, 140%);
        } 
      }
    }
    #{$comp}__link {
      @include fsl(14px, 140%);
    }
  }

  &__container {
    padding-top: 20px;
  }
  
  &__nav {
    
  }
  &__list {

  }
  &__item {
    position: relative;
    z-index: 0;

    padding-left: $col-pad-d;
    display: flex;

    &::before {
      position: absolute;
      top: 18px;
      left: 18px;

      content: '';
      $size: 7px;
      width: $size;
      height: $size;

      background-color: $color-main;
      border-radius: 50%;
      opacity: 0;
      transition: $transition;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &--active {
      &::before {
        opacity: 1;
      }

      #{$comp}__link {
        font-size: 30px;
        line-height: 42px;
        color: $color-main;
      }
    }
  }

  &__link {
    @include fsl(16px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(18px);
    }
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }
}

// модификации swiper слайдера
.swiper-container {
  &--visible {
    overflow: visible;
  }
  &--slide-width-auto {
    .swiper-slide {
      width: auto;
    }
  }
  &--slide-height-max {
    .swiper-slide {
      height: auto;
    }
  }
}

.faq-spoiler {
  .mission__spoiler-title {
      font-weight: 400;
      width: calc(#{$col-part-d} * 5);

      @media (max-width: $breakpoint - 1px) {
        width: calc(100% - 40px);
        font-weight: 500;
      }
  }

  .mission__spoiler-list p {
    @media (max-width: $breakpoint - 1px) {
      font-size: 14px;
    }
  }
}

.faq-filter {
  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 2 + #{$col-pad-d} * 2);
  }

  .team-filter__item {
    margin-bottom: 10px;
  }
  .team-filter__container {
    margin-bottom: 30px;
  }
}

// классы для анимации иконок типовых кнопок 
// иконка на светлом фоне
.button-svg {
  transition: $transition;
  path {
    transform-origin: center;
    transition: $transition;
  }
}
// иконка видео
.button-svg-video {
  transition: $transition;

  path {
    transform-origin: center;
    transition: $transition;
  }
}
// иконка на темном фоне
.button-extra-svg {
  path {
    transition: $transition;
    transform-origin: center;
  }
}

// Преобразование спойлера с меню в заголовок на планшетах

.page-title-hidden {
  @media (max-width: $breakpoint - 1px) {
      display: none;
  }

  @media (max-width: $breakpoint-m - 1px) {
      display: block;
  }
}

.spoiler-to-title.mission__spoiler {
  @media (max-width: $breakpoint - 1px) {
      border-bottom: 1px solid $color-main;

      .mission__spoiler-title {
          font-size: 22px;
      }
  }

  @media (max-width: $breakpoint-m - 1px) {
      border-bottom: 1px solid $color-gray-border;

      .mission__spoiler-title {
          font-size: 16px;
      }
  }
}