// параметры grid'a на сайте
// за основу взято vw (боковой скроллбар страниц не учитываем)
$col-count-m: 4;
$col-count-d: 12;

$col-pad-m: 20px;
$col-pad-d: 40px;

$col-gap-m: 20px;
$col-gap-d: 40px;

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

// colors
$color-blue-light: #F1FBFD; // ?

// просто секция <section>
// меняет фон
.section {
  // внешний вид
  &--blue-light {
    background-color: $color-blue-light;
  }
  &--gradient {
    background: linear-gradient(180deg, #D7F1F7 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 364px;
    @media (min-width: $breakpoint) {
      background-size: 100% 570px;
    }
  }

  // вертикальные падинги внутреннего содержимого секции
  // добавляется в .row__col для однородного отступа в 2х колонках
  &__inner {
    padding: 60px 0;
    @media (min-width: $breakpoint) {
      padding: 160px 0;
    }

    &--top {
      padding-top: 100px;
      @media (min-width: $breakpoint) {
        padding-top: 230px;
      }
    }
  }

  // блоки внутри секции
  // верт. отступы между блоками
  &__block {
    &:not(:first-child) {
      margin-top: 60px;
      @media (min-width: $breakpoint) {
        margin-top: 160px;
      }
    }

    // уменьшенный верт. отступ
    &--small {
      &:not(:first-child) {
        margin-top: 40px;
        @media (min-width: $breakpoint) {
          margin-top: 120px;
        }
      }
    }
  }

  // заглавный ряд секции
  // для добавления заголовка, кнопок управления слайдером и др
  &__title-row {
    display: flex;
    align-items: center;
  }
  &__title-row-col {
    &:not(:first-child) {
      margin-left: $col-gap-m;
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
      }
    }

    // only desktop
    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  // заголовок секции
  &__title {
    font-size: 22px;
    line-height: 31px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
  }
}

// 2 колонки без gap'a
// вместо gap'a - .container во 2 колонке
// 2 колонка основная, 1 - пропадает на мобиле
.row {
  @media (min-width: $breakpoint) {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-pad-d} + #{$col-part-d} * 3 - #{$col-gap-d});
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 9 + #{$col-pad-d});
      }
    }
  }
}

// уже написан
.container {

}

// типовый тайтл страницы
.title {
  padding-bottom: 10px;
  @media (min-width: $breakpoint) {
    padding-bottom: 20px;
  }

  border-bottom: 1px solid $color-main;
  font-size: 22px;
  line-height: 31px;
  @media (min-width: $breakpoint) {
    font-size: 70px;
    line-height: 98px;
  }
}

// кнопка стрелка
// например для управления слайдером
.button-arrow {
  $comp: &;

  display: flex;

  &--left {
    #{$comp}__svg {
      transform: rotate(90deg);
    }
  }
  &--right {
    #{$comp}__svg {
      transform: rotate(-90deg);
    }
  }

  &__button {
    $size: 70px;
    width: $size;
    height: $size;
    display: flex;

    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-main;

      #{$comp}__svg {
        path {
          fill: $color-white;
        }
      }
    }
  }

  &__svg {
    transform: rotate(90deg);
    
    margin: auto;
    max-width: 13px;
    max-height: 8px;

    path {
      transition: $transition;
    }
  }
}

// две кнопки стрелки в ряд
// управление слайдером
.slider-control {
  display: flex;

  // only desktop
  &--desktop {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

// десктоп боковая постраничная навигация
.nav {
  $comp: &;

  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  &--padding-top {
    padding-top: 20px;
  }
  
  &__list {

  }
  &__item {
    position: relative;
    z-index: 0;

    padding-left: $col-pad-d;
    display: flex;

    &::before {
      position: absolute;
      top: 18px;
      left: 18px;

      content: '';
      $size: 7px;
      width: $size;
      height: $size;

      background-color: $color-main;
      border-radius: 50%;
      opacity: 0;
      transition: $transition;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &--active {
      &::before {
        opacity: 1;
      }

      #{$comp}__link {
        font-size: 30px;
        line-height: 42px;
        color: $color-main;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 25px;
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }
}

// стили компонентом (элементов) страницы О компании
// с возможность переиспользования во вне
.about {
  $comp: &;

  $grid-gap-d: 40px;

  // features list
  &__list {

  }
  &__list-item {
    padding-top: 10px;
    @media (min-width: $breakpoint) {
      padding-top: 40px;
    }

    border-top: 1px solid $color-gray-border;

    &:not(:first-child) {
      margin-top: 40px;
      @media (min-width: $breakpoint) {
        margin-top: 120px;
      }
    }
  }
  &__list-row {
    @media (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__list-col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      }
    }
    &:nth-child(2) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      }
    }
  }
  &__list-title {
    max-width: 547px;

    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }
  &__list-text {
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__list-link {
    color: $color-main;
  }

  // текст, информация
  // используется как подпись/заголовок к grid
  &__caption {
    max-width: 730px;

    font-size: 22px;
    line-height: 31px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  // grid, 3 колонки
  &__grid {
    &--margin-top {
      margin-top: 30px;
      @media (min-width: $breakpoint) {
        margin-top: 80px;
      }
    }
  }
  &__grid-list {
    @media (min-width: $breakpoint) {
      margin-top: -$grid-gap-d;
      margin-left: -$grid-gap-d;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &__grid-item {
    @media (min-width: $breakpoint) {
      margin-top: $grid-gap-d;
      margin-left: $grid-gap-d;
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d})
    }

    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
    }
  }
  &__grid-card {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 30px 40px;
    }
    min-height: 145px;
    @media (min-width: $breakpoint) {
      min-height: 240px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $color-blue-light;

    &--height-100p {
      height: 100%;
    }
  }
  &__grid-title {
    padding-bottom: 10px;

    border-bottom: 1px solid $color-main;
    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
  }
  &__grid-info {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
  }
  &__grid-info-item {
    &:not(:first-child) {
      margin-top: 10px;
      @media (min-width: $breakpoint) {
        margin-top: 20px;
      }
    }

    &--display-flex {
      display: flex;
    }
  }
  &__grid-text {
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__grid-link {
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }

  // post
  &__post {
    padding: 40px;     
    min-height: 500px;

    background-image: url('../images/about-post-m.jpg');
    @media (min-width: $breakpoint) {
      background-image: url('../images/about-post-d.jpg'); // ?
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__post-title {
    max-width: 150px;
    @media (min-width: $breakpoint) {
      max-width: 230px;
    }

    font-size: 32px;
    line-height: 38px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 50px;
    }
    color: $color-white;
  }
  &__post-text {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
    max-width: 450px;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 18px;
      line-height: 25px;
    }
    color: $color-white;
  }

  // download
  &__download {
    position: relative;
    z-index: 0;

    &--margin-top {
      margin-top: 20px;
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }
    }
  }
  &__download-row {
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: stretch;
    }
  }
  &__download-col {
    position: relative;
    z-index: 0;

    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 7 + 1px);
      }
    }
    &:nth-child(2) {
      z-index: 1;

      @media (max-width: $breakpoint - 1px) {
        margin-top: -1px;
      }
      @media (min-width: $breakpoint) {
        margin-left: -1px;
        width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      }
    }
  }
  // download button
  &__download-button {
    padding: 20px;
    height: 100%;
    @media (min-width: $breakpoint) {
      min-height: 200px;
    }
    display: block; // ?

    background-color: $color-white;
    border: 1px solid $color-gray-border;
    transition: $transition;

    &:hover {
      background-color: $color-main; // ?
      border-color: $color-main; // ?
      // background-color: $color-blue-light;
      // border-color: $color-blue-light;

      #{$comp}__download-button-title {
        color: $color-white; // ?
      }

      #{$comp}__download-button-svg {
        path {
          fill: $color-white; // ?
        }
      }
    }
  }
  &__download-button-row {
    height: 100%;
    display: flex;
    @media (min-width: $breakpoint) {
      flex-direction: column;
    }
    justify-content: space-between;
  }
  &__download-button-col {
    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-left: 20px;
      }
      @media (min-width: $breakpoint) {
        margin-top: 20px;
      }
    }
  }
  &__download-button-title {
    @media (max-width: $breakpoint - 1px) {
      max-width: 140px;
    }

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
    transition: $transition;
  }
  &__download-button-image {
    display: flex;
    @media (min-width: $breakpoint) {
      justify-content: flex-end;
    }
  }
  &__download-button-svg {
    path {
      transition: $transition;
    }
  }
  // download title
  &__download-title-block {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 60px 100px;
    }
    height: 100%;

    border: 1px solid $color-gray-border;
  }
  &__download-title {
    max-width: 490px;

    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  // slider
  &__slider {
    margin-top: 40px;
    @media (min-width: $breakpoint) {
      margin-top: 80px;
    }
  }

  // license
  &__license {
    width: 233px;
  }
  &__license-frame {
    padding: 30px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;
  }
  &__license-img {
    
  }
  &__license-title {
    margin-top: 20px;

    font-size: 14px;
    line-height: 20px;
  }

  // карточка партнера
  // используется в слайдере
  &__partner {
    padding: 20px;
    width: 178px;
    min-height: 136px;
    @media (min-width: $breakpoint) {
      width: 233px;
      min-height: 178px;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;

    &--height-100p {
      height: 100%;
    }
  }
  &__partner-img {

  }
}

// модификации swiper слайдера
.swiper-container {
  &--visible {
    overflow: visible;
  }
  &--slide-width-auto {
    .swiper-slide {
      width: auto;
    }
  }
  &--slide-height-max {
    .swiper-slide {
      height: auto;
    }
  }
}
