// Стили страницы отдельной новости

.single-news {
  $comp: &;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }

  &__title {
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;

    @media (max-width: $breakpoint) {
      font-size: 22px;
      line-height: 140%;
    }
  }

  &__body {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    @media (max-width: $breakpoint) {
      width: 100%;
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;

    margin: 30px 0 120px;

    @media (max-width: $breakpoint) {
      flex-direction: column;

      margin: 30px 0 20px;
    }

    &--small {
      margin: 20px 0 0;
      @media (min-width: $breakpoint) {
        margin: 30px 0 100px;
      }

      #{$comp}__back-link {
        @media (max-width: $breakpoint - 1px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__back-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    width: calc(#{$col-part-d} * 2 - #{$col-gap-d});

    @media (max-width: $breakpoint) {
      margin-bottom: 60px;
      width: auto;

      font-size: 16px;
    }

    a::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-top: 2px solid $color-black;
      border-right: 2px solid $color-black;
      margin-right: 20px;
      transform: rotate(-135deg);
      vertical-align: middle;

      @media (max-width: $breakpoint) {
        margin-right: 10px;
      }
    }
  }

  &__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $color-main;
  }

  &__img {
    width: 100%;
    margin: 80px 0;

    @media (max-width: $breakpoint) {
      margin: 20px 0 40px;
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__txt {
    padding-left: calc(#{$col-part-d});
    @media (max-width: $breakpoint) {
      padding-left: 0;
    }

    &--default {
      padding-left: 0;
    }

    h5 {
      margin-bottom: 20px;
      @media (min-width: $breakpoint) {
        margin-bottom: 40px;

        @include fsl(22px);
      }
      @include fsl(16px, 140%);
    }

    p {
      margin: 20px 0;

      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
    }

    ul {
      margin: 60px 0;
    }

    li {
      margin: 20px 0;
      // padding-left: calc(#{$col-part-d} - #{$col-gap-d});

      @media (max-width: $breakpoint-m) {
        font-size: 14px;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }

    li::before {
      content: '';
      display: inline-block;
      background-color: $color-main;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: calc(#{$col-part-d} - #{$col-gap-d} - 3px);

      @media (max-width: $breakpoint) {
        margin-right: 16px;
      }
    }
  }

  &__blockquote {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    margin: 80px 0 40px;

    @media (max-width: $breakpoint) {
      font-size: 18px;
      margin: 60px 0 20px;
    }
  }
}

// Боковая плашка с кнопками соцсетей

.share-social {
  padding-top: 174px;
  display: flex;
  justify-content: flex-end;
  position: relative;

  width: calc(#{$col-part-d} * 3);

  @media (max-width: $breakpoint) {
    padding-top: 0;
    margin: 60px 0;
    justify-content: flex-start;
    width: 100%;
  }

  &__box {
    position: fixed;
    z-index: 1;

    @media (max-width: $breakpoint) {
      position: static;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__link {
    border: 1px solid $color-main;
    width: 80px;
    height: 80px;

      svg path {
        fill: $color-main;
      }
  }
}

//  Блок со слайдером Другие новости

.other-news {
  background-color: $color-blue-light;
  padding: 160px 0;
  position: relative;
  z-index: 2;
  @media (max-width: $breakpoint) {
    padding: 60px 0;
  }

  &__top {
    margin-bottom: 80px;

    @media (max-width: $breakpoint) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;

    @media (max-width: $breakpoint) {
      font-size: 22px;
    }
  }

  &__controls {
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpoint) {
      display: none;
    }

    &-left {
      transform: rotate(90deg);
    }

    &-right {
      transform: rotate(-90deg);
    }
  }

  &__slider {

    &-desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }

    &-mobile {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    // &-img {

    // }
    
  }
}





// Дубль стилей с мастер ветки

.index-publications {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top-left {
    display: flex;
    align-items: center;
  }
  &__top-right {
    margin-left: 40px;
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__slider {
    margin-top: 40px;
    @media (min-width: $breakpoint) {
      margin-top: 80px;
    }
  }

  &__link {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  // &__title {
  //   @include fsl(22px, 140%);
  //   @media (min-width: $breakpoint) {
  //     @include fsl(50px);
  //   }
  // }
  &__control {
    margin-left: 40px;
  }
}

.card-news-mobile {
  padding-top: 10px;
  // width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
  width: 246px;
  min-height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top: 1px solid $color-main;

  // &__top {

  // }
  &__bottom {
    margin-top: 20px;
  }

  &__date {
    // @include fsl(12px, 140%);
    color: $color-main;
  }
  &__title {
    margin-top: 20px;

    // @include fsl(18px, 110%);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__col {
    flex-shrink: 0;

    // &:nth-child(1) {

    // }
    &:nth-child(2) {
      margin-left: $col-gap-m;
    }
  }

  &__image {
    display: flex;
    align-items: flex-end;
  }
  &__img {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 160px;
  }
  &__svg {
    height: auto;
    max-width: 34px;
  }
}