.single-news {
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
  }

  &__body {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  }

  &__head {
    display: flex;
    flex-wrap: wrap;

    margin: 30px 0 120px;
  }

  &__back-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;

    width: calc(#{$col-part-d} * 2 - #{$col-gap-d});

    a::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-top: 2px solid $color-black;
      border-right: 2px solid $color-black;
      margin-right: 20px;
      transform: rotate(-135deg);
      vertical-align: middle;
    }
  }

  &__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $color-main;
  }

  &__img {
    width: 100%;
    margin: 80px 0;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__txt {
    padding-left: calc(#{$col-part-d});

    p {
      margin: 20px 0;

      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
    }

    ul {
      margin: 60px 0;
    }

    li {
      margin: 20px 0;
      // padding-left: calc(#{$col-part-d} - #{$col-gap-d});
    }

    li::before {
      content: '';
      display: inline-block;
      background-color: $color-main;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: calc(#{$col-part-d} - #{$col-gap-d} - 3px);
    }
  }

  &__blockquote {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    margin: 80px 0 40px;
  }
}

.other-news {
  background-color: $color-blue-light;

  &__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
  }
}

