// просто секция, тэг <section>
// или контейнер <div> для секций (.section__block) <section>
// меняет фон
.section {
  // внешний вид
  &--blue-light {
    background-color: $color-blue-light;
  }
  &--gradient {
    background: linear-gradient(180deg, #D7F1F7 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 364px;
    @media (min-width: $breakpoint) {
      background-size: 100% 570px;
    }
  }

  // вертикальные падинги внутреннего содержимого секции
  // добавляется в .row__col для однородного отступа в 2х колонках
  &__inner {
    padding: 60px 0;
    @media (min-width: $breakpoint) {
      padding: 160px 0;
    }

    &--top {
      padding-top: 100px;
      @media (min-width: $breakpoint) {
        padding-top: 230px;
      }
    }
  }

  // блоки внутри секции
  // верт. отступы между блоками
  &__block {
    &:not(:first-child) {
      margin-top: 60px;
      @media (min-width: $breakpoint) {
        margin-top: 160px;
      }
    }

    // уменьшенный верт. отступ
    &--small {
      &:not(:first-child) {
        margin-top: 40px;
        @media (min-width: $breakpoint) {
          margin-top: 120px;
        }
      }
    }
  }

  // заглавный ряд секции
  // для добавления заголовка, кнопок управления слайдером и др
  &__title-row {
    display: flex;
    align-items: center;
  }
  &__title-row-col {
    &:not(:first-child) {
      margin-left: $col-gap-m;
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
      }
    }

    // only desktop
    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  // заголовок секции
  &__title {
    font-size: 22px;
    line-height: 31px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
  }
}

// 2 колонки без gap'a
// вместо gap'a - .container во 2 колонке
// 2 колонка основная, 1 - пропадает на мобиле
.row {
  @media (min-width: $breakpoint) {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-pad-d} + #{$col-part-d} * 3 - #{$col-gap-d});
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 9 + #{$col-pad-d});
      }
    }
  }
}

// контейнер, добавляющие боковые padding
// значения берутся из параметров сетки страниц, $col-pad-m/d
.container {
  padding: 0 $col-pad-m;
  @media (min-width: $breakpoint) {
    padding: 0 $col-pad-d;
  }
}

// типовой тайтл страницы, с нижним бордером
// пример: О компании
.title {
  padding-bottom: 10px;
  @media (min-width: $breakpoint) {
    padding-bottom: 20px;
  }

  border-bottom: 1px solid $color-main;
  font-size: 22px;
  line-height: 31px;
  @media (min-width: $breakpoint) {
    font-size: 70px;
    line-height: 98px;
  }
}

// кнопка стрелка
// например для управления слайдером
.button-arrow {
  $comp: &;

  display: flex;

  &--left {
    #{$comp}__svg {
      transform: rotate(90deg);
    }
  }
  &--right {
    #{$comp}__svg {
      transform: rotate(-90deg);
    }
  }

  &--blue-light {
    #{$comp}__button {
      background-color: $color-blue-light;
    }
  }

  &__button {
    $size: 70px;
    width: $size;
    height: $size;
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      $size: 47px;
      width: $size;
      height: $size;
    }

    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $color-main;

      #{$comp}__svg {
        path {
          fill: $color-white;
        }
      }
    }
  }
  &__svg {
    transform: rotate(90deg);
    
    margin: auto;
    max-width: 13px;
    max-height: 8px;
    @media (max-width: $breakpoint - 1px) {
      max-width: 9px;
      max-height: 6px;
    }

    path {
      transition: $transition;
    }
  }
}

// две кнопки стрелки в ряд
// управление слайдером
.slider-control {
  display: flex;

  // only desktop
  &--desktop {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-left: 10px;
      @media (max-width: $breakpoint - 1px) {
        margin-left: 7px;
      }
    }
  }
}

// десктоп боковая постраничная навигация
.nav {
  $comp: &;

  @media (max-width: $breakpoint - 1px) {
    display: none;
  }

  &__container {
    padding-top: 20px;
  }
  
  &__nav {
    
  }
  &__list {

  }
  &__item {
    position: relative;
    z-index: 0;

    padding-left: $col-pad-d;
    display: flex;

    &::before {
      position: absolute;
      top: 18px;
      left: 18px;

      content: '';
      $size: 7px;
      width: $size;
      height: $size;

      background-color: $color-main;
      border-radius: 50%;
      opacity: 0;
      transition: $transition;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &--active {
      &::before {
        opacity: 1;
      }

      #{$comp}__link {
        font-size: 30px;
        line-height: 42px;
        color: $color-main;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 25px;
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }
}

// стили компонентов (элементов) страницы О компании
// с возможность переиспользования во вне
.about {
  $comp: &;

  $grid-gap-d: 40px;

  // features list
  &__list {

  }
  &__list-item {
    padding-top: 10px;
    @media (min-width: $breakpoint) {
      padding-top: 40px;
    }

    border-top: 1px solid $color-gray-border;

    &:not(:first-child) {
      margin-top: 40px;
      @media (min-width: $breakpoint) {
        margin-top: 120px;
      }
    }
  }
  &__list-row {
    @media (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__list-col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      }
    }
    &:nth-child(2) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      }
    }
  }
  &__list-title {
    max-width: 547px;

    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }
  &__list-text {
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__list-link {
    color: $color-main;
  }

  // текст, информация
  // используется как подпись/заголовок к grid
  &__caption {
    max-width: 730px;

    font-size: 22px;
    line-height: 31px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  // grid, 3 колонки
  &__grid {
    &--margin-top {
      margin-top: 30px;
      @media (min-width: $breakpoint) {
        margin-top: 80px;
      }
    }
  }
  &__grid-list {
    @media (min-width: $breakpoint) {
      margin-top: -$grid-gap-d;
      margin-left: -$grid-gap-d;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  &__grid-item {
    @media (min-width: $breakpoint) {
      margin-top: $grid-gap-d;
      margin-left: $grid-gap-d;
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d})
    }

    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
    }
  }
  &__grid-card {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 30px 40px;
    }
    min-height: 145px;
    @media (min-width: $breakpoint) {
      min-height: 240px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $color-blue-light;

    &--height-100p {
      height: 100%;
    }
  }
  &__grid-title {
    padding-bottom: 10px;

    border-bottom: 1px solid $color-main;
    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
  }
  &__grid-info {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
  }
  &__grid-info-item {
    &:not(:first-child) {
      margin-top: 10px;
      @media (min-width: $breakpoint) {
        margin-top: 20px;
      }
    }

    &--display-flex {
      display: flex;
    }
  }
  &__grid-text {
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__grid-link {
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }

  // post
  &__post {
    padding: 40px;     
    min-height: 500px;

    background-image: url('../images/about-post-m.jpg');
    @media (min-width: $breakpoint) {
      background-image: url('../images/about-post-d.jpg'); // ?
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__post-title {
    max-width: 150px;
    @media (min-width: $breakpoint) {
      max-width: 230px;
    }

    font-size: 32px;
    line-height: 38px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 50px;
    }
    color: $color-white;
  }
  &__post-text {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
    max-width: 450px;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 18px;
      line-height: 25px;
    }
    color: $color-white;
  }

  // download
  &__download {
    position: relative;
    z-index: 0;

    &--margin-top {
      margin-top: 20px;
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }
    }
  }
  &__download-row {
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: stretch;
    }
  }
  &__download-col {
    position: relative;
    z-index: 0;

    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 7 + 1px);
      }
    }
    &:nth-child(2) {
      z-index: 1;

      @media (max-width: $breakpoint - 1px) {
        margin-top: -1px;
      }
      @media (min-width: $breakpoint) {
        margin-left: -1px;
        width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      }
    }
  }
  // download button
  &__download-button {
    padding: 20px;
    height: 100%;
    @media (min-width: $breakpoint) {
      min-height: 200px;
    }
    display: block; // ?

    background-color: $color-white;
    border: 1px solid $color-gray-border;
    transition: $transition;

    &:hover {
      background-color: $color-main; // ?
      border-color: $color-main; // ?
      // background-color: $color-blue-light;
      // border-color: $color-blue-light;

      #{$comp}__download-button-title {
        color: $color-white; // ?
      }

      #{$comp}__download-button-svg {
        path {
          fill: $color-white; // ?
        }
      }
    }
  }
  &__download-button-row {
    height: 100%;
    display: flex;
    @media (min-width: $breakpoint) {
      flex-direction: column;
    }
    justify-content: space-between;
  }
  &__download-button-col {
    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-left: 20px;
      }
      @media (min-width: $breakpoint) {
        margin-top: 20px;
      }
    }
  }
  &__download-button-title {
    @media (max-width: $breakpoint - 1px) {
      max-width: 140px;
    }

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
    transition: $transition;
  }
  &__download-button-image {
    display: flex;
    @media (min-width: $breakpoint) {
      justify-content: flex-end;
    }
  }
  &__download-button-svg {
    path {
      transition: $transition;
    }
  }
  // download title
  &__download-title-block {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 60px 100px;
    }
    height: 100%;

    border: 1px solid $color-gray-border;
  }
  &__download-title {
    max-width: 490px;

    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  // slider
  &__slider {
    margin-top: 40px;
    @media (min-width: $breakpoint) {
      margin-top: 80px;
    }
  }

  // license
  &__license {
    width: 233px;
  }
  &__license-frame {
    padding: 30px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;
  }
  &__license-img {
    
  }
  &__license-title {
    margin-top: 20px;

    font-size: 14px;
    line-height: 20px;
  }

  // карточка партнера
  // используется в слайдере
  &__partner {
    padding: 20px;
    width: 178px;
    min-height: 136px;
    @media (min-width: $breakpoint) {
      width: 233px;
      min-height: 178px;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;

    &--height-100p {
      height: 100%;
    }
  }
  &__partner-img {

  }

  // image
  // используется для заглавного фото на странице О компании
  &__image {
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$col-part-d});
    }
    width: calc(100% + #{$col-pad-m});
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 9 - #{$col-gap-d} + #{$col-pad-d});
    }
  }
  &__image-background {
    position: relative;
    z-index: 0;

    height: 186px;
    @media (min-width: $breakpoint) {
      height: 570px;
    }

    // background-image: url('../images/about-images.jpeg'); // указано в html, атр. style
    background-repeat: no-repeat;
    background-position: center bottom;
    @media (min-width: $breakpoint) {
      background-position: center center;
    }
    background-size: cover;
  }
  &__image-svg {
    position: absolute;

    height: auto;

    &:nth-child(1) {
      top: 20px;
      @media (min-width: $breakpoint) {
        top: 80px;
      }
      left: 0;
      transform: translateX(-50%);

      max-width: 25px;
      @media (min-width: $breakpoint) {
        max-width: 60px;
      }
    }
    &:nth-child(2) {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      @media (min-width: $breakpoint) {
        bottom: -170px;
        transform: translateX(50%);
      }

      max-width: 164px;
      @media (min-width: $breakpoint) {
        max-width: 430px;
      }

      mix-blend-mode: multiply;
    }
  }

  // to-front
  // вспомогательный элемент
  // position: relative; z-index: 0;
  &__to-front {
    position: relative;
    z-index: 0;
  }
}

// модификации swiper слайдера
.swiper-container {
  &--visible {
    overflow: visible;
  }
  &--slide-width-auto {
    .swiper-slide {
      width: auto;
    }
  }
  &--slide-height-max {
    .swiper-slide {
      height: auto;
    }
  }
}

// стили компонентов (элементов) страницы Миссия и ценности
// с возможность переиспользования во вне
.mission {
  $comp: &;

  // контейнер для спойлеров
  // расположены друг под другом, схлопываются border'ы
  // на декстопе ограничены по ширине (по колонкам сетки)
  &__spoilers {
    @media (min-width: $breakpoint) {
      max-width: calc(#{$col-part-d} * 6);
    }

    &--margin-top {
      margin-top: 40px;
      @media (min-width: $breakpoint) {
        margin-top: 80px;
      }
    }
  }
  &__spoilers-item {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  // спойлер, компонент с js логикой
  // имеет скрывающуюся/раскрывающуюся часть (jquery, sliderDown/Up())
  &__spoiler {
    border: 1px solid $color-gray-border;

    &--active {
      #{$comp}__spoiler-button {
        background-color: $color-blue-light;
      }
      #{$comp}__spoiler-title {
        color: $color-main;
      }
      #{$comp}__spoiler-image {
        &::after {
          opacity: 0;
        }
      }

      #{$comp}__spoiler-drop {
        background-color: $color-blue-light;
      }
    }
  }
  // spoiler button
  &__spoiler-button {
    padding: 20px;
    min-height: 65px;
    @media (min-width: $breakpoint) {
      padding: 40px;
      min-height: 110px;
    }
    display: flex;
    justify-content: space-between;

    cursor: pointer;  
    transition: $transition;
  }
  &__spoiler-title {
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
    transition: $transition;
  }
  &__spoiler-image {
    position: relative;
    z-index: 0;

    margin-left: $col-gap-m;
    @media (min-width: $breakpoint) {
      margin-left: $col-gap-d;
    }
    $size: 20px;
    width: $size;
    height: $size;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      content: '';
      width: 20px;
      height: 2px;

      background-color: $color-main;
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);

      transition: $transition;
    }
  }
  // spoiler drop
  &__spoiler-drop {
    padding: 5px $col-gap-m 25px;
    @media (min-width: $breakpoint) {
      padding: 20px $col-gap-d 60px calc(#{$col-part-d});
    }
    display: none;

    transition: background-color $transition;
  }
  &__spoiler-list {
    
  }
  &__spoiler-list-item {
    position: relative;
    z-index: 0;

    padding-left: 25px;
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$col-width-d});
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '•';

      font-size: 16px;
      line-height: 22px;
      color: $color-main;
    }
  }
  &__spoiler-list-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  &__spoiler-list-text {
    margin-top: 20px;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  // секция с миссиями на стр. Миссия и ценности
  &__missions-title {
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
  }
  // missions list
  &__missions-list {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
  }
  &__missions-item {
    position: relative;
    z-index: 0;

    margin-top: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 160px;
    }

    &--margin {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 153px;
        margin-bottom: 285px;
      }
      @media (min-width: $breakpoint) {
        margin-bottom: 265px;
      }
    }
  }
  // missions text
  &__missions-text {
    margin: 0 auto;

    font-size: 20px;
    line-height: 28px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
    text-align: center;

    &--max-width {
      &--730 {
        max-width: 730px;
      }
      &--900 {
        max-width: 900px;
      }
      &--1180 {
        max-width: 1180px;
      }
    }
  }
  &__missions-text-highlight {
    font-family: $ff-alt;
    font-weight: normal;
    font-style: italic;
    font-size: 26px;
    line-height: 36px;
    @media (min-width: $breakpoint) {
      font-size: 60px;
      line-height: 84px;
    }
    text-align: center;
    color: $color-main;
  }
  // missions links
  &__missions-links {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__missions-links-item {
    @media (max-width: $breakpoint - 1px) {
      margin-top: 10px;
    }
    
    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
      }
    }
  }
  // missions link
  &__missions-links-container {
    display: flex;
  }
  &__missions-links-link {
    display: flex;
    align-items: center;

    &:hover {
      #{$comp}__missions-links-text {
        color: $color-main;
      }
    }
  }
  &__missions-links-svg {
    @media (max-width: $breakpoint - 1px) {
      height: auto;
      max-width: 30px;
    }
  }
  &__missions-links-text {
    margin-left: 10px;
    @media (min-width: $breakpoint) {
      margin-left: 20px;
    }

    transition: $transition;
  }
  // missions images
  &__missions-images {
    &--top {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
      }

      #{$comp}__missions-image {
        @media (max-width: $breakpoint - 1px) {
          flex-shrink: 0;
          max-width: calc((100% - #{$col-gap-m}) / 2);
        }

        &:nth-child(1) {
          #{$comp}__missions-img {
            @media (min-width: $breakpoint) {
              bottom: -75px;
              left: 0;
            }

            max-width: 158px;
            @media (min-width: $breakpoint) {
              max-width: 233px;
            }
          }
        }
        &:nth-child(2) {
          @media (max-width: $breakpoint - 1px) {
            position: relative;
            top: -20px;
          }

          #{$comp}__missions-img {
            @media (min-width: $breakpoint) {
              top: -70px;
              right: 0;
            }

            max-width: 157px;
            @media (min-width: $breakpoint) {
              max-width: 137px;
            }
          }
        }
      }

      #{$comp}__missions-img {
        @media (max-width: $breakpoint - 1px) {
          width: 100%;
        }

        @media (min-width: $breakpoint) {
          position: absolute;
        }
      }
    }

    &--bottom {
      #{$comp}__missions-image {
        &:nth-child(1) {
          #{$comp}__missions-img {
            top: calc(100% + 40px);
            left: 0;
            @media (min-width: $breakpoint) {
              top: auto;
              bottom: -105px;
            }

            width: 246px;
            min-height: 185px; // ?
            @media (min-width: $breakpoint) {
              width: 370px;
              min-height: 278px; // ?
            }
          }
        }
        &:nth-child(2) {
          #{$comp}__missions-img {
            top: -93px;
            right: 0;
            @media (min-width: $breakpoint) {
              top: -140px;
              right: calc(#{$col-width-d});
            }

            max-width: 177px;
            @media (min-width: $breakpoint) {
              max-width: 313px;
            }
          }
        }
      }

      #{$comp}__missions-img {
        position: absolute;
      }
    }
  }
  &__missions-image {
    display: flex;
    align-items: flex-start;
  }
  &__missions-img {
    z-index: -1;
  }

  // history
  // блок на стр. Миссия и ценности с двойным слайдером
  &__history {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 30px;
    }
  }
  // thumbs
  // слайдер с датами, в роли пагинации
  &__thumbs {
    .swiper-container {
      max-width: 200px; // ???
      margin-left: 0; // ???
    }

    .swiper-wrapper { // ?
      min-height: 235px; // ?
    }

    .swiper-slide-active { // ???
      #{$comp}__thumb {
        padding: 0;

        font-size: 60px;
        line-height: 93px;
        @media (min-width: $breakpoint) {
          font-size: 200px;
          line-height: 235px;
        }
        color: $color-main;

        #{$comp}__thumb-svg {
          max-width: 17px;
          
          path {
            fill: $color-main;
          }
        }
      }
    }
  }
  &__thumb {
    position: relative;
    z-index: 0;

    padding-bottom: 20px;
    @media (min-width: $breakpoint) {
      padding-bottom: 45px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-family: $ff-alt;
    font-size: 26px;
    line-height: 36px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
    color: $color-gray-border;
    cursor: pointer;
    transition: $transition;

    &--line {
      &::before {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        content: '';
        width: 500vw; // ?

        border: 1px dashed $color-gray-border;
      }
    }
    &--active {
      padding: 0;

      font-size: 60px;
      line-height: 93px;
      @media (min-width: $breakpoint) {
        font-size: 200px;
        line-height: 235px;
      }
      color: $color-main;

      #{$comp}__thumb-svg {
        max-width: 17px;
        
        path {
          fill: $color-main;
        }
      }
    }
  }
  &__thumb-svg {
    position: absolute;
    z-index: -1;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 50%);

    max-width: 9px;

    path {
      fill: $color-gray-border;
      transition: $transition;
    }
  }
  // slider
  // основной слайдер, с контентом
  &__slider {
    margin-top: 40px;
    @media (min-width: $breakpoint) {
      margin-top: 30px;
    }
  }
  &__slide {

  }
  // top
  &__slide-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // date
  &__slide-date {
    @media (max-width: $breakpoint - 1px) {
      margin-left: $col-gap-m;
    }
    @media (min-width: $breakpoint) {
      margin-top: 30px;
    }

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
    color: $color-main;
  }
  // text
  &__slide-text {
    @media (max-width: $breakpoint - 1px) {
      margin-top: 30px;
    }

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  // image
  &__slide-image-container {
    display: flex;
    @media (max-width: $breakpoint - 1px) {
      justify-content: center;
    }
  }
  &__slide-image {
    @media (max-width: $breakpoint - 1px) {
      margin-top: 30px;
    }
    max-width: 334px;
    @media (min-width: $breakpoint) {
      max-width: 370px;
    }
    display: flex;
    align-items: flex-start;
  }
  &__slide-img {
    margin: 0 auto;
  }
}