.advantages {
  $comp: &;

  padding-top: 40px;
  @media (min-width: $breakpoint) {
    padding-top: 120px;
  }

  &__item {
    @media (min-width: $breakpoint) {
      position: relative;
      border-top: 1px solid $color-gray-border;
    }
    @media (max-width: $breakpoint - 1px) {
      border-top: 1px solid $color-gray-border;
      border-left: 1px solid $color-gray-border;
    }

    &:not(:first-child) {
      margin-top: -1px;
    }

    &--no-border {
      @media (min-width: $breakpoint) {
        border-top: 0;
        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }

    &--revers {

      #{$comp}__col {
        @media (min-width: $breakpoint) {
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            padding-left: calc(#{$col-width-d});
            order: 1;
          }
        }
      }

      #{$comp}__content {
        border: 0;
      }
    }
  }

  &__row {
    position: relative;
    @media (min-width: $breakpoint) {
      display: flex;
    }
  }

  &__col {
    @media (min-width: $breakpoint) {
      position: relative;
    }

    &:nth-child(1) {
      @media (max-width: $breakpoint - 1px) {
        position: absolute;
        top: -1px;
        left: -1px;
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        padding-left: calc(#{$col-part-d});

        width: 100%;
      }
      @media (max-width: $breakpoint - 1px) {
        padding-left: calc(#{$col-width-m});
      }
    }
  }

  &__layout {
    display: none;
    @media (min-width: $breakpoint) {
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      
      width: calc(#{$col-width-d} + 8px);
      
      border-left: 1px solid $color-main;
      border-bottom: 1px solid $color-main;
    }
  }

  &__container {
    $size-d: calc(#{$col-part-d}); //  137px?
    $size-m: 40px;

    width: $size-m;
    height: $size-m;
    @media (min-width: $breakpoint) {
      width: $size-d;
      height: $size-d;
    }
    display: flex;
    align-items: stretch;
    @media (max-width: $breakpoint - 1px) {
      align-items: center;
    }
    justify-content: center;

    border: 1px solid $color-gray-border;
    @media (min-width: $breakpoint) {
      margin-top: -1px;
    }
  }

  &__num {
    @include f-2();
    @include fsl(30px, 110%);
    @media (min-width: $breakpoint) {
      font-size: calc((150 / 1680) * 100vw);
    }
    color: #CDF5FA;
  }

  &__content {
    @media (min-width: $breakpoint) {
      padding-top: 60px;

      border-right: 1px solid $color-main;
    }
    @media (max-width: $breakpoint - 1px) {
      padding: 20px 0 40px;
    }
  }

  &__layer {
    display: none;
    @media (min-width: $breakpoint) {
      display: block;

      position: absolute;
      left: 8px;
      right: 0;
      z-index: 1;

      height: 100%;
      border-bottom: 1px solid $color-main;
    }
  }

  &__title {
    margin-bottom: 10px;
    @media (min-width: $breakpoint) {
      margin-bottom: 20px;

      width: calc(#{$col-part-d} * 6);
      @include fsl(34px);
    }
    @include fsl(18px, 110%);
    color: $color-main;
    @include f-2(500);
  }

  &__wrapper {
    @media (min-width: $breakpoint) {
      padding-bottom: 60px;
      padding-left: calc(#{$col-part-d});

      position: relative;
    }
  }

  &__svg {
    display: none;
    @media (min-width: $breakpoint) {
      display: flex;
      position: absolute;
      left: 0;
      top: 0;

      &--center {
        top: 40px;
      }
    }
  }

  &__line {
    display: none;
    @media (min-width: $breakpoint) {
      display: flex;
      position: absolute;
      left: 8px;
      top: 0;
      bottom: 0;

      width: 1px;
      background-color: $color-main;

      &--center {
        top: 40px;
      }
    }
  }

  &__text {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 5);
      @include fsl(16px);
    }
    @include fsl(14px, 150%);
    font-weight: 400;
  }
}

.advantages-bg {
  display: none;
  @media (min-width: $breakpoint) {
    display: block;

    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__svg {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: calc(#{$col-part-d} * 2 - #{$col-gap-d});

    &--small {
      right: auto;
      left: calc(#{$col-part-d});
      bottom: -111px;
    }
  }
}