.calc {
  width: 100%;
  background-color: #C0E4E8;

  padding: 30px 40px;

  @media (max-width: $breakpoint - 1px) {
    padding: 20px 10px 30px;
  }

  &__top {
    border-top: 1px solid $color-main;
    padding-top: 10px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;

    @media (max-width: $breakpoint - 1px) {
      justify-content: center;
      border-top: none;
      padding-top: 0;
    }
  }

  &__ttl {
    font-size: 22px;
    line-height: 140%;

    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__instruction {
    padding-top: 10px;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }

    img:last-child {
     margin-left: 30px; 
    }

    &-mob {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }

  &__teeth {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
  }

  &__left-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__right-col {
    display: flex;
    align-items: center;

    justify-content: flex-end;
  }

  &__bracket {
    border: 1px solid $color-black;
    border-radius: 10px 0 0 10px;
    border-right: none;
    height: 100%;
    width: 20px;

    margin-right: -40px;
  }

  &__bracket:last-child {
    transform: rotate(180deg);
    margin-right: 0;
    margin-left: -40px;
  }

  &__txt {
    font-size: 14px;
    line-height: 120%;
    flex: none;
    // height: 100%;
    // width: 100%;

    transform: rotate(90deg);
  }

  &__teeth-box {
    width: 90%;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__teeth-row {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .tooth-button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      position: relative;

      img {
        width: 100%;
        // position: absolute;
      }

      
    }
  }

  &__teeth-row:last-child {
    align-items: flex-start;
    margin-top: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
      background-color: #fff;
      border-radius: 40px;
      display: flex;
      align-items: center;
      
      padding: 4px 15px 4px 4px;
      margin-right: 10px;
      margin-bottom: 10px;

      .tooth-destroyed-txt, .tooth-removed-txt {
        font-size: 14px;
        line-height: 120%;
      }

      .tooth-removed-txt {
        display: none;
      }
    }

    &-removed {
      .calc__list-circle {
        border: 1px solid #738688;
        color: #738688;
      }

      .tooth-destroyed-txt {
        display: none;
      }

      .tooth-removed-txt {
        display: block;
      }
    }

    &-circle {
      border: 1px solid #E62B3E;
      color: #E62B3E;
      border-radius: 50%;

      width: 32px;
      height: 32px;
      margin: 0 8px 0 2px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.tooth-destroyed {
  position: absolute;
  // bottom: 0;

  display: none;
}

.tooth-removed {
  // position: absolute;
  // bottom: 0;

  display: none;
}

.tooth-button--destroyed {
  .tooth-destroyed {
    display: block;
  }
}

.tooth-button--removed {
  .tooth-removed {
    display: block;
  }

  .tooth-clean, .tooth-destroyed {
    display: none;
  }
}

.calc__teeth-box-mob {
  width: 90%;

  @media (min-width: $breakpoint) {
    display: none;
  }
}

.calc__teeth-row-mob {
  display: flex;
  flex-direction: column;
}

.tooth-button-mob {
  border: none;
  background-color: transparent;
}