.contacts {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: stretch;
    width: 100%;

    @media (max-width: $breakpoint-m - 1px) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &-ttl {
      width: calc(#{$col-part-d} * 2);
      font-size: 16px;

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-width-m});
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: auto;
        margin-bottom: 10px;
        font-size: 14px;
      }

      &--link {
        padding-top: 13px;
        @media (max-width: $breakpoint-m - 1px) {
          padding-top: 0;
        }
      }
    }

    &-link {
      font-size: 50px;
      color: $color-main;

      @media (max-width: $breakpoint-m - 1px) {
        font-size: 22px;
      }
    }
  }

  &-6col {
    width: calc(#{$col-part-d} * 6);

    // @media (max-width: $breakpoint) {
      
    // }

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
    }
  }

  &-3col {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }
  }

  &__weekdays {
    width: calc(#{$col-part-d});
    @media (max-width: $breakpoint - 1px) {
      width: auto;
      margin-bottom: 20px;
    }
    white-space: nowrap;
  }

  &__weekdays, &__weekend {
    font-size: 16px;

    @media (max-width: $breakpoint-m - 1px) {
      font-size: 12px;
    }
  }

  &__address {
    font-size: 22px;

    @media (max-width: $breakpoint-m - 1px) {
      font-size: 16px;
    }
  }
  
  &__social {

    @media (max-width: $breakpoint-m - 1px) {
      margin-top: 15px;
    }

    &-link {
      border: 1px solid $color-black;

      svg path {
        fill: $color-black;
      }
    }
  }

  &-ico-stroke {
    stroke: $color-black;
  }

  &-ico-fill {
    fill: $color-black;
  }
}

.contacts-map-big {
  margin: 60px 0 40px;
  @media (min-width: $breakpoint) {
    margin: 120px 0;
  }

  img {
    width: 100%;
  }
}

.contacts-map-small {
  $comp: &;

  margin-top: 40px;
  @media (min-width: $breakpoint) {
    margin-top: 120px;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-border;

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
  }

  &--mobile {
    border-bottom: 0;

    #{$comp}-item {
      padding: 10px 0 0;
    }
  }

  &-item {
    border-top: 1px solid $color-main;
    width: calc( (#{$col-part-d} * 9 - (#{$col-gap-d} * 2)) / 2);
    padding: 10px 0 40px;
    @media (min-width: $breakpoint) {
      padding: 20px 0 40px;
    }

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
   
    &__ttl {
      margin-bottom: 40px;
      font-size: 22px;

      @media (max-width: $breakpoint-m - 1px) {
        font-size: 16px;
      }
    }

    &__map {
      width: 100%;
    }

    &__desc {
      margin-top: 20px;
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }
      color: #7A9598;
      font-size: 14px;
    }
  }  

}

#map {
  height: 336px;
  
  @media (min-width: $breakpoint) {
    height: 400px;
    // margin-right: -40px;
  }
}

.placemarks {
  display: none;
}

.balloon {
  position: absolute;

  &__content {
    padding: 20px;

    background-color: $color-white;
  }
}