.dates {
  overflow: hidden;

  &__slider {
    &-dates {
      width: 1px;

      .swiper-slide {
        width: auto;
      }
    }
    &-tabs {

    }
  }

  &__dates {

  }
  &__date {
    
  }

  &__tabs {
    display: grid;
    grid-template-areas: "tab";
  }
  &__tab {
    grid-area: tab;

    opacity: 0;
    transition: $transition;

    &--active {
      opacity: 1;
    }
  }

  &__slide {
    &-item {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 20px;
    }
    &-date {
      padding-top: 14px;

      color: $color-main;
      text-align: right;
    }
    &-img {
      width: 100%;
      display: block;
    }
  }
}

//

.bless-container {
  margin: 100px;
  overflow: hidden;
}

.bless {
  display: flex;

  &__item {
    font-family: $ff-2;
    font-size: 26px;
    line-height: 36px;
    color: $color-main;

    &--active {
      font-size: 60px;
      line-height: 93px;
    }
  }
}