.form-new {
  position: relative;
  min-height: 160px;

  .form {
    align-items: flex-start;
  }

  &__ttl.news-subscribe__title {
    margin-bottom: 60px;

    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
    }
  }

  &__col {
    width: calc(50% - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    @media (min-width: $breakpoint) {
      &:first-child .form-new__label {
        height: 80px;
      }
      &:last-child .form-new__label {
        height: 240px;
      }
    }
  }

  &__label {
    width: 100%;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      border-bottom: 1px solid $color-gray-border;
      bottom: 36px;
      left: 0;
      z-index: -1;

      @media (max-width: $breakpoint - 1px) {
        bottom: 36px;
      }
    }
    &::after {
      position: absolute;
      content: '';
      bottom: 35px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $color-main;
      transform: translate3d(-100%, 0, 0);
      transition: $transition;
      z-index: 1;

      @media (max-width: $breakpoint - 1px) {
        bottom: 36px;
      }
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid transparent;
    height: 45px;
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: $color-black;
    margin-bottom: 35px;
    padding-bottom: 20px;
    transition: $transition;
    background-color: transparent;

    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
      height: 43px;
    }
  }

  &__input::placeholder {
    opacity: 1;
  }

  &__add-file {
    width: 100%;
    margin-bottom: 40px;
    // display: flex;
    // align-items: flex-start;
    // position: relative;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
    }

    &--desktop {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
    &--mobile {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &-row1 {
      display: flex;
      align-items: flex-start;
      position: relative;
      cursor: pointer;

      &:hover {
        button {
          color: $color-main;
        }
        svg path {
          fill: $color-main;
        }
      }
    }
    &-row2 {
      padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      margin-bottom: -20px;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      cursor: pointer;

      @media (min-width: $breakpoint) {
        width: 100%;
        height: 100%;
      }
    }

    button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
      @include f-1();

      font-size: 16px;
      line-height: 140%;
      font-weight: 400;

      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});

      pointer-events: none;

      @media (max-width: $breakpoint - 1px) {
        width: 220px;
        font-size: 14px;
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      }
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: $color-black;
      opacity: 0.4;

      width: calc(#{$col-part-d} * 4);
      padding-left: 20px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 12px;

        padding-left: calc(#{$col-gap-m});
        width: calc(#{$col-part-m} * 2);
      }
    }
  }

  &__file {
    // padding-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    span {
      margin-left: 5px;
      cursor: pointer;
      display: block;
      width: 20px;
      height: 20px;

      &::after, &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 20px;
        width: 1px;
        background-color: #000;
  
        // top: 0;
        right: 7px;
      }
      &::after {
        transform: rotate(45deg);
      }
      &::before {
        transform: rotate(135deg);
      }
    }
  }

  &__textarea {
    resize: none;
    height: 205px;

    @media (max-width: $breakpoint - 1px) {
      height: 80px;
    }
  }

  &__checkbox {
    display: flex;
    flex: none;
    width: calc(100% - 190px);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .checkbox::before {
      background-image: url(assets/images/checkbox.png);
      background-position: center;
    }

    .checkbox::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      border: 2px solid $color-main;
      vertical-align: middle;
      transition: 0.1s;
    }

    &-txt {
      cursor: pointer;
      font-size: 12px;
      line-height: 140%;
      padding-left: 20px;

      @media (min-width: $breakpoint-ll) {
          width: 340px;
      }
      @media (max-width: $breakpoint - 1px) {
        padding-left: 15px;
      }
      @media (max-width: 380px) {
        padding-left: 10px;
      }

      a {
        color: $color-main;
      }
    }
  }

  &__button {
    border: none;
    background-color: transparent;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 20px;

      svg {
        width: 34px;
      }
    }
  }
  .parsley-errors-list#parsley-id-multiple-checkbox {
    margin-top: 5px;
  }
}

.form-new__input.parsley-error {
  border-bottom: 1px solid #E62B3E;
}
.form-new__checkbox.parsley-error {
  color: #E62B3E;
  
  a {
    color: #E62B3E;
  }
  .checkbox::before {
    border: 1px solid #E62B3E;
  }
}

.form-2col {
  .form-new__label {
    &::before, &::after {
      top: 44px;
      bottom: unset;

      @media (max-width: $breakpoint - 1px) {
        top: 42px;
      }
    }
  }

  .form-new__textarea-label {
    &::before, &::after {
      top: 204px;
  
      @media (max-width: $breakpoint - 1px) {
        top: 79px;
      }
    }
  }
}

.checkbox {
  cursor: pointer;
}