// Блок с подпиской на новости
  
.news-subscribe {
  position: relative;
  margin: 160px 0;
  @media (max-width: $breakpoint - 1px) {
    margin: 60px 0;
  }

  &--bottom {
    margin-top: 0;
    margin-bottom: 60px;
    @media (min-width: $breakpoint) {
      margin-bottom: 160px;
    }
  }

  &__title {
    font-weight: 500;
    // font-size: 50px;
    // line-height: 140%;
    letter-spacing: -0.7px;

    @include title-h2();
    
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    // @media (max-width: $breakpoint-l + 1px) {
    //   font-size: 35px;
    // }
    @media (max-width: $breakpoint - 1px) {
      width: auto;
      margin-bottom: 10px;
    }
    // @media (max-width: $breakpoint-961) {
    //   font-size: 20px;
    // }
  }

  &__container {
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;
    height: 150px;

    margin-bottom: -10px;

    @media (max-width: $breakpoint - 1px) {
      flex-direction: row;
      height: auto;
    }

    .news-subscribe__form-checkbox {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
    .parsley-errors-list#parsley-id-multiple-checkbox {
      margin-top: 5px;
      // order: 0;
      text-align: left;
    }
  }

  &__input {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    flex: none;

    border: none;
    border-bottom: 1px solid $color-gray-border;

    margin-bottom: 23px;
    padding: 20px 0;

    transition: $transition;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3);
    }

    @media (max-width: 385px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
    }
  }

  &__checkbox {
    @media (max-width: $breakpoint - 1px) {
      order: 1;
    }
  }

  &__form {
    display: flex;
    // align-items: center;
    // justify-content: space-between;

    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      align-items: flex-start;
      justify-content: unset;
    }

    &-col {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      flex: none;

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 3);
        flex: unset;
      }
    }

    &-btn {
      border: none;
      background: transparent;
      cursor: pointer;

      margin: 8px 0 0 20px;

      // margin-left: 20px;
      // margin-right: 0;

      // width: calc(#{$col-part-d} - 20px);
      @media (max-width: $breakpoint - 1px) {
        // width: auto;
        display: flex;
        // margin-top: 30px;
        margin: -12px 0 0 20px;
      }

      &-ico {
        width: 51px;
        // height: 45px;
        @media (min-width: $breakpoint) {
          // width: calc(#{$col-part-d} - 20px);
          width: 60px;
        }
      }

      .mission__missions-links-text {
        margin-left: 0;
      }
    }

    &-email {
      border: none;
      // border-bottom: 1px solid $color-gray-border;
      width: 100%;

      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      color: $color-black;
      background-color: transparent;

      margin-bottom: 23px;
      padding: 20px 0;

      transition: $transition;

      position: relative;

      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
        padding: 0 0 20px;
        margin-bottom: 35px;
      }
    }

    &-placeholder {
      &--flex {
        display: flex;
        align-items: stretch;
      }
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        content: '';
        // display: block;
        width: 100%;
        border-bottom: 1px solid $color-gray-border;
        bottom: 25px;
        left: 0;
        // z-index: 0;
      }
      &::after {
        position: absolute;
        content: '';
        bottom: 24px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid $color-main;
        transform: translate3d(-100%, 0, 0);
        transition: $transition;
        z-index: 1;
      }
    }

    &-placeholder input::placeholder {
      color: $color-black;
      opacity: 1;

      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
      }
    }

    &-placeholder textarea::placeholder {
      color: $color-black;
      opacity: 1;

      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
      }
    }

    &-checkbox {
      display: flex;
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      flex: none;
      position: relative;

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        // order: 1;
      }

      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
      }

      input[type="checkbox"]:checked + .checkbox::before {
        background-image: url(assets/images/checkbox.png);
        background-position: center;
      }
      
      .checkbox::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid $color-main;

        // margin-left: -40px;
        // margin-right: 15px;
        vertical-align: middle;
        transition: 0.1s;
      }
      
      p {
        cursor: pointer;
        font-size: 12px;
        line-height: 140%;

        padding-left: 20px;
        @media (min-width: $breakpoint-ll) {
            width: 340px;
        }
        @media (max-width: $breakpoint - 1px) {
          padding-left: 15px;
        }
        @media (max-width: 380px) {
          padding-left: 10px;
        }
      }

      a {
        color: $color-main;
      }
    }
  }
}

.form {
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  align-items: flex-start;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
    // align-items: flex-start;
  }

  &__title {
    width: calc(#{$col-part-d} * 6);

    font-size: 50px;
    line-height: 140%;
    letter-spacing: -0.7px;
    @media (max-width: $breakpoint-l - 1px) {
      font-size: 35px;
    }
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
    @media (max-width: $breakpoint-m - 1px) {
      font-size: 20px;
    }
  }
}

.form--hidden {
  // opacity: 0;
  display: none;
  // @media (min-width: $breakpoint) {
  //   visibility: hidden;
  //   opacity: 0;
  // }
  // @media (max-width: $breakpoint - 1px) {
  //   display: none;
  // }
}

.member-page-ask__form-wrapper.form.form--hidden {
  display: none;
  // @media (max-width: $breakpoint - 1px) {
  //   display: none;
  // }
}

.response {
  position: absolute;
  @media (min-width: $breakpoint) {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
  }
  opacity: 0;
  visibility: hidden;
  transition: .5s;

  h2 {
    font-size: 50px;
    line-height: 140%;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-l - 1px) {
      font-size: 35px;
    }
    @media (max-width: $breakpoint-m - 1px) {
      font-size: 20px;
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
    @media (max-width: $breakpoint - 1px) {
      position: static;
    }
  }
}

// Стили для форм с несколькими полями

.member-page-ask {
  @media (min-width: $breakpoint) {
    padding-left: $col-gap-d;
  } 
  align-items: unset;
  flex-direction: column;

  &__title {
    width: 100%;
    margin-bottom: 80px;

    @media (max-width: $breakpoint - 1px) {
      font-size: 22px;
      margin-bottom: 40px;
    }

    &--md {
      @media (min-width: $breakpoint-ll) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      }
    }
  }

  &__form {
    align-self: flex-end;
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    min-height: 160px;
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      padding-right: 0;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .news-subscribe__form-btn {
        margin-right: 20px;
        @media (max-width: $breakpoint - 1px) {
          margin-left: 0;
          margin-top: 20px;
        }

        @include f-1(400);

        &-ico {
          margin-right: 20px;

          @media (max-width: $breakpoint - 1px) {
            margin-right: 10px;
            max-width: 34px;
          }
        }
      }
    }
  }

  &__label {
    width: 100%;

    textarea {
      margin-bottom: 40px;
      resize: none;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 30px;
      }
    }
  }

  &__checkbox {
    width: calc(#{$col-part-d} * 3);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }
}

// Стили ошибок при валидации

.parsley-errors-list {
  color: #E62B3E;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-align: right;
  margin-top: -15px;
  order: 1;
}

.news-subscribe__form-email.parsley-error {
  border-bottom: 1px solid #E62B3E;
}

.form-error.news-subscribe__form-placeholder::before {
  border-bottom-color: #E62B3E;
}

.news-subscribe__form-checkbox.parsley-error {
  p {
    color: #E62B3E;
  }
  a {
    color: #E62B3E;
  }
  .checkbox::before {
    border: 1px solid #E62B3E;
  }
}

.parsley-errors-list#parsley-id-multiple-checkbox {
  width: 50%;
  margin-top: -5px;
  text-align: left;
}

.news-subscribe__form.member-page-ask__form {
  .response {
    @media (min-width: $breakpoint) {
      padding-left: $col-gap-d;
    }
  }
}

.news-subscribe__title.member-page-ask__title.mb80-60 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }
}

.display-none {
  display: none;
}

.response-full-with {
  position: relative;

  .response {
    padding-left: 0;
    margin-left: calc(#{$col-part-d} * (-3));

    @media (max-width: $breakpoint - 1px) {
      margin-left: 0;
    }
  }
}

.member-page-ask__form-wrapper.form {
  @media (max-width: $breakpoint - 1px) {
    flex-direction: row;
  }
}

.response-not-modal.response--active {
  position: absolute;
}

.modal-btn {
  width: calc(#{$col-part-d} * 2 - #{$col-gap-d});

  .news-subscribe__form-btn {
    margin: 0;
  }
}

// Input animation

// .input {
// 	position: relative;
// 	z-index: 1;
// 	display: inline-block;
// 	margin: 1em;
// 	max-width: 400px;
// 	width: calc(100% - 2em);
// 	vertical-align: top;
// }

// .input__field {
// 	position: relative;
// 	display: block;
// 	float: right;
// 	padding: 0.8em;
// 	width: 60%;
// 	border: none;
// 	border-radius: 0;
// 	background: #f0f0f0;
// 	color: #aaa;
// 	font-weight: bold;
// 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	-webkit-appearance: none; /* for box shadows to show on iOS */
// }

// .input__field:focus {
// 	outline: none;
// }

// .input__label {
// 	display: inline-block;
// 	float: right;
// 	padding: 0 1em;
// 	width: 40%;
// 	color: #6a7989;
// 	font-weight: bold;
// 	font-size: 70.25%;
// 	-webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// 	-webkit-touch-callout: none;
// 	-webkit-user-select: none;
// 	-khtml-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// }

// .input__label-content {
// 	position: relative;
// 	display: block;
// 	padding: 1.6em 0;
// 	width: 100%;
// }

// .graphic {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	fill: none;
// }

// .icon {
// 	color: #ddd;
// 	font-size: 150%;
// }

// Input animation

// .news-subscribe__form-email:focus {

// }

// .input--hoshi {
// 	overflow: hidden;
// }

// .input__field--hoshi {
// 	margin-top: 1em;
// 	padding: 0.85em 0.15em;
// 	width: 100%;
// 	background: transparent;
// 	color: #595F6E;
// }

// .input__label--hoshi {
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	padding: 0 0.25em;
// 	width: 100%;
// 	height: calc(100% - 1em);
// 	text-align: left;
// 	pointer-events: none;
// }

// .input__label-content--hoshi {
// 	position: absolute;
// }

// .input__label--hoshi::before,
// .input__label--hoshi::after {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: calc(100% - 10px);
// 	border-bottom: 1px solid #B9C1CA;
// }

// .input__label--hoshi::after {
// 	margin-top: 2px;
// 	border-bottom: 4px solid red;
// 	-webkit-transform: translate3d(-100%, 0, 0);
// 	transform: translate3d(-100%, 0, 0);
// 	-webkit-transition: -webkit-transform 0.3s;
// 	transition: transform 0.3s;
// }

// .input__label--hoshi-color-1::after {
// 	border-color: hsl(200, 100%, 50%);
// }

// .input__label--hoshi-color-2::after {
// 	border-color: hsl(160, 100%, 50%);
// }

// .input__label--hoshi-color-3::after {
// 	border-color: hsl(20, 100%, 50%);
// }

// .input__field--hoshi:focus + .input__label--hoshi::after,
// .input--filled .input__label--hoshi::after {
// 	-webkit-transform: translate3d(0, 0, 0);
// 	transform: translate3d(0, 0, 0);
// }

// .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
// .input--filled .input__label-content--hoshi {
// 	-webkit-animation: anim-1 0.3s forwards;
// 	animation: anim-1 0.3s forwards;
// }

// @-webkit-keyframes anim-1 {
// 	50% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(1em, 0, 0);
// 		transform: translate3d(1em, 0, 0);
// 	}
// 	51% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(-1em, -40%, 0);
// 		transform: translate3d(-1em, -40%, 0);
// 	}
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, -40%, 0);
// 		transform: translate3d(0, -40%, 0);
// 	}
// }

// @keyframes anim-1 {
// 	50% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(1em, 0, 0);
// 		transform: translate3d(1em, 0, 0);
// 	}
// 	51% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(-1em, -40%, 0);
// 		transform: translate3d(-1em, -40%, 0);
// 	}
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translate3d(0, -40%, 0);
// 		transform: translate3d(0, -40%, 0);
// 	}
// }


.input-focus {
  &.news-subscribe__form-placeholder::after {
    transform: translate3d(0, 0, 0);
  }
}