.header-modal {
  $component: &;
  
  // ?
  $col-count: 12;
  $col-gap: $col-gap-d;
  $col-width: '((100% - (#{$col-gap} * #{$col-count - 1})) / #{$col-count})';
  $col-part: '(#{$col-width} + #{$col-gap})';

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-200%);

  background-color: $color-blue-light; // ?
  transition: $transition;
  overflow-y: scroll;

  &[data-modal-active] {
    z-index: 1;
    transform: translate(0);
  }

  &--desktop {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }
  &--mobile {
    padding-top: 100px;
    padding-bottom: 40px;
    position: fixed;
    // bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    // transform: translateX(100%); // ?
    background-color: $color-white;
    @media (min-width: $breakpoint) {
      display: none;
    }
  }
  
  &__row {
    display: flex;
    align-items: stretch;

    &--mobile {
      justify-content: space-between;
    }
  }
  &__col {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part} * 3 - #{$col-gap});
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: $col-gap;
      }

      &--highlight--main {
        border-top: 1px solid $color-main;
      }
      &--highlight--gray-border {
        border-top: 1px solid $color-gray-border;
      } 
    }
    
  }

  &__content {
    padding-top: 40px;
  }

  &__inner {
    padding: 40px 0 80px;
  }

  &__list {
    &--small {
      #{$component}__list-item {
        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
    
    &--tabs {
      &:not([data-tabs-active]) {
        display: none;
      }
    }
  }
  &__list-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 34px;

    &--small {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__link {
    cursor: pointer;
    transition: $transition;

    &:hover,
    &[data-tabs-active] {
      color: $color-main;
    }
  }

  &__nav-item {
    margin-top: 15px;
  }
  &__nav-link {
    @include fsl(16px, 140%);
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }
}

.header-section {
  $comp: &;
  
  border-bottom: 1px solid $color-gray-border;

  &__item {
    padding: 0 20px;

    border-top: 1px solid $color-gray-border; 

    &--active {
      border-color: $color-main;
      #{$comp}__button {
        .header__drop-text {
          color: $color-main;
        }

        .header__drop-svg {
          transform: rotate(180deg);
          path {
            fill: $color-main;
          }
        }
      }
    }
  }

  &__button {
    padding: 15px 0;
  }

  &__dropdown {
    display: none;
  }

  &__section {
    // border-top: 1px solid $color-gray-border;

    &--active {
      border-color: $color-main;

      #{$comp}__section-button {
        .header__drop-text {
          color: $color-main;
        }

        .header__drop-svg {
          transform: rotate(180deg);
          path {
            fill: $color-main;
          }
        }
      }
    }
  }

  &__section-button {
    padding: 15px 0;
  }

  &__section-dropdown {
    display: none;
  }

  &__links {
    padding-bottom: 15px;
  }
  &__links-item {
    padding-left: 20px;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}