.modal-forms {

  // width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  // display: none;
  // position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;

  // overflow-y: hidden;

  display: flex;

  &__wrapper {
    transform: translateX(-100%);
    transition: $transition;
    display: flex;
    position: relative;
    z-index: 110;

    // background-color: #fff;

    // @include scrollbar-hidden();
  }

  &__background {
    background-color: black;
    opacity: 0;

    transition: $transition;

    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__form {
    width: calc(#{$col-part-d} * 5 + #{$col-gap-d});
    // height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    
    padding: 60px 40px;
    position: relative;

    @include scrollbar-hidden();

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 4);
      padding: 20px;

      // .form--hidden {
      //   display: none;
      // }
    }

    .form {
      // display: unset;
      flex-direction: column;
      align-items: flex-start;

      // padding-bottom: 60px;

      @media (max-width: $breakpoint - 1px) {
        padding-bottom: 0;
      }

      // .news-subscribe__form-email {
      //   @media (max-width: $breakpoint - 1px) {
      //     padding: 0 0 20px;
      //     margin-bottom: 32px;
      //   }
      // }
    }

    form {
      margin-top: 60px;

      @media (max-width: $breakpoint - 1px) {
        margin-top: 20px;
      }
    }

    .response {
      margin: 60px 40px 0 40px;

      @media (max-width: $breakpoint - 1px) {
        margin: 0;
      }
    }

    .response--active {

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 3);
      }
    }

    .member-page-ask__checkbox {
      padding-right: 20px;
    }

    .member-page-ask__label {
      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 4 - (#{$col-gap-m} * 2)); 
      }
    }

    .member-page-ask__form-wrapper {
      width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }

  &__ttl {
    font-size: 40px;
    line-height: 140%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 22px;
      width: calc(#{$col-part-m} * 3);
    }
  }

  &__close {
    // width: 100%;
    padding: 40px 0 0 20px;
    position: relative;

    @media (max-width: $breakpoint - 1px) {
      // display: none;
      margin-left: -70px;
      padding: 0;
      width: unset;
    }

    &-btn {
      width: 70px;
      height: 70px;
      border: none;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;

      position: relative;
    }

    .close:before, .close:after {
      position: absolute;
      top: 23px;
      left: 34px;
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: #333;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }

  &__add-file.transfer-consult__add-file {
    @media (max-width: 340px) {

      button {
        margin-right: 5px;
      }
      
      .transfer-consult__add-file-ico {
        margin-right: 5px;
      }
    }
  }
}

.vacancy--modal-open {
  transform: none;

  .modal-forms__wrapper {
    transform: none;
  }

  .modal-forms__background {
    opacity: .3;
  }
}

.body-fixed {
  position: fixed;
}

.vacancy-modal-btn {
  width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
  display: flex;
  justify-content: flex-end;

  @media (max-width: $breakpoint - 1px) {
    justify-content: flex-start;
    width: auto;
  }

  .news-subscribe__form-btn {
    margin: 0;
  }
}


.tooltip {
  cursor: pointer;

  &-window {
    .modal-forms__form {
      width: calc(#{$col-part-d} * 4);

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 4);
      }
    }
  }

  &__img {
    margin-bottom: 40px;
  }
  &__ttl {
    font-size: 22px;
    line-height: 140%;

    margin-bottom: 20px;
  }
  &__txt {
    p {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    ul {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    li {
      margin-bottom: 20px;
      padding-left: calc(#{$col-part-d} - #{$col-gap-d});

      &::before {
        content: '';
        display: inline-block;
        background-color: $color-main;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: calc(#{$col-part-d} - #{$col-gap-d} - 3px);
        margin-left: calc((#{$col-part-d} - #{$col-gap-d}) * (-1));
  
        @media (max-width: $breakpoint - 1px) {
          margin-left: -27px;
          margin-right: 24px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.modal-forms.modal-forms-header {
  z-index: 1100;
}