.prosthetics {

  &__image {
    .about__image-background .about__image-svg:nth-child(1) {
      top: unset;
      left: calc(#{$col-part-d});
      bottom: 0;
      transform: translateY(50%);
    }
  }
}

.prosthetics-nav {

  .mission__spoiler--active .mission__spoiler-button {
    background-color: unset;
  }

  .nav__item--active .nav__link {
    font-size: 18px;
    line-height: unset;
  }

  .nav__item::before {
    top: 10px;
  }

  .mission__spoiler {
    border: none;
    margin: 20px 0 20px;

    .mission__spoiler-button{
      min-height: unset;
    }
    .news-spoiler__button{
      padding: 0 0 0 40px;
    }
    .mission__spoiler-drop.news-spoiler__drop {
      // padding-left: 40px;
      // padding-top: 20px;
      padding: 0 0 0 40px;
    }
  
    .nav__item--active .nav__link {
      font-size: 18px;
    }
  
    .news-spoiler__button .news-spoiler__image {
      border-radius: 50%;
      background-color: $color-gray-border;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .header__drop-svg {
        width: 8px;
        
        path {
          fill: #fff;
        }
      }
    }
  }

  .mission__spoiler:first-child {
    margin-top: 0;
  }

  .mission__spoiler:last-child {
    margin-bottom: 0;
  }
}

.prosthetics-nav .mission__spoiler--active .news-spoiler__button .news-spoiler__image {
  background-color: $color-main
}

.prosthetics-spoiler {
  display: flex;
  align-items: center;

  &__drop {
    padding-top: 10px;
    padding-left: 20px;

    ul li a {
      font-size: 12px;
      line-height: 160%;
    }
  }
}

.prosthetics-link-svg {
  height: 22px;
  margin-left: 10px;
}

.prosthetics-block {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 160px;

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
  }

  &__ttl {
    font-size: 40px;
    width: 100%;
    margin-bottom: 80px;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 40px;
      font-size: 22px;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;

    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    margin-right: calc(#{$col-part-d});

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      margin-right: calc(#{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__desc {
    width: calc(#{$col-part-d} * 3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }

    &-txt {
      font-size: 16px;
      border-left: 1px solid $color-main;
      padding-left: calc(#{$col-gap-d});
      margin-bottom: 60px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 14px;
      }

      @media (max-width: $breakpoint-m - 1px) {
        margin-bottom: 40px;
      }
    }

    &-txt:last-child {
      margin-bottom: 0;
    }
  }
}

.prosthetics-txt-highlight {
  font-family: $ff-alt;
  font-style: italic;
  color: $color-main;
  font-weight: 700;
  line-height: 140%;
  font-size: 20px;
}

.prosthetics-block__lab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin-bottom: 160px;
  padding-top: 40px;
  border-top: 1px solid $color-main;

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
    padding-top: 10px;
  }

  h2 {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    font-size: 40px;
    letter-spacing: -0.5px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      font-size: 18px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  p {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    margin-bottom: 80px;
    font-size: 16px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      font-size: 14px;
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }

  img {
    margin-bottom: -20%;

    // transform: translateY(50%);
    // margin-top: -250px;

    // @media (max-width: $breakpoint) {
    //   margin-top: -190px;
    // }
  }
}

.prosthetics-block__practice {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: calc(20% + 150px) 0 160px;

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
    padding: calc(20% + 60px) 0 60px;
  }

  &-desc {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      margin-bottom: 40px;
    }

    h2 {
      font-size: 40px;
      line-height: 140%;
      margin-bottom: 40px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 22px;
      }
    }
  
    p {
      font-size: 18px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
      }
    }
  }
  

  &-circle {
    border: 1px solid $color-main;
    border-radius: 50%;
    width: calc(#{$col-part-d} * 4);
    height: calc(#{$col-part-d} * 4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding: 10px 70px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      height: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      height: calc(100vw - 40px);
      margin-bottom: 60px;
    }

    .practice-circle {
      // margin: 40px 0;
      max-width: 41px;
      flex: none;
      // @media (max-width: $breakpoint) {
      //   min-width: 27px;
      // }
    }

    .practice-circle:last-child {
      transform: rotate(180deg);
    }
  }

  &-ttl {
    font-family: $ff-2;
    font-style: italic;
    font-weight: normal;
    font-size: 100px;
    line-height: 80%;

    // margin-bottom: 40px;
    margin: 10px 0;

    @media (max-width: $breakpoint - 1px) {
      font-size: 50px;
    }
  }

  &-txt {
    font-size: 20px;
    line-height: 140%;

    margin: 10px 0;

    @media (max-width: $breakpoint - 1px) {
      font-size: 14px;
    }
  }
}

.prosthetics-block__practice-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  h2 {
    font-size: 40px;
    line-height: 140%;
    width: calc(#{$col-part-d} * 4);
    margin-bottom: 60px;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      font-size: 22px;
      margin-bottom: 40px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }
  }

  li {
    margin-right: 90px;
    font-size: 16px;
    line-height: 140%;
    width: 20%;
    padding-left: 30px;

    // display: flex;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  li::before {
    content:url('assets/images/hexagon.svg');
    margin-left: -30px;
    // display: block;
    // color: $color-main;

  }

  li:last-child {
    margin-right: 0;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 0;
    }
  }
}

.prosthetics-stages {
  ul {
    margin-left: calc(#{$col-part-d});

    @media (max-width: $breakpoint - 1px) {
      margin-left: 0;
    }
  }
}

.prosthetic-slider {
  margin-bottom: 160px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }

  &__ttl {
    margin-bottom: 80px;
    font-size: 50px;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 40px;
      font-size: 22px;
    }
  }

  &__slide {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    // display: flex;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
    }

    p {
      margin-top: 20px;
      font-size: 20px;
      line-height: 160%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
        line-height: 160%;
      }
    }

    img {
      width: 100%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 20px;
    }
  }

  &__filter {
    display: flex;
    
  }
}

.prosthetics-ask {
  display: flex;
}

.prosthetics-img {
  margin: 120px 0;
  position: relative;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0 46px;
  }

  &__price {
    position: absolute;
    z-index: 1;

    top: 0;
    right: 0;

    padding: 24px 30px;
    margin: 20px 30px;
    background-color: #fff;
    border-radius: 10px;

    font-size: 30px;
    line-height: 140%;

    @media (max-width: $breakpoint-m - 1px) {
      font-size: 20px;
      padding: 20px;
      margin: 10px;
    }
  }

    img {
      position: relative;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
}