.console {
  position: fixed;
  z-index: 10000000000;
  top: 0;
  left: 0;

  width: 200px;
  height: 200px;
  overflow-y: auto;
  
  background-color: cadetblue;
  color: black;
}

.seq {
  position: relative;
  z-index: -1;
  left: calc(-#{$col-pad-d} - #{$col-part-d} * 3);

  margin-top: 15px;
  width: 100vw;
  height: 1000vh; // ?
  
  &__fullscreen {
    position: -webkit-sticky;
    position: sticky;
    z-index: 0;
    top: 0;

    height: 100vh;
  }

  &__gradient {
    position: absolute;
    z-index: -1;
    top: -364px;
    left: 0;
    right: 0;

    height: 1925px;
    pointer-events: none;

    background: linear-gradient(180deg, #DCF4F9 0%, #FFFFFF 100%);
  }

  $top-height: 70px;
  &__top {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: calc(#{$col-pad-d} + #{$col-part-d} * 3);
    padding-right: calc(#{$col-pad-d});
    height: $top-height;

    transition: $transition;

    &--active {
      background-color: white;
    }
  }
  &__bottom {
    padding: 60px 40px 70px;
    height: calc(100% - #{$top-height});
  }

  &__background {
    position: relative;
    z-index: 0;

    height: 100%;
    overflow: hidden;

    background-color: white;
    border-radius: 20px;
  }

  &__canvas {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
  }

  &__texts {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: calc(#{$col-part-d});

    width: calc(#{$col-part-d} * 3);

    transition: $transition;

    &-item {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__text {
    padding-top: 20px;
    pointer-events: none;

    opacity: 0;
    border-top: 1px solid $color-main;
    font-size: 20px;
    line-height: 32px;
    transition: $transition;

    &--active {
      pointer-events: all;

      opacity: 1;
    }
  }
}
