.seq {
  $comp: &;

  position: relative;
  z-index: -1;
  left: calc(-#{$col-pad-d} - #{$col-part-d} * 3);
  @media (max-width: #{$breakpoint - 1px}) {
    left: auto;
  }

  margin-top: 15px;
  @media (max-width: #{$breakpoint - 1px}) {
    margin-top: 0;
  }
  width: 100vw;
  @media (max-width: #{$breakpoint - 1px}) {
    width: auto;
  }
  height: 2000vh;
  @media (max-width: #{$breakpoint-t - 1px}) {
    height: 100000vh;
  }

  &__fullscreen {
    position: -webkit-sticky;
    position: sticky;
    z-index: 0;
    top: 0;

    @media (max-width: #{$breakpoint - 1px}) {
      padding-top: 44px;
    }
    height: 100vh;
  }

  &__gradient {
    position: absolute;
    z-index: -1;
    top: -364px;
    @media (max-width: #{$breakpoint - 1px}) {
      top: calc(-1 * (41px + 20px));
    }
    @media (min-width: #{$breakpoint-961}) and (max-width: #{$breakpoint - 1px}) {
      top: calc(-1 * (81px + 20px));
    }
    left: 0;
    right: 0;
    @media (max-width: #{$breakpoint - 1px}) {
      $pad: 20px;
      left: -$pad;
      right: -$pad;
    }

    height: 1925px;
    @media (max-width: #{$breakpoint - 1px}) {
      // height: 750px;
    }
    pointer-events: none;

    background: linear-gradient(180deg, #dcf4f9 0%, #ffffff 100%);
    @media (max-width: #{$breakpoint - 1px}) {
      // background: linear-gradient(180deg, #D7F1F7 0%, #FFFFFF 100%);
    }
  }

  $top-height: 70px;
  &__top {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: calc(#{$col-pad-d} + #{$col-part-d} * 3);
    padding-right: calc(#{$col-pad-d});
    height: $top-height;
    @media (max-width: #{$breakpoint - 1px}) {
      padding: 0;
      height: auto;
    }

    transition: $transition;

    &--active {
      background-color: white;
    }

    .navigation {
      @media (max-width: #{$breakpoint - 1px}) {
        display: none;
      }
    }

    .mission__spoiler {
      @media (min-width: #{$breakpoint}) {
        display: none;
      }
    }
    .mission__spoiler-button {
      padding-top: 0;
      min-height: 41px;
    }
    .news-spoiler__drop {
      padding-bottom: 25px;
    }
  }
  &__bottom {
    padding: 60px 40px 70px;
    @media (max-width: #{$breakpoint - 1px}) {
      padding: 20px 0;
    }
    height: calc(100% - #{$top-height});
    @media (max-width: #{$breakpoint - 1px}) {
      height: 100%;
    }
    @media (min-width: $breakpoint-t) {
      display: flex;
      align-items: center;
    }
  }

  &__background {
    position: relative;
    z-index: 2;

    @media (min-width: $breakpoint-t) {
      width: 100%;
    }
    height: 100%;
    overflow: hidden;

    background-color: white;
    border-radius: 20px;
  }

  &__canvas {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
  }

  &__under {
    position: relative;
    z-index: 1;

    overflow: hidden;
  }

  &__texts {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: calc(#{$col-part-d});

    width: calc(#{$col-part-d} * 3);

    transition: 0.25s;

    @media (max-width: #{$breakpoint - 1px}) {
      right: $col-pad-m;
      width: calc(50% - #{$col-pad-m * 2});
    }

    @media (max-width: #{$breakpoint-t - 1px}) {
      position: static;

      width: auto;
      height: 100%;
    }

    &--mobile {
      @media (min-width: $breakpoint-t) {
        display: none;
      }
    }
    &--desktop {
      @media (max-width: $breakpoint-t - 1px) {
        display: none;
      }
    }

    &-item {
      height: 100%;
      display: flex;
      align-items: center;

      @media (max-width: #{$breakpoint-t - 1px}) {
        padding-top: 10px;
        display: block;
      }
    }
  }
  &__text {
    padding-top: 20px;
    pointer-events: none;

    opacity: 0;
    border-top: 1px solid $color-main;
    font-size: 20px;
    line-height: 32px;
    transition: $transition;

    @media (max-width: #{$breakpoint - 1px}) {
      padding-top: 10px;

      font-size: 14px;
      line-height: 22px;
    }

    &--active {
      pointer-events: all;

      opacity: 1;
    }

    ul {
      margin-top: 20px;

      @media (max-width: #{$breakpoint - 1px}) {
        margin-top: 10px;
      }
    }
    li {
      position: relative;
      z-index: 0;

      padding-left: 31px;

      font-size: 16px;
      line-height: 22px;

      @media (max-width: #{$breakpoint - 1px}) {
        font-size: 14px;
        line-height: 20px;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;

        content: "•";
        pointer-events: none;

        color: $color-main;

        @media (max-width: #{$breakpoint - 1px}) {
          font-size: 16px;
          line-height: 22px;
        }
      }

      &:not(:first-child) {
        margin-top: 10px;

        @media (max-width: #{$breakpoint - 1px}) {
          margin-top: 5px;
        }
      }
    }
    h6 {
      margin-bottom: 20px;

      font-size: 30px;
      line-height: 42px;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 10px;

        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}
