.content {
  &-before,
  &-after {
    min-height: 150vh;

    background-color: aquamarine;
  }
}

.seq {
  min-height: 500vh;
  
  &__fullscreen {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    height: 100vh;
    
    background-color: plum;
  }

  &__top {
    height: 20vh;

    border: 5px solid lightgreen;
  }
  &__bottom {
    position: relative;
    z-index: 0;

    padding: 50px;
    height: 80vh;

    border: 5px solid lightsalmon;
  }

  &__canvas {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: $transition;

    &--active {
      opacity: 1;
    }

    &-container {
      position: absolute;
      top: 0;
      right: 0;

      width: calc(100% / 3);
    }
  }
}
