.sidebar {
  // отступ для шапки + отступ от верхней границы viewport'a
  padding: calc(110px + 140px) 0 160px;

  &__container {
    height: 100%;
  }

  &__sidebar {
    // стили библиотеки
    will-change: min-height;
    // стили библиотеки
  }
  &__sidebar-inner {
    // стили библиотеки
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    // стили библиотеки

    &--pointer-events {
      &--all {
        pointer-events: all;
      }
    }
  }
}
