.sidebar-container {
  padding-top: 110px;
  width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

  position: absolute;
  top: 0;
  left: 0;

  // display: flex;
  // align-items: flex-start;

  .nav__container {
    padding-top: 0;
  }
}

.sidebar-nav {
  padding-top: 140px;
  // height: auto;
  // height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;

  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;

  @include scrollbar-hidden();

  &__inner {
    // overflow-y: scroll;
    // height: 226px;

    // height: 100vh;
    // // max-height: 100vh;
    // overflow-y: scroll;
  }
}

.sidebar-nav-spoiler {
  $comp: &;

  // margin: 20px 0 20px;
  

  &--current {
    &::before {
      opacity: 1;
      top: unset;
    }
  }

  &--active {

    #{$comp}__arrow {
      background-color: $color-main;
      transform: rotate(180deg);
    }

    // #{$comp}__drop {
    //   display: block;
    // }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: $transition;

    padding-bottom: 20px;

    &:hover {
      .nav__link {
        color: $color-main;
      }
    }
  }

  &__arrow {
    border-radius: 50%;
    background-color: #CCE3E6;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition;

    // width: calc(#{$col-part-d});

    svg {
      width: 8px;
      transition: $transition;

      path {
        fill: #fff;
      }
    }
  }

  &__drop {
    display: none;
    padding-left: 60px;
    padding-bottom: 30px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      a {
        transition: $transition;
      }

      &--active,
      &:hover {
        a {
          color: $color-main;
        }
      }

      .nav__link {
        font-size: 12px;
        line-height: 160%;

        transition: $transition;

        &:hover {
          color: $transition;
        }
      }
    }
  }
}
