.spec-implant-block {
  display: flex;

  margin: 120px 0 80px;
  padding-top: 30px;
  border-top: 1px solid $color-main;

  &__ttl {
    width: calc(#{$col-part-d} * 3);

    font-size: 40px;
    line-height: 140%;
  }

  &__desc {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    p {
      margin-bottom: 40px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.spec-implant-hexagon {
  display: flex;
  // width: 100%;

  &__box {
    width: calc(#{$col-part-d} * 4);
    position: relative;
  }

  &__txt {
    position: absolute;
    z-index: 1;

    margin: 15% 0 0 80px;

    &-ttl {
      margin-bottom: 20px;

      font-family: $ff-alt;
      color: $color-main;
      font-style: italic;
      font-weight: normal;
      font-size: 40px;
      line-height: 110%;
      text-align: center;
    }

    &-desc {
      font-size: 18px;
      line-height: 150%;
    }
  }

  &__svg {
    position: relative;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
}

.spec-implant-spoiler {
  .mission__spoilers {
    max-width: unset;
    width: calc(#{$col-part-d} * 6);
  }

  &__drop {
    padding: 20px 40px 60px 40px;
  }

  &__imgs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
      width: calc(50% - 10px);
    }
  }

  &__list {
    width: 100%;

    ul li {
      padding-left: unset;

      p {
        width: 100%;
      }
    }

    ul li::before {
      background: url('assets/images/spec-implant-list-ico.svg') no-repeat;
      width: 21px;
      height: 24px;

      margin-left: unset;
      margin-right: 20px;
      padding-top: unset;
      color: #fff;
      font-size: 14px;
    }
  }

  &__txt {
    padding-left: calc(#{$col-width-d});

    p {
      margin-bottom: 20px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}