.spec-implant-desc {
  margin-bottom: 120px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }
}

.spec-implant-block {
  display: flex;

  margin-bottom: 80px;
  padding-top: 30px;
  border-top: 1px solid $color-main;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
    padding-top: 10px;
  }

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
  }

  &__ttl {
    width: calc(#{$col-part-d} * 3);
    padding-right: calc(#{$col-gap-m});

    font-size: 40px;
    line-height: 140%;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m});
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 140%;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }

  &__desc {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }

    &-highlight {
      font-family: $ff-alt;
      font-style: italic;
      font-size: 22px;
      font-weight: 500;
      color: $color-main;
    }

    

    p {
      margin-bottom: 40px;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 20px;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.spec-implant-hexagon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // width: 100%;

  @media (max-width: 400px) {
    margin-bottom: 100px;
  }

  &__box {
    width: calc(#{$col-part-d} * 4);
    position: relative;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
    }

    // .spec-implant-hexagon__svg {
    //   width: calc(#{$col-part-m} * 3 - #{$col-gap-m});

    //   @media (max-width: $breakpoint) {
    //     width: 100%;
    //   }
    // }
  }

  &__box:nth-child(2n) {
    @media (max-width: $breakpoint-m - 1px) {
      margin-left: calc(#{$col-part-m});
    }
  }

  &__txt {
    position: absolute;
    z-index: 1;

    margin: 15% 0 0 80px;

    @media (max-width: $breakpoint - 1px) {
      margin: 20% 0 0 80px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      margin: 25% 0 0 10px;
    }

    &-ttl {
      margin-bottom: 20px;

      font-family: $ff-alt;
      color: $color-main;
      font-style: italic;
      font-weight: normal;
      font-size: 40px;
      line-height: 110%;
      text-align: center;

      @media (max-width: $breakpoint - 1px) {
        font-size: 20px;
        line-height: 110%;
      }
    }

    &-desc {
      font-size: 18px;
      line-height: 150%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 14px;
        line-height: 150%;
      }
    }
  }

  &__svg {
    position: relative;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }
}

.spec-implant-spoiler {
  margin-bottom: 120px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }

  .mission__spoilers {
    max-width: unset;
    width: calc(#{$col-part-d} * 6);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }

  &__drop {
    padding: 20px 40px 60px 40px;
  }

  &__imgs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $breakpoint-m - 1px) {
      flex-direction: column;
    }

    img {
      width: calc(50% - 10px);

      @media (max-width: $breakpoint-m - 1px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  &__list {
    width: 100%;

    ul {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 20px;
      }
    }

    ul li {
      padding-left: unset;
      display: flex;

      p {
        width: 100%;

        @media (max-width: $breakpoint - 1px) {
          font-size: 12px;
          line-height: 150%;
        }
      }
    }

    ul li::before {
      background: url('assets/images/spec-implant-list-ico.svg') no-repeat;
      width: 22px;
      height: 24px;

      margin-left: unset;
      margin-right: 20px;
      padding-top: unset;
      color: #fff;
      font-size: 14px;
    }
  }

  &__txt {
    padding-left: calc(#{$col-width-d});
    margin-top: 60px;

    @media (max-width: $breakpoint - 1px) {
      padding-left: 0;
      margin-top: 40px;
    }

    p {
      margin-bottom: 20px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 14px;
        line-height: 140%;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.spec-implant-cards {
  display: flex;
  justify-content: space-between;

  padding: 0 20px;

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 3 - 30px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      margin-bottom: 60px;
    }

    &-img {
      text-align: center;
      // flex: none;

      img {
        @media (max-width: $breakpoint - 1px) {
          height: 354px;
        }
      }
    }

    &-ttl {
      margin-top: 50px;
      border-top: 1px solid $color-main;
      padding-top: 10px;
      font-size: 22px;
      line-height: 140%;
      width: 100%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
      }
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.hexagon-box-list:nth-child(2n) {
  margin-top: 90px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 30px;
  }

  @media (max-width: $breakpoint-m - 1px) {
    margin-top: 0;
  }
}

.spec-implant-hexagon-ttl {
  font-size: 50px;
  line-height: 140%;

  width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 50px;
    width: 100%;
  }
}

.spec-implant-author {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 160px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 60px;
  }

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
  }

  &__desc {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2);
      padding-right: calc(#{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }

    &-ttl {
      font-size: 50px;
      line-height: 140%;

      margin-bottom: 40px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 22px;
      }
    }

    &-blockquote {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      padding-left: calc(#{$col-width-d});
      border-left: 1px solid $color-main;
      margin-bottom: 150px;
      
      font-family: $ff-alt;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        font-size: 14px;
        line-height: 120%;
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: 100%;
        margin-bottom: 40px;
        padding-left: 20px;
      }
    }

    &-txt {
      padding-left: calc(#{$col-part-d} * 2 - #{$col-gap-d});

      @media (max-width: $breakpoint - 1px) {
        font-size: 14px;
        line-height: 160%;
      }

      @media (max-width: $breakpoint-m - 1px) {
        padding-left: 0;
        margin-top: 20px;
      }
    }
  }

  &__desc:nth-child(3) {
    margin-top: -15%;

    @media (max-width: $breakpoint - 1px) {
      margin-top: -40%;
    }

    @media (max-width: $breakpoint-m - 1px) {
      margin-top: 0;
    }
  }

  &__img {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    position: relative;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      margin-bottom: 60px;
    }

    img {
      position: relative;
      z-index: -1;
      top: 0;
      right: 0;
      width: 100%;
      // width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    }
  }

  &__bottom {
    width: 100%;
    margin-top: 160px;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 60px;
    }

    &-txt {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      font-size: 30px;
      line-height: 140%;
      margin-bottom: 80px;

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        font-size: 18px;
        margin-bottom: 40px;
      }
      // @media (max-width: $breakpoint-m) {
        
      // }
    }

    &-blockquote {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      border-left: 1px solid $color-main;
      padding-left: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      margin-bottom: 80px;

      font-family: $ff-alt;
      font-style: italic;
      font-weight: normal;
      font-size: 22px;
      line-height: 120%;

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        font-size: 14px;
        margin-bottom: 60px;
      }

      @media (max-width: $breakpoint - 1px) {  
        padding-left: 20px;
      }
    }

    &-block {
      margin-left: calc(#{$col-part-d} * 2 - #{$col-gap-d});

      display: flex;
      flex-wrap: wrap;

      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
      }

      @media (max-width: $breakpoint-m - 1px) {
        flex-direction: column;
      }

      img {
        width: calc(#{$col-part-d} + #{$col-gap-d});
        margin-right: calc(#{$col-width-d});
        // flex:none;

        @media (max-width: $breakpoint - 1px) {
          width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
          margin-right: calc(#{$col-gap-m});
        }

        @media (max-width: $breakpoint - 1px) {
          margin-bottom: 40px;
        }
      }

      p {
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 160%;

        @media (max-width: $breakpoint - 1px) {
          font-size: 16px;
        }
      }
    }

    &-col {
      width: calc(#{$col-part-d} * 4);

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: 100%;
      }

      .specialists-events__link {
        margin-top: 40px;

        @media (max-width: $breakpoint - 1px) {
          display: block;
        }
      }
    }
  }
  
}