.specialists-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.specialists-card {
position: relative;
width: 100%;

  width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  // background: linear-gradient(90deg, #D4F5F9 0%, rgba(195, 241, 246, 0) 60.32%);
  margin-bottom: 40px;

  &__img {
    position: relative;
    object-fit: cover;
    object-position: right;
    width: 100%;
  }

  &__desc {
    position: absolute;
    z-index: 1;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    height: 100%;
    padding: 40px 0 40px 40px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__ttl {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 140%;
    width: 100%;
  }

  &__txt {
    font-size: 16px;
    line-height: 140%;
    width: 100%;
  }

  &__link {
    align-self:flex-end;
  }
}

.specialists-events {
  margin-bottom: 160px;

  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 80px;
  }

  &__ttl {
    font-size: 50px;
    line-height: 140%;
  }

  &__wrapper {
    padding-left: calc(#{$col-part-d} * 3)
  }

  &__tags {
    display: flex;

    &-items {
      margin-right: 10px;
      color:$color-main;
      font-size: 14px;
      line-height: 140%;
    }

    &-items:last-child {
      margin-right: 0;
    }
  }

  &__list {

    .news__date {
      color: unset;
    }

    .news__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
    }
  }
}