.spec-implant-block {
  display: flex;

  margin: 120px 0 80px;
  padding-top: 30px;
  border-top: 1px solid $color-main;

  &__ttl {
    width: calc(#{$col-part-d} * 3);

    font-size: 40px;
    line-height: 140%;
  }

  &__desc {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    p {
      margin-bottom: 40px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.spec-implant-hexagon {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;

  &__box {
    width: calc(#{$col-part-d} * 4);
    position: relative;
  }

  &__txt {
    position: absolute;
    z-index: 1;

    margin: 15% 0 0 80px;

    &-ttl {
      margin-bottom: 20px;

      font-family: $ff-alt;
      color: $color-main;
      font-style: italic;
      font-weight: normal;
      font-size: 40px;
      line-height: 110%;
      text-align: center;
    }

    &-desc {
      font-size: 18px;
      line-height: 150%;
    }
  }

  &__svg {
    position: relative;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
}

.spec-implant-spoiler {
  margin-bottom: 120px;

  .mission__spoilers {
    max-width: unset;
    width: calc(#{$col-part-d} * 6);
  }

  &__drop {
    padding: 20px 40px 60px 40px;
  }

  &__imgs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
      width: calc(50% - 10px);
    }
  }

  &__list {
    width: 100%;

    ul li {
      padding-left: unset;

      p {
        width: 100%;
      }
    }

    ul li::before {
      background: url('assets/images/spec-implant-list-ico.svg') no-repeat;
      width: 21px;
      height: 24px;

      margin-left: unset;
      margin-right: 20px;
      padding-top: unset;
      color: #fff;
      font-size: 14px;
    }
  }

  &__txt {
    padding-left: calc(#{$col-width-d});

    p {
      margin-bottom: 20px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.spec-implant-cards {
  display: flex;
  justify-content: space-between;

  padding: 0 20px;

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 3 - 30px);
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-img {
      text-align: center;
      // flex: none;
    }

    &-ttl {
      margin-top: 50px;
      border-top: 1px solid $color-main;
      padding-top: 10px;
      font-size: 22px;
      line-height: 140%;
      width: 100%;
    }
  }
}

.hexagon-box-list:nth-child(2n) {
  margin-top: 90px;
}

.spec-implant-hexagon-ttl {
  font-size: 50px;
  line-height: 140%;

  width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  margin-bottom: 80px;
}

.spec-implant-author {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 160px;

  &__desc {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    &-ttl {
      font-size: 50px;
      line-height: 140%;

      margin-bottom: 40px;
    }

    &-blockquote {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      padding-left: calc(#{$col-width-d});
      border-left: 1px solid $color-main;
      margin-bottom: 150px;
      
      font-family: $ff-alt;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 160%;
    }

    &-txt {
      padding-left: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    }
  }

  &__img {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    position: relative;

    img {
      position: relative;
      z-index: -1;
      top: 0;
      right: 0;

      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    }
  }

  &__bottom {
    width: 100%;
    margin-top: 160px;

    &-txt {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      font-size: 30px;
      line-height: 140%;
      margin-bottom: 80px;
    }

    &-blockquote {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      border-left: 1px solid $color-main;
      padding-left: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      font-family: $ff-alt;
      font-style: italic;
      font-weight: normal;
      font-size: 22px;
      line-height: 120%;
    }
  }
  
}