.member-page {

  &__head {
    border-bottom: 1px solid $color-main;
  }

  &__title {
    border-bottom: none;
    padding-bottom: 14px;
  }

  &__position {
    width: 100%;
    padding-bottom: 18px;

    font-size: 20px;
    line-height: 140%;
    color: $color-main;

    border-bottom: 1px solid $color-main;

    @media (max-width: $breakpoint) {
      font-size: 14px;
    }
  }

  &__img {
    position: relative;
    display: flex;

    @media (max-width: $breakpoint) {
      flex-direction: column;
    }

    &-container {
      width: 100%;
      position: relative;
      img {
        position: relative;
        width: 100%;

        object-position: center;
        object-fit: cover;
      }
    }

    .team-member__badge {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }

  &__presentation {
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    margin: 0 -223px 41px 0;

    @media (max-width: $breakpoint) {
      position: static;
      margin: 40px 0 0 0;
    }

    display: flex;
    align-items: center;

    &-title {
      margin-left: 20px;
      width: 50%;

      @media (max-width: $breakpoint) {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    &-ico {
      @media (max-width: $breakpoint) {
        max-width: 34px;
      }
    }
  }
}

.share-social {
  .member-page__badge {
    position: static;

    @media (max-width: $breakpoint) {
      display: none;
    }
  }
}


// Дубль стилей с ветки мастер для слайдера с операциями

