.qwe {
  min-height: 100vh;
}

.component {
  $gap-vertical-m: 10px;
  $gap-horizontal-m: 10px;

  $gap-vertical-d: 20px;
  $gap-horizontal-d: 20px;

  $item-height-m: 20px;
  $item-height-d: 40px;

  position: relative;
  z-index: 0;

  overflow: hidden;
  resize: both;

  &__list {
    position: relative;
    z-index: 0;

    margin-top: -$gap-vertical-m;
    margin-left: -$gap-horizontal-m;
    @media (min-width: $breakpoint) {
      margin-top: -$gap-vertical-d;
      margin-left: -$gap-horizontal-d;
    }
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-top: $gap-vertical-m;
    margin-left: $gap-horizontal-m;
    @media (min-width: $breakpoint) {
      margin-top: $gap-vertical-d;
      margin-left: $gap-horizontal-d;
    }
    height: $item-height-m;
    @media (min-width: $breakpoint) {
      height: $item-height-d;
    }
    flex-shrink: 0;

    border-bottom: 1px dashed transparent;

    &--active {
      // background-color: blue; // test
    }
    &--thumb {
      border-bottom-color: green; // test
    }
  }

  &__thumb {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform-origin: left;

    width: 1px;
    height: 1px;

    background-color: red;
  }
}

.ewq {
  transform-origin: left;
  transform: scaleX(100); // => 100px (from 1px)

  width: 1px;
  height: 5px;

  background-color: red;
}
