.vacancies {
  &-tagline {
    margin: 0 0 120px 0;
    padding-right: calc(#{$col-width-d});
    max-width: unset;

    text-align: left;
    font-size: 70px;

    @media (max-width: $breakpoint) {
      font-size: 22px;
      padding-right: calc(#{$col-width-m});
      position: relative;
      padding-bottom: 350px;
    }
    @media (max-width: $breakpoint-t) {
      padding-bottom: 300px;
    }
    @media (max-width: $breakpoint-m) {
      padding-bottom: 200px;
    }

    span {
      font-size: 70px;

      @media (max-width: $breakpoint) {
        font-size: 22px;
      }
    }

    // &-img {
    //   @media (max-width: $breakpoint) {
    //     width: 100%;
    //     text-align: right;
    //     display: inline;
    //   }
    // }
    img {
      @media (max-width: $breakpoint) {
        position: absolute;
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
        bottom: 0;
        right: 0;
      }
    }
    
  }

  &-blockquote {
    font-size: 22px;
    line-height: 140%;

    border-left: 1px solid $color-main;

    margin: 160px 0 0 calc(#{$col-part-d});
    padding: 0 calc(#{$col-part-d} * 2) 0 calc(#{$col-part-d} * 2);

    @media (max-width: $breakpoint) {
      margin: 90px 0 0 0;
      padding: 0 0 0 20px;
    }
  }
}

.vacancies-achievements {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }

  &__box {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    @media (max-width: $breakpoint) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__img {
    object-position: center;
    object-fit: cover;

    width: 100%;
    margin-bottom: 20px;
  }

  &__txt {
    font-size: 18px;
  }
}

.vacancies-list {

  &__subtitle {
    margin: 60px 0 40px;
  }

  &__subtitle:first-child {
    margin: 0 0 40px;
  }

  &__extra {
    margin-top: 160px;
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    @media (max-width: $breakpoint) {
      width: 100%;
      margin-top: 60px;
    }

    &-txt {
      font-size: 30px;

      @media (max-width: $breakpoint) {
        font-size: 18px;
      }
    }

    &-btn {
      border: none;
      background-color: $color-main;
      border-radius: 8px;
      cursor: pointer;

      color: #fff;
      font-size: 16px;

      display: flex;
      align-items: center;

      padding: 10px 20px 10px 8px;
      margin-top: 60px;

      .extra-btn {
        margin-right: 20px;
        stroke: #fff;
        &-fill {
          fill: #fff;
        }
      }
    }
  }
}