$IMAGE_WIDTH: 1920px;
$IMAGE_HEIGHT: 1080px;

.xray-container {
  margin: 100px;
  width: #{$IMAGE_WIDTH / 3};
  height: #{$IMAGE_HEIGHT / 3};
  overflow: hidden;
  resize: both;
}

.xray {
  // position: relative;
  // z-index: 1;

  width: 100%;
  height: 100%;
  display: block;

  // opacity: 0;

  &--in-main-page {
    @media (max-width: 1279px) {
      display: none;
    }
  }

  &__ellipse {
    opacity: 0;
    transition: opacity $transition;
  }
}