$IMAGE_WIDTH: 1920px;
$IMAGE_HEIGHT: 915px;

.xray-container {
  margin: 100px;
  width: #{$IMAGE_WIDTH / 2.5};
  height: #{$IMAGE_HEIGHT / 2.5};
  overflow: hidden;
  resize: both;
}

.xray {
  width: 100%;
  height: 100%;
  display: block;

  &__image {
    &--under {

    }
    &--above {
      opacity: 0.5;
    }
  }
}