// стили компонентов (элементов) страницы О компании
// с возможность переиспользования во вне
.about {
  $comp: &;

  $grid-gap-d: 40px;

  // features list
  &-list-adaptive {
    @media (min-width: $breakpoint-m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media (min-width: $breakpoint) {
      display: block;
    }
  }

  &__list {

  }
  &__list-item {
    padding-top: 10px;
    @media (min-width: $breakpoint) {
      padding-top: 40px;
      width: auto;
    }

    @media (min-width: $breakpoint-m) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }

    border-top: 1px solid $color-gray-border;

    &:not(:first-child) {
      margin-top: 40px;
      @media (min-width: $breakpoint-m) {
        margin-top: 0;
        margin-bottom: 40px;
      }
      @media (min-width: $breakpoint) {
        // margin-top: 120px;
        margin-top: 80px;
        margin-bottom: 0;
      }
    }
  }
  &__list-row {
    @media (min-width: $breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__list-col {
    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      }
    }
    &:nth-child(2) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
        width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      }
    }
  }
  &__list-title {
    max-width: 547px;

    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }
  &__list-text {
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__list-link {
    color: $color-main;
  }


  &__info-title {
    @include fsl(20px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(40px);
    }
  }
  &__info-link {
    @include f-2(500);
    color: $color-main;
  }
  &__info-row {
    margin-top: 40px;

    @media (min-width: $breakpoint-m) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    @media (min-width: $breakpoint) {
      margin-top: 60px;
    }
  }
  &__info-col {
    &:nth-child(1) {

      @media (min-width: $breakpoint-m) {
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      }

      @media (min-width: $breakpoint) {
        padding-left: calc(#{$col-part-d});
        width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
      }
    }
    &:nth-child(2) {

      @media (min-width: $breakpoint-m) {
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      }

      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap-d})
      }
      @media (max-width: $breakpoint-m - 1px) {
        padding-top: 20px;
      }
    }
  }
  &__info-text {
    @include fsl(14px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(18px, 160%);
    }
  }

  // текст, информация
  // используется как подпись/заголовок к grid
  &__caption {
    max-width: 730px;

    font-size: 22px;
    line-height: 31px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  // grid, 3 колонки
  &__grid {
    &--margin-top {
      margin-top: 30px;
      @media (min-width: $breakpoint) {
        margin-top: 80px;
      }
    }
  }
  &__grid-list {
    @media (min-width: $breakpoint-m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }

    @media (min-width: $breakpoint) {
      margin-top: -$grid-gap-d;
      margin-left: -$grid-gap-d;
      
    }
  }
  &__grid-item {
    @media (min-width: $breakpoint-m) {
      margin-top: $col-gap-m;
      // margin-left: $col-gap-m;
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m})
    }

    @media (min-width: $breakpoint) {
      margin-top: $grid-gap-d;
      margin-left: $grid-gap-d;
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d})
    }

    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
    }
  }
  &__grid-card {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 30px 40px;
    }
    min-height: 145px;
    @media (min-width: $breakpoint) {
      min-height: 240px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $color-blue-light;

    &--height-100p {
      height: 100%;
    }
  }
  &__grid-title {
    padding-bottom: 10px;

    border-bottom: 1px solid $color-main;
    font-size: 18px;
    line-height: 25px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
  }
  &__grid-info {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
  }
  &__grid-info-item {
    &:not(:first-child) {
      margin-top: 10px;
      @media (min-width: $breakpoint) {
        margin-top: 20px;
      }
    }

    &--display-flex {
      display: flex;
    }
  }
  &__grid-text {
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__grid-link {
    transition: $transition;

    &:hover {
      color: $color-main;
    }
  }

  // post
  &__post {
    padding: 40px;     
    min-height: 500px;

    background-image: url('../images/about-post-m.jpg');
    @media (min-width: $breakpoint) {
      background-image: url('../images/about-post-d.jpg'); // ?
    }
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__post-title {
    max-width: 150px;
    @media (min-width: $breakpoint) {
      max-width: 230px;
    }

    font-size: 32px;
    line-height: 38px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 50px;
    }
    color: $color-white;
  }
  &__post-text {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
    max-width: 450px;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 18px;
      line-height: 25px;
    }
    color: $color-white;
  }

  // download
  &__download {
    position: relative;
    z-index: 0;

    &--margin-top {
      margin-top: 20px;
      @media (min-width: $breakpoint) {
        margin-top: 40px;
      }
    }
  }
  &__download-row {
    @media (min-width: $breakpoint-m) {
      display: flex;
      align-items: stretch;
    }
  }
  &__download-col {
    position: relative;
    z-index: 0;

    flex-shrink: 0;

    &:nth-child(1) {
      @media (min-width: $breakpoint-m) {
        width: 50%;
      }
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 7 + 1px);
      }
    }
    &:nth-child(2) {
      z-index: 1;

      @media (max-width: $breakpoint-m - 1px) {
        margin-top: -1px;
      }
      @media (min-width: $breakpoint-m) {
        width: 50%;
        margin-left: -1px;
      }
      @media (min-width: $breakpoint) {
        
        width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      }
    }
  }
  // download button
  &__download-button {
    padding: 20px;
    height: 100%;
    @media (min-width: $breakpoint) {
      min-height: 200px;
    }
    display: block; // ?

    background-color: $color-white;
    border: 1px solid $color-gray-border;
    transition: $transition;

    &:hover {
      background-color: $color-main; // ?
      border-color: $color-main; // ?
      // background-color: $color-blue-light;
      // border-color: $color-blue-light;

      #{$comp}__download-button-title {
        color: $color-white; // ?
      }

      #{$comp}__download-button-svg {
        path {
          fill: $color-white; // ?
        }
      }
    }
  }
  &__download-button-row {
    height: 100%;
    display: flex;
    @media (min-width: $breakpoint) {
      flex-direction: column;
    }
    justify-content: space-between;
  }
  &__download-button-col {
    &:not(:first-child) {
      @media (max-width: $breakpoint - 1px) {
        margin-left: 20px;
      }
      @media (min-width: $breakpoint) {
        margin-top: 20px;
      }
    }
  }
  &__download-button-title {
    @media (max-width: $breakpoint - 1px) {
      max-width: 140px;
    }

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
    transition: $transition;
  }
  &__download-button-image {
    display: flex;
    @media (min-width: $breakpoint) {
      justify-content: flex-end;
    }
  }
  &__download-button-svg {
    path {
      transition: $transition;
    }
  }
  // download title
  &__download-title-block {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 60px 100px;
    }
    height: 100%;

    border: 1px solid $color-gray-border;
  }
  &__download-title {
    max-width: 490px;

    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  // slider
  &__slider {
    margin-top: 40px;
    // overflow: hidden;
    @media (min-width: $breakpoint) {
      margin-top: 80px;
    }
  }

  // license
  &__license {
    width: 233px;
  }
  &__license-frame {
    padding: 30px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;
  }
  &__license-img {
    
  }
  &__license-title {
    margin-top: 20px;

    font-size: 14px;
    line-height: 20px;
  }

  // карточка партнера
  // используется в слайдере
  &__partner {
    padding: 20px;
    width: 178px;
    min-height: 136px;
    @media (min-width: $breakpoint) {
      width: 233px;
      min-height: 178px;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-white;

    &--height-100p {
      height: 100%;
    }
  }
  &__partner-img {

  }

  // image
  // используется для заглавного фото на странице О компании
  &__image {
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$col-part-d});
    }
    width: calc(100% + #{$col-pad-m});
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 9 - #{$col-gap-d} + #{$col-pad-d});
    }
  }
  &__image-background {
    position: relative;
    z-index: 0;

    height: 186px;
    @media (min-width: $breakpoint-m) {
      height: 380px;
    }
    @media (min-width: $breakpoint) {
      height: 570px;
    }

    // background-image: url('../images/about-images.jpeg'); // указано в html, атр. style
    background-repeat: no-repeat;
    background-position: center bottom;
    @media (min-width: $breakpoint) {
      background-position: center center;
    }
    background-size: cover;
  }
  &__image-svg {
    position: absolute;

    height: auto;

    &:nth-child(1) {
      top: 20px;
      @media (min-width: $breakpoint) {
        top: 80px;
      }
      left: 0;
      transform: translateX(-50%);

      max-width: 25px;
      @media (min-width: $breakpoint) {
        max-width: 60px;
      }
    }
    &:nth-child(2) {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      @media (min-width: $breakpoint) {
        bottom: -170px;
        transform: translateX(50%);
      }

      max-width: 164px;
      @media (min-width: $breakpoint) {
        max-width: 430px;
      }

      mix-blend-mode: multiply;
    }
  }

  // to-front
  // вспомогательный элемент
  // position: relative; z-index: 0;
  &__to-front {
    position: relative;
    z-index: 0;
  }
}