.guarantee {

  &__img {
    position: relative;
    margin-bottom: 40px;
    height: 500px;

    @media (max-width: $breakpoint - 1px) {
      height: 400px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      height: 500px;
    }

    &-txt {
      position: absolute;
      z-index: 3;

      color: #fff;
      padding: 40px;
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

      @media (max-width: $breakpoint - 1px) {
        width: 40%;
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: 100%;
      }

      h2 {
        font-size: 50px;
        line-height: 100%;
        font-weight: 500;
        color: #fff;
        margin-bottom: 40px;

        width: calc(#{$col-part-d} * 2);

        @media (max-width: $breakpoint - 1px) {
          width: calc(#{$col-part-m} * 3 - #{$col-gap-m});

          font-size: 32px;
          line-height: 120%;
        }
      }

      p {
        font-size: 18px;
        line-height: 140%;
        color: #fff;

        @media (max-width: $breakpoint - 1px) {
          font-size: 14px;
        }
      }
    }

    &-main-desk {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;

      @media (max-width: $breakpoint-m - 1px) {
        display: none;
      }
    }

    &-main-mob {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
      position: relative;

      @media (min-width: $breakpoint-m) {
        display: none;
      }
    }

    &-effects-desk {
      position: absolute;
      z-index: 1;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;

      @media (max-width: $breakpoint-m - 1px) {
        display: none;
      }
    }

    &-effects-mob {
      position: absolute;
      z-index: 1;
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 100%;

      @media (min-width: $breakpoint-m) {
        display: none;
      }
    }
  }
}

.guarantee-contract {
  $comp: &;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 160px;

  border: 1px solid $color-gray-border;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
    margin-top: 20px;
  }

  &__title {
    width: calc(#{$col-part-d} * 7);
    padding: 60px calc(#{$col-part-d} * 2 + #{$col-gap-d}) 60px calc(#{$col-width-d});
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3);
      padding: 20px;
      font-size: 22px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      font-size: 16px;
    }
  }

  &__download {
    width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    padding: 20px;
    border-left: 1px solid $color-gray-border;
    transition: $transition;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} - #{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      border-left: none;
      border-top: 1px solid $color-gray-border;
      flex-direction: row;
    }

    &:hover {
      background-color: $color-main;

      #{$comp}__download-txt {
        color: $color-white;
      }

      .io {
        path {
          fill: $color-white;
        }
      }
    }

    &-txt {
      margin-bottom: 10px;
      width: 100%;
      text-align: left;
      padding-right: 20px;
      @media (max-width: $breakpoint - 1px) {
        padding-right: 0;
      }
      @media (max-width: $breakpoint-m - 1px) {
        // padding-right: 0;

        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
        
        @include fsl(14px);
      }
      @include fsl(16px, 140%);
      transition: $transition;
    }

    &-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;

      align-self: flex-end;
    }

    .io {
      transition: $transition;
      path {
        transition: $transition;
      }
    }
  }
}