.lab {
  &__subtitle {
    margin-bottom: 40px;
    @media (min-width: $breakpoint) {
      margin-bottom: 70px;

      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
      flex-shrink: 0;

      @include fsl(30px);
    }
    @include fsl(18px, 140%);
  }

  &__img {
    width: 100%;
  }

  &-target {
    margin: 40px 0;
    @media (min-width: $breakpoint) {
      margin: 160px 0;

      display: flex;
      align-items: stretch;
    }
    border-bottom: 1px solid $color-gray-border;

    &__title {
      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 20px;
      }
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 6);
        flex-shrink: 0;

        @include fsl(40px);
      }
      @include fsl(18px, 140%);
    }

    &__txt {
      @media (min-width: $breakpoint - 1px) {
        width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
        flex-shrink: 0;

        @include fsl(18px);
      }
      @include fsl(16px, 160%);

      p {
        margin-bottom: 20px;
        @media (min-width: $breakpoint) {
          margin-bottom: 40px;
        }
      }

      &-highlight {
        font-family: "PFRegalDisplayPro", serif;
        font-weight: 700;
        font-style: italic;
        color: $color-main;
      }
    }
  }

  &-block {
    margin: 40px 0;
    @media (min-width: $breakpoint) {
      margin: 80px 0;
    }
    display: flex;
    align-items: stretch;
    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }

    &__video {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 3);
        flex-shrink: 0;
      }

      @media (max-width: $breakpoint - 1px) {
        margin-top: 40px;

        order: 2;
        display: flex;
        align-items: stretch;
      }
      &-link {
        display: flex;
        align-items: center;

        @media (min-width: $breakpoint) {
          width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
          @include fsl(18px);
        }
        @include fsl(14px, 140%);
        cursor: pointer;
        transition: $transition;

        &:hover {
          color: $color-main;
        }
      }

      &-svg {
        @media (max-width: $breakpoint - 1px) {
          width: 30px;
          height: 34px;
        }
      }
    }

    &__txt {
      @media (min-width: $breakpoint) {
        width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
        @include fsl(30px);
      }
      @include fsl(18px, 140%);

      &-highlight {
        font-family: "PFRegalDisplayPro", serif;
        font-weight: 700;
        font-style: italic;
        color: $color-main;
      }
    }
  }
}

.development {
  margin: 60px 0;
  @media (min-width: $breakpoint) {
    margin: 160px 0;
  }

  &__row {
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
      @include fsl(40px);
    }
    @include fsl(22px, 140%);
  }

  &__names {
    @media (min-width: $breakpoint) {
      padding-bottom: 80px;

      border-bottom: 1px solid $color-main;
    }
    display: flex;
    align-items: stretch;
    overflow: visible;

    &-item {
      margin-right: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid transparent;
      @media (min-width: $breakpoint) {
        margin-right: 40px;
      }
      width: auto;

      cursor: pointer;
      transition: $transition;

      &--active {
        // padding-bottom: 5px;

        color: $color-main;
        border-bottom: 1px solid $color-main;
      }

      &.swiper-slide-thumb-active {
        color: $color-main;
        border-bottom: 1px solid $color-main;
      }
    }

    &-item:hover {
      color: $color-main;
    }
  }

  &__desc {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 55px;
    }
    &-item {
      @media (min-width: $breakpoint) {
        display: flex;
        align-items: stretch;
      }
    }
  }

  &__img {
    @media (min-width: $breakpoint) {
      margin-right: calc(#{$col-part-d});
      
      width: calc(#{$col-part-d} * 5);
      flex-shrink: 0;
    }
    height: 460px;
    @media (max-width: $breakpoint-m - 1px) {
      height: 226px;
    }

    background-color: $color-gray-border;
  }

  &__txt {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
      flex-shrink: 0;
    }
    @media (max-width: $breakpoint - 1px) {
      margin-top: 40px;

      .mission__missions-links-link {
        display: none;
      }
    }

    p {
      @include fsl(18px, 140%);
      @media (min-width: $breakpoint) {
        @include fsl(22px);
      }
    }

    ul {
      margin-top: 30px;
      margin-bottom: 0;
      @media (min-width: $breakpoint) {
        margin-top: 60px;
        margin-bottom: 40px;
      }
      counter-reset: list1;
    }

    ul li {
      display: flex;
      // padding-left: calc(#{$col-width-m});
      @media (min-width: $breakpoint) {
        padding-left: calc(#{$col-width-d});
      }
      position: relative;

      &:not(:first-child) {
        margin-top: 30px;
        @media (max-width: $breakpoint-m - 1px) {
          margin-top: 20px;
        }
      }

      p {
        padding-top: 10px;
        @media (min-width: $breakpoint) {
          width: calc(#{$col-part-d} * 3);
          @include fsl(16px);
        } 
        @include fsl(14px, 160%);
      }
    }
    
    ul li:before {
      counter-increment: list1;
      content: counter(list1) " ";
      display: flex;
      flex: none;
      background: url('assets/images/lab-list.svg') no-repeat;
      width: 57px;
      height: 63px;
      // text-align: center;
      color: $color-main;
      // padding-top: 17px;
      margin-left: calc(#{$col-width-d} * (-1));
      margin-right: calc(#{$col-width-d} - 57px);
      align-items: center;
      justify-content: center;

      @media (max-width: $breakpoint - 1px) {
        margin-left: 0;
        margin-right: 14px;
      }
    }
  }
}

.lab-circles {
  padding: 40px 0;
  @media (min-width: $breakpoint) {
    padding: 100px 0;
  }
  background-color: $color-blue-light;

  .container {
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: stretch;
    }
  }

  &__img {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    }
    text-align: center;
  }

  &__desc {
    padding-top: 13px;
    @media (min-width: $breakpoint) {
      padding: 130px 0 0 calc(#{$col-gap-d});

      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    }
  }

  &__title {
    margin-bottom: 35px;
    @media (min-width: $breakpoint) {
      margin-bottom: 40px;

      @include fsl(40px);
    }
    @include fsl(18px, 140%);
  }

  &__txt {
    p {
      @include fsl(14px, 160%);
      @media (min-width: $breakpoint) {
        @include fsl(18px);
      }

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}

.lab-team {
  padding-top: 60px;
  @media (min-width: $breakpoint) {
    padding-top: 160px;
  }

  .container {
    @media (min-width: $breakpoint) {
      display: flex;
      align-items: stretch;
    }
  }

  &__title {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 3);
      @include fsl(40px);
    }
    @include fsl(22px, 140%);
  }

  &__list {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
    }
  }

  &__subtitle {
    @media (min-width: $breakpoint) {
      margin-left: calc(#{$col-part-d} * 3);

      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

      @include fsl(18px);
    }
    @include fsl(16px, 160%);  
    @media (max-width: $breakpoint - 1px) {
      margin-top: 20px;
    }    
  }
}