.library-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 120px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }

  .card {
    width: calc((#{$col-part-d} * 9 - (#{$col-gap-d} * 2)) / 2);
    margin-bottom: 40px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      margin-bottom: calc(#{$col-gap-m});
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      margin-bottom: 20px;
      height: unset;
    }

    &:hover {
      background-color: #CDF5FA;
    }
    @import '../components/_button-animation';

    &__top {
      display: flex;
      justify-content: space-between;
      max-width: unset;
    }

    &__title {
      max-width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      padding-right: 10px;

      @media (max-width: $breakpoint-m - 1px) {
        max-width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
      }
    }

    .card__col:nth-child(2) {
      display: block;

      .card__image {
        @media (max-width: $breakpoint - 1px) {
          width: 34px;
        }
      }
    }
  }

  &__img {
    width: 145px;
    height: 168px;
    background-color: #fff;
    padding: 18px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-m - 1px) {
      // width: unset;
      height: unset;

      min-width: 79px;
      // min-height: 91px;
      padding: 10px 15px;
      margin: -10px -10px 0 0;
    }

    img {
      width: 88px;

      @media (max-width: $breakpoint-m - 1px) {
        min-width: 48px;
        // width: unset;
      }
    }
  }

  .news-show-more {
    width: 100%;
    margin-top: 80px;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 40px;
    }
  }
}