// стили компонентов (элементов) страницы Миссия и ценности
// с возможность переиспользования во вне
.mission {
  $comp: &;

  // контейнер для спойлеров
  // расположены друг под другом, схлопываются border'ы
  // на декстопе ограничены по ширине (по колонкам сетки)
  &__spoilers {
    @media (min-width: $breakpoint) {
      max-width: calc(#{$col-part-d} * 6);
    }

    &--margin-top {
      margin-top: 40px;
      @media (min-width: $breakpoint) {
        margin-top: 80px;
      }
    }
  }
  &__spoilers-item {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  // спойлер, компонент с js логикой
  // имеет скрывающуюся/раскрывающуюся часть (jquery, sliderDown/Up())
  &__spoiler {
    border: 1px solid $color-gray-border;

    &--active {
      #{$comp}__spoiler-button {
        background-color: $color-blue-light;
      }
      #{$comp}__spoiler-title {
        color: $color-main;
      }
      #{$comp}__spoiler-image {
        &::after {
          opacity: 0;
        }
      }

      #{$comp}__spoiler-drop {
        background-color: $color-blue-light;
      }
    }
  }
  // spoiler button
  &__spoiler-button {
    padding: 20px;
    min-height: 65px;
    @media (min-width: $breakpoint) {
      padding: 40px;
      min-height: 110px;
    }
    display: flex;
    justify-content: space-between;

    cursor: pointer;  
    transition: $transition;
  }
  &__spoiler-title {
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
    transition: $transition;
  }
  &__spoiler-image {
    position: relative;
    z-index: 0;

    margin-left: $col-gap-m;
    @media (min-width: $breakpoint) {
      margin-left: $col-gap-d;
    }
    $size: 20px;
    width: $size;
    height: $size;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      content: '';
      width: 20px;
      height: 2px;

      background-color: $color-main;
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);

      transition: $transition;
    }
  }
  // spoiler drop
  &__spoiler-drop {
    padding: 5px $col-gap-m 25px;
    @media (min-width: $breakpoint) {
      padding: 20px $col-gap-d 60px calc(#{$col-part-d});
    }
    display: none;

    transition: background-color $transition;
  }
  &__spoiler-list {
    
  }
  &__spoiler-list-item {
    position: relative;
    z-index: 0;

    padding-left: 25px;
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$col-width-d});
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      content: '•';

      font-size: 16px;
      line-height: 22px;
      color: $color-main;
    }
  }
  &__spoiler-list-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 18px;
      line-height: 25px;
    }
  }
  &__spoiler-list-text {
    margin-top: 20px;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  // секция с миссиями на стр. Миссия и ценности
  &__missions-title {
    font-size: 16px;
    line-height: 22px;
    @media (min-width: $breakpoint) {
      font-size: 22px;
      line-height: 31px;
    }
  }
  // missions list
  &__missions-list {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
    }
  }
  &__missions-item {
    position: relative;
    z-index: 0;

    margin-top: 60px;
    @media (min-width: $breakpoint) {
      margin-top: 160px;
    }

    &--margin {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 153px;
        margin-bottom: 285px;
      }
      @media (min-width: $breakpoint) {
        margin-bottom: 265px;
      }
    }
  }
  // missions text
  &__missions-text {
    margin: 0 auto;

    font-size: 20px;
    line-height: 28px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
    text-align: center;

    &--max-width {
      &--730 {
        max-width: 730px;
      }
      &--900 {
        max-width: 900px;
      }
      &--1180 {
        max-width: 1180px;
      }
    }
  }
  &__missions-text-highlight {
    font-family: $ff-2;
    font-weight: normal;
    font-style: italic;
    font-size: 26px;
    line-height: 36px;
    @media (min-width: $breakpoint) {
      font-size: 60px;
      line-height: 84px;
    }
    text-align: center;
    color: $color-main;
  }
  // missions links
  &__missions-links {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__missions-links-item {
    @media (max-width: $breakpoint - 1px) {
      margin-top: 10px;
    }
    
    &:not(:first-child) {
      @media (min-width: $breakpoint) {
        margin-left: $col-gap-d;
      }
    }
  }
  // missions link
  &__missions-links-container {
    display: flex;
  }
  &__missions-links-link {
    display: flex;
    align-items: center;
    // overflow: hidden;
    cursor: pointer;

    &:hover {
      #{$comp}__missions-links-text {
        color: $color-main;
      }
      #{$comp}__missions-links-span {
        animation: MoveUpInitial 0.3s forwards, MoveUpEnd 0.3s forwards 0.3s;
      }
      .button-svg {
        path {
          &:nth-child(1) {
            transform: rotate(30deg);
            fill: $color-main;
          }

          &:nth-child(3) {
            fill: $color-white;
            transform: translateX(10px);
          }
        }
      }
      .button-svg-video {
        path {
          &:nth-child(2) {
            transform: scale(2.1);
          }
        }
      }

    }
  }
  &__missions-links-svg {
    @media (max-width: $breakpoint - 1px) {
      height: auto;
      max-width: 30px;
    }
    
  }
  &__missions-links-text {
    margin-left: 10px;
    @media (min-width: $breakpoint) {
      margin-left: 20px;
    }

    @include fsl(14px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(16px, 140%);
    }
    transition: $transition;
    overflow: hidden;

    &--video {
      @media (min-width: $breakpoint) {
        max-width: 115px;
      }
    }
  }
  &__missions-links-span {
    display: block;
    overflow: hidden;
  }
  // missions images
  &__missions-images {
    &--top {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
      }

      #{$comp}__missions-image {
        @media (max-width: $breakpoint - 1px) {
          flex-shrink: 0;
          max-width: calc((100% - #{$col-gap-m}) / 2);
        }

        &:nth-child(1) {
          #{$comp}__missions-img {
            @media (min-width: $breakpoint) {
              bottom: -75px;
              left: 0;
            }

            max-width: 158px;
            @media (min-width: $breakpoint) {
              max-width: 233px;
            }
          }
        }
        &:nth-child(2) {
          @media (max-width: $breakpoint - 1px) {
            position: relative;
            top: -20px;
          }

          #{$comp}__missions-img {
            @media (min-width: $breakpoint) {
              top: -70px;
              right: 0;
            }

            max-width: 157px;
            @media (min-width: $breakpoint) {
              max-width: 137px;
            }
          }
        }
      }

      #{$comp}__missions-img {
        @media (max-width: $breakpoint - 1px) {
          width: 100%;
        }

        @media (min-width: $breakpoint) {
          position: absolute;
        }
      }
    }

    &--bottom {
      #{$comp}__missions-image {
        &:nth-child(1) {
          #{$comp}__missions-img {
            top: calc(100% + 40px);
            left: 0;
            @media (min-width: $breakpoint) {
              top: auto;
              bottom: -105px;
            }

            width: 246px;
            min-height: 185px; // ?
            @media (min-width: $breakpoint) {
              width: 370px;
              min-height: 278px; // ?
            }
          }
        }
        &:nth-child(2) {
          #{$comp}__missions-img {
            top: -93px;
            right: 0;
            @media (min-width: $breakpoint) {
              top: -140px;
              right: calc(#{$col-width-d});
            }

            max-width: 177px;
            @media (min-width: $breakpoint) {
              max-width: 313px;
            }
          }
        }
      }

      #{$comp}__missions-img {
        position: absolute;
      }
    }
  }
  &__missions-image {
    display: flex;
    align-items: flex-start;
  }
  &__missions-img {
    z-index: -1;
  }

  // history
  // блок на стр. Миссия и ценности с двойным слайдером
  &__history {
    margin-top: 20px;
    @media (min-width: $breakpoint) {
      margin-top: 30px;
    }
  }
  // thumbs
  // слайдер с датами, в роли пагинации
  &__thumbs {
    .swiper-container {
      // max-width: 200px; // ???
      margin-left: 0; // ???
    }

    .swiper-wrapper.mission-thumbs-wrapper { // ?
      min-height: 235px; // ?
      transform: translate3d(0px, 0, 0);
      // margin-left: -30%;

      @media (max-width: $breakpoint - 1px) {
        min-height: auto;
      }
    }

    .swiper-slide-active { // ???
      #{$comp}__thumb {
        padding: 0;

        font-size: 60px;
        line-height: 93px;
        @media (min-width: $breakpoint) {
          font-size: 200px;
          line-height: 235px;
        }
        color: $color-main;

        #{$comp}__thumb-svg {
          max-width: 17px;
          
          path {
            fill: $color-main;
          }
        }
      }
    }
  }
  &__thumb {
    position: relative;
    z-index: 0;

    padding-bottom: 20px;
    @media (min-width: $breakpoint) {
      padding-bottom: 45px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-family: $ff-2;
    font-size: 26px;
    line-height: 36px;
    @media (min-width: $breakpoint) {
      font-size: 50px;
      line-height: 70px;
    }
    color: $color-gray-border;
    cursor: pointer;
    transition: $transition;

    &--line {
      &::before {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        content: '';
        width: 500vw; // ?

        border: 1px dashed $color-gray-border;
      }
    }
    &--active {
      padding: 0;

      font-size: 60px;
      line-height: 93px;
      @media (min-width: $breakpoint) {
        font-size: 200px;
        line-height: 235px;
      }
      color: $color-main;

      #{$comp}__thumb-svg {
        max-width: 17px;
        
        path {
          fill: $color-main;
        }
      }
    }
  }
  &__thumb-svg {
    position: absolute;
    z-index: -1;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 50%);

    max-width: 9px;

    path {
      fill: $color-gray-border;
      transition: $transition;
    }
  }
  // slider
  // основной слайдер, с контентом
  &__slider {
    margin-top: 30px;

    @media (min-width: $breakpoint) {
      margin-top: 60px;
    }
    @media (min-width: $breakpoint-m) {
      margin-top: 45px;
    }
  }
  &__slide {
    display: flex;

    @media (max-width: $breakpoint - 1px) {
      flex-wrap: wrap;
    }

    @media (max-width: $breakpoint-m - 1px) {
      flex-direction: column;
    }
  }
  // top
  &__slide-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: calc(#{$col-part-d} * 3);

    @media (max-width: $breakpoint - 1px) {
      order: -1;
      width: 100%;

      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    @media (max-width: $breakpoint-m - 1px) {
      justify-content: space-between;
    }

    .slider-control {
      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 2);
      }
    }
  }
  // date
  &__slide-date {
    color: $color-main;

    font-size: 14px;
    line-height: 20px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      // width: calc();
      align-self: flex-end;
    }
  }
  // text
  &__slide-text {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 30px;
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});

      font-size: 14px;
      line-height: 20px;
    }
    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }
  // image
  &__slide-image-container {
    width: calc(#{$col-part-d} * 3);
    padding-right: calc(#{$col-gap-d});

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      // justify-content: center;
      width: calc(#{$col-part-m} * 2);
    }
    @media (max-width: $breakpoint-m - 1px) {
      order: 1;
      width: 100%;
      padding-right: 0;
    }
  }
  &__slide-image {
    @media (max-width: $breakpoint - 1px) {
      margin-top: 30px;
    }
    // max-width: 334px;
    // @media (min-width: $breakpoint) {
    //   max-width: 370px;
    // }
    display: flex;
    align-items: flex-start;
  }
  &__slide-img {
    margin: 0 auto;
  }
}



// Фиксы

.mission__missions-item:first-child {
  margin-top: 0;
}

.mission-first-links {

  @media (max-width: $breakpoint - 1px) {
    display: flex;

    li:not(:last-child) {
      margin-right: 20px;
    }
  }
}