// Стили страницы Новости

// Выпадающее меню
.news-spoiler {
    display: none;
    border: none;
    border-bottom: 1px solid $color-gray-border;

    @media (max-width: $breakpoint - 1px) {
        display: block;
    }

    &__drop {
        padding: 0 0 40px 0;
    }

    &__image {
        transition: .5s linear;
    }

    &__button {
        align-items: center;
        padding: 20px 2px 20px 0;
    }

    .mission__spoiler-button {
        background-color: transparent;
    }

    &__nav {
        
        &-item {
            margin-bottom: 10px;
        }

        &-item:last-child {
            margin-bottom: 0;
        }
    }
}

.mission__spoiler--active {
    .news-spoiler__image {
        transform: rotate(180deg);
        transition: .5s linear;

        path {
            fill: $color-main;
          }
    }

    .news-spoiler__drop {
        background-color: unset;
    }
}

// Блок с большой первой новостью

.news-margin-top {
  @media (max-width: $breakpoint-m) {
    margin-top: 20px;
  }
}

.first-news {
  background-color: $color-blue-light;
  transition: $transition;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  @media (max-width: $breakpoint-m - 1px) {
      flex-direction: column;
      background-color: $color-white;
  }

  @import '../components/_button-animation';

  &__desc {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    padding: 40px;

    width: calc(#{$col-part-d} * 6);
    @media (max-width: $breakpoint - 1px) {
        width: auto;
        padding: 20px;

        align-content: unset;
        justify-content: unset;
        flex-direction: column;
    }
    @media (max-width: $breakpoint-m - 1px) {
        padding: 20px 20px 30px;

    }
  }

  &__date {
    width: 100%;
    margin-bottom: 130px;
    color: $color-main;

    @media (max-width: $breakpoint - 1px) {
        margin-bottom: 10px;
        font-size: 12px;
    }
  }

  &__title {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 2 - (#{$col-gap-m} * 2));
    }

    h3 {
      font-size: 40px;
      line-height: 110%;
      font-weight: 500;

      @media (max-width: $breakpoint - 1px) {
          font-size: 18px;
      }
    }

    @media (max-width: $breakpoint-m) {
      width: auto;
    }
  }

  &__img {
    position: relative;
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    @media (max-width: $breakpoint) {
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    }
    @media (max-width: $breakpoint-m) {
        width: 100%;
    }

    img {
      object-fit: cover;
      object-position: center;
      position: relative;

      width: 100%;
      height: 100%;
    }

    &-mask-1 {
      position: absolute;
      z-index: 5;

      top: 0;
      left: 0;
    }

    &-mask-2 {
      position: absolute;
      z-index: 5;
      opacity: 0.7;
      max-width: 100%;

      bottom: 0;
      right: 0;
    }
  }

  &__link {
    align-items: flex-end;
    justify-content: flex-end;
    width: calc(#{$col-part-d} * 2 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
        justify-content: flex-start;
        margin: auto 0 0;

        .mission__missions-links-text {
            display: none;
        }
    }

    @media (max-width: $breakpoint-m - 1px) {
    display: none;
    }
  }
}

.first-news:hover {
    background-color: #CDF5FA;
}

// Блок со списком новостей

.news {

    display: flex;
    justify-content: flex-start;

    @media (max-width: $breakpoint - 1px) {
        flex-direction: column;
        flex-wrap: wrap;

        height: 160px;
    }

    @media (max-width: $breakpoint-m - 1px) {
        // flex-wrap: wrap;
        justify-content: space-between;

        flex-direction: row;
        height: auto;
    }

    &-box {
        border-top: 1px solid $color-main;
        padding-top: 20px;
        margin-bottom: 60px;

        @media (max-width: $breakpoint-m - 1px) {
            padding-top: 10px;
            margin-bottom: 40px;
        }

        @import '../components/_button-animation';
    }

    &-box:hover {
        .news__title h3 {
            color: $color-main;
        }  
    } 
  
    &__date {
      // width: calc(#{$col-part-d});
      flex-shrink: 0;
      width: calc((#{$col-part-d} * 3 - #{$col-gap-d}) / 2);
      color: $color-main;

      @media (max-width: $breakpoint - 1px) {
        // width: calc(#{$col-part-m} / 2);
        width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
        margin-bottom: 20px;
        font-size: 12px;
        // padding-right: 10px;
      }

      @media (max-width: $breakpoint-m - 1px) {
          order: -1;
          width: 100%;
          margin-bottom: 20px;
      }

    //   @media (max-width: $breakpoint-m - 1px) {
    //     font-size: 12px;
    //     }
    }

    &__img {
        // width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
        width: calc((#{$col-part-d} * 3 - #{$col-gap-d}) / 2);
        text-align: right;

        @media (max-width: $breakpoint - 1px) {
            // width: calc(#{$col-part-m} / 2);
            // width: 158px;
            width: calc(#{$col-part-m});
            text-align: left;
            order: -1;
            height: 100%;
        }
        
        @media (max-width: $breakpoint-m) {
            order: 1;
            width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
            text-align: unset;
        }

        img {
            width: 160px;
            @media (max-width: $breakpoint-m) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
  
    &__title {
      width: calc(#{$col-part-d} * 4 + #{$col-gap-d});
      padding-left: 40px;

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 2);
        padding-left: 0;
      }
      
  
      @media (max-width: $breakpoint-m - 1px) {
        order: -1;
        width: auto;
        padding-left: 0;
        margin-bottom: 60px;
    }
  
      h3 {
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;

        transition: $transition;

        @media (max-width: $breakpoint) {
            font-size: 18px;
        }
      }
    }
  
    &__link {
        width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
        align-self: flex-start;
    //   margin: 0 0 0 auto;
        justify-content: flex-end;

        @media (max-width: $breakpoint - 1px) {
            // width: calc(#{$col-width-m});
            width: auto;
            align-self: unset;
            margin: auto 0 0;
        }

        @media (max-width: $breakpoint-m - 1px) {
            order: 1;
            margin: 0;
            align-self: flex-end;
        }
    }
    &__link-ico {
        @media (max-width: $breakpoint - 1px) {
            width: 34px;
            height: 30px;
        }
    }
  }
  
.news-show-more {
    display: flex;
    justify-content: center;

    margin-top: 100px;
    @media (max-width: $breakpoint - 1px) {
        margin-top: 40px;
        }

    &-btn {
        @include f-1();
        background: transparent;
        border: 1px solid #CCE3E6;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 8px;
        @media (min-width: $breakpoint) {
            padding: 11px 20px 11px 8px;
        }

        cursor: pointer;
    }

    &-ico {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-txt {
        padding-left: 10px;
        @media (min-width: $breakpoint) {
            padding-left: 20px;
        }

        font-size: 16px;
        line-height: 140%;

        @media (max-width: $breakpoint-m - 1px) {
            font-size: 14px;
        }
    }
}

// Кнопка с загрузкой следующих новостей

.news-show-more-ico {
.arrow-rotate {
    transform-origin: center;
    transform: rotate(90deg);
    }
}

