.articles-authors {
  // @media (min-width: $breakpoint) {
  //   padding-left: 40px;
  // }

  // margin: 20px -20px 0;
  // padding-left: 20px;
  margin-top: 20px;

  @media (min-width: $breakpoint) {
    // margin: 10px -40px 0 0;
    margin-top: 10px;
    padding-left: 0;
  }

  .team-filter {
    padding-left: 0;
    padding-bottom: 10px;
    margin-top: 20px;

    &__container {
      margin-bottom: 0;
    }
  }

  &--mobile {
    padding: 20px 0 0 20px;
    margin: 0 -20px 0 -20px;
    display: block;

    overflow-x: scroll;
    @include scrollbar-hidden();

    @media (min-width: $breakpoint) {
      display: none;
    }

    .articles-authors__item {
      margin: 0;
      height: auto;
      flex: none;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  &__sidebar {
    padding-left: 40px;

    .articles-authors__title {
      font-size: 14px;
      color: #768486;
    }
    .articles-authors__item{
      margin: 0;
      height: auto;
      padding: 0;
    }

    .articles-authors__container {
      padding-top: 0;
      margin-right: 0;
    }
  }

  &__container {
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 20px;

    @media (min-width: $breakpoint) {
      padding-top: 20px;
      padding-left: 0;
      margin-right: -40px;
      margin-left: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    @media (min-width: $breakpoint) {
      margin-bottom: 40px;
    }
  }

  &__title {
    // margin: 0 0 20px 20px;
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      // margin: 0 0 15px 0;
      margin-bottom: 15px;

      @include fsl(26px);
    }
    @include fsl(14px, 140%);
    // color: #768486;
  }

  &__controls {
    display: flex;
    margin-right: 40px;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }

    .index__mid-control:first-child {
      margin-right: 10px;
    }
  }

  &__list {

    display: flex;
    width: 100%;

    &-column {
      @media (min-width: $breakpoint) {
        display: flex;
        flex-direction: column;

        .articles-authors__item:not(:first-child) {
          margin-top: 40px;
        }
        .articles-authors__item:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__item {
    transition: $transition;
    // height: 92px;
    padding: 16px 16px 16px 8px;
    border: 1px solid transparent;

    &--active {
      background: rgba(41, 165, 177, 0.1);
      border: 1px solid $color-main;
    }

    &:last-child {
      margin-right: 40px;
    }

    .button-svg {
      height: auto;
    }
  }

  &__filter-item {
    @media (min-width: $breakpoint) {
      border: 1px solid $color-gray-border;
      padding: 10px;
    }
  }

  &__filter-item:hover {
    background-color: $color-main;
    color: #fff;

    .article-author__prof {
      color: #fff;
    }
  }

  // &__item--active {
  //   background-color: $color-main;
  //   color: #fff;

  //   .article-author__prof {
  //     color: #fff;
  //   }
  // }

  .team-filter__reset {
    margin-top: 30px;
  }
}

.article-author {
  height: 100%;

  &__all-authors {
    .article-author__img {
      background-color: $color-gray-border;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .article-author__image {
      width: 22px;
      object-fit: unset;

      @media (max-width: $breakpoint - 1px) {
        width: 17px;
      }
    }
    .article-author__col:nth-child(2) {
      margin-top: 20px;

      @media (max-width: $breakpoint - 1px) {
        margin-top: 10px;
      }
    }
    .article-author__link {
      margin-top: 20px;
    }
  }

  &__row {
    display: flex;
    height: 100%;
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
      // width: calc(#{$col-width-m});
      // @media (min-width: $breakpoint) {
      //   width: calc(#{$col-width-d});
      // }
    }
    &:nth-child(2) {
      margin-left: 20px;
      align-self: flex-end;
      @media (max-width: $breakpoint - 1px) {
        // width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
        flex-shrink: 0;
        margin-left: 10px;
      }
    }
  }

  &__img {

    border-radius: 50%;
    overflow: hidden;
    width: 46px;
    height: 46px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    @media (min-width: $breakpoint) {
      margin-bottom: 10px;
      width: 60px;
      height: 60px;
    }
  }

  &__label {
    transition: $transition;
    text-align: center;
    @include fsl(12px, 140%);
    @media (min-width: $breakpoint) {
      @include fsl(14px);
    }
  }

  &__name {
    transition: $transition;
    @include fsl(16px, 140%);
    // @media (min-width: $breakpoint) {
    //   @include fsl(16px);
    // }
  }

  &__prof {
    transition: $transition;
    margin-top: 5px;
    margin-bottom: 15px;

    @media (min-width: $breakpoint) {
      margin-top: 10px;

      @include fsl(14px);
    }
    @include fsl(12px, 140%);
    color: #768486;
  }

  &__link {
    font-size: 14px;
    line-height: 140%;

    // &::after {
    //   content: '12';
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 16px;
    //   height: 16px;
    //   border-radius: 50%;
    //   background-color: $color-main;
    //   color: #fff;
    //   font-size: 9px;
    //   margin-top: -17px;
    // }

    svg {
      width: 34px;
      margin-right: 10px;
    }

    .mission__missions-links-text {
      font-size: 14px;
      margin-left: 0;
    }
  }

  &__count {
    content: '12';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-main;
    color: #fff;
    font-size: 9px;
    margin-top: -17px;
  }
}

.category {
  $comp: &;
  padding: 40px 0;

  @include scrollbar-hidden;

  display: none;
  @media (max-width: $breakpoint - 1px) {
    display: block;
    padding: 25px 0 20px;
    border-bottom: none;
  }
  border-bottom: 1px solid $color-gray-border;

  &--counter {
    display: block;

    #{$comp}__list {
      width: 100%;
      overflow-x: auto;
      counter-reset: index;
      padding-bottom: 3px;
    }

    #{$comp}__item {
      padding-left: 20px;
      position: relative;

      padding-bottom: 5px;
      border-bottom: 1px solid transparent;

      &::before {
        counter-increment: index;
        content: counter(index) ". ";
        position: absolute;
        top: 1px;
        @media (min-width: $breakpoint) {
          top: 0;
        }
        left: 0;

        font-size: 14px;
        line-height: 160%;
        @media (min-width: $breakpoint) {
          font-size: 18px;
        }
      }
    }

    #{$comp}__item--active {
      border-color: $color-main;
    }

    #{$comp}__link {
      padding-bottom: 0;
      border: 0;
    }
  }

  &--mobile {
    padding: 20px 20px 0;
    margin: 0 -20px;

    overflow-x: auto;
    border: 0;

    display: block;

    .category__item:last-child {
      

      .category__link {
        margin-right: 20px;
      }
    }

    .category__list {
      padding-bottom: 4px;
    }

    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  &--column {
    padding: 60px 0 0;

    width: calc(#{$col-part-d} * 2);

    border: 0;

    @media (min-width: $breakpoint) {
      display: block;
    }
    
    #{$comp}__list {
      margin: 0;
      padding-left: 40px;

      display: block;
    }

    #{$comp}__item {
      margin: 0;

      &:not(:first-child) {
        margin-top: 20px;
        margin-left: 0;
      }

      // &--active {
      //   padding-bottom: 0;
      //   border: 0;
      //   #{$comp}__link {
      //     padding-bottom: 5px;
      //     border-bottom: 1px solid $color-main;
      //   }
      // }
    }
  }

  &__list {
    @media (min-width: $breakpoint) {
      // margin-left: -40px;
      margin-top: -20px;

      flex-wrap: wrap;
    }
    display: flex;

    @include scrollbar-hidden;
  }

  &__item {

    // padding-bottom: 5px;
    width: auto;

    // border-bottom: 1px solid transparent;
    
    @media (min-width: $breakpoint) {
      // margin-left: 40px;
      margin-top: 20px;
    }
    @media (max-width: $breakpoint - 1px) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
      @media (min-width: $breakpoint-xl) {
        margin-right: 40px;
      }
    }

    cursor: pointer;
    transition: $transition;
    &:hover {
      color: $color-main;
      #{$comp}__link {
        color: $color-main;
      }
    }

    &--active {
      color: $color-main;
      // border-color: $color-main;

      #{$comp}__link {
        color: $color-main;
        border-color: $color-main;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 160%;
    @media (min-width: $breakpoint) {
      font-size: 18px;
    }
    
    white-space: nowrap;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: $transition;
  }
}

.research {
  // margin-top: 40px;
  // @media (min-width: $breakpoint) {
  //   margin-top: 80px;
  // }

  padding-top: 120px;
  @media (max-width: $breakpoint - 1px) {
    padding-top: 40px;
  }

  &__list {
    @media (min-width: $breakpoint) {
      margin-top: -40px;

      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {

    .card {
      &:hover {
        background-color: #CDF5FA;
      }
      @import '../components/_button-animation';
    }
    

    @media (min-width: $breakpoint) {
      margin-top: 40px;
      flex-shrink: 0;
      width: calc((#{$col-part-d} * 9 - #{$col-gap-d}) / 2 - 20px);

      &:nth-child(2n) {
        margin-left: 40px;
      }
    }
    @media (max-width: $breakpoint - 1px) {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  } 
}

.publications-top-category {
  .category__item:not(:first-child) {
    margin-left: 0;
  }
}