// Стили страницы Наша команда

.team-filter {
  $comp: &;

  &-mobile {
    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  margin-top: 60px;
  padding-left: $col-gap-d;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 20px;
    padding-left: 0;
  }

  &--md {
    margin-top: 20px;
  }

  &--long {
    margin-top: 20px;
    padding-left: 0;
    padding-bottom: 10px;
    @media (min-width: $breakpoint) {
      padding-bottom: 30px;
      margin-top: 0;
    }
    border-bottom: 1px solid $color-main;

    #{$comp}__container {
      margin-bottom: 0;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 10px;
    }
  }

  &__item {
    margin: 0 10px 10px 0;

    font-size: 14px;
    line-height: 140%;

    // cursor: pointer;
    transition: $transition;

    &--active {
      color: $color-main;
    }

    
  }

  &__reset {
    border: none;
    background-color: transparent;
    cursor: pointer;

    display: flex;

    font-size: 14px;
    line-height: 140%;

    transition: $transition;

    svg {
      transition: $transition;
      path {
        transition: $transition;
      }
    }

    &:hover {
      color: $color-main;

      svg {
        transform: rotate(360deg);
        path {
          fill: $color-main;
        }
      }
    }

    &-ico {
      margin-right: 15px;
    }
  }
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  margin: 120px 0 60px;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0 20px;
  }

  // страница work-page
  &--bot {
    margin-top: 0;
  }

// Большая карточка

  &-member {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    margin-bottom: 100px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 + #{$col-gap-m});
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }

    &__img {
      width: 100%;
      margin-bottom: 50px;
      
      position: relative;

      @media (max-width: $breakpoint-m - 1px) {
        height: auto;
        margin-bottom: 30px;
      }
      
      &-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;

        img {
          width: 100%;
          height: 100%;
  
          object-position: center;
          object-fit: cover;
          transition: $transition;
        }
  
        img:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }

    &__badge {
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 0;

      display: flex;

      margin: 0 20px -20px 0;

      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;

        width: 112px;
        height: 112px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid $color-gray-border;

        padding: 15px 27px;
        margin-left: 10px;

        @media (max-width: $breakpoint - 1px) {
          width: 88px;
          height: 88px;

          padding: 15px 20px 10px;
        }
      }

      &-txt {
        font-size: 14px;
        line-height: 140%;

        height: 50%;
        text-align: center;
        
        display: flex;
        align-items: center;

        @media (max-width: $breakpoint - 1px) {
          font-size: 10px;
        }
      }

      &-count {
        font-size: 30px;
        line-height: 140%;
        text-align: center;

        @media (max-width: $breakpoint - 1px) {
          font-size: 24px;
        }
      }
    }

    &__desc {
      width: 100%;
      border-left: 1px solid $color-main;
      padding: 0 40px 0 40px;

      @media (max-width: $breakpoint-m - 1px) {
        padding: 0 20px 0 20px;
      }
    }

    &__name {

      margin-bottom: 10px;
      @include title-h4(); 
    }

    &__position {
      font-size: 16px;
      line-height: 140%;

      color: $color-main;

      @media (max-width: $breakpoint-m - 1px) {
        font-size: 14px;
      }
    }
  }

// Маленькая карточка

  &-member:nth-child(4n + 2), &-member:nth-child(4n + 3) {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    // margin-top: 100px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - (#{$col-gap-m} * 4));
      // margin-top: 75px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
      // margin-top: 0;
    }
  }
}

.filter-tags-hover {
  .team-filter__item:hover {
    color: $color-main;
    cursor: pointer;
  }
}