.member-page {

  &__head {
    border-bottom: 1px solid $color-main;
  }

  &__title {
    border-bottom: none;
    padding-bottom: 14px;
  }

  &__position {
    width: 100%;
    padding-bottom: 18px;

    font-size: 20px;
    line-height: 140%;
    color: $color-main;

    border-bottom: 1px solid $color-main;

    @media (max-width: $breakpoint - 1px) {
      font-size: 14px;
    }
  }

  &__img {
    position: relative;
    display: flex;

    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }

    &-container {
      width: 100%;
      position: relative;
      img {
        position: relative;
        width: 100%;

        object-position: center;
        object-fit: cover;
      }
    }

    .team-member__badge {
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }

  &__presentation {
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    margin: 0 -223px 41px 0;

    @media (max-width: $breakpoint - 1px) {
      position: static;
      margin: 40px 0 0 0;
    }

    display: flex;
    align-items: center;

    &-title {
      margin-left: 20px;
      width: 50%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 14px;
        margin-left: 10px;
      }
    }

    &-ico {
      @media (max-width: $breakpoint - 1px) {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }

  &__txt {

    ul:first-child {
      margin: 40px 0 60px;
    }

    ul:last-child {
      margin-bottom: 0;
    }
  }

  &__publications-card {
    background-color: #fff;
  }
}

.member-page-aside {

  @media (max-width: $breakpoint - 1px) {
    margin: 0;
  }

  .member-page__badge {
    position: static;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }
}

.member-operations-slider {

  @media (max-width: $breakpoint - 1px) {
    .swiper-slide {
      width: unset;
    }
  }

  .operation-card__col {
    width: calc(#{$col-part-d} * 4);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    .operation-card__image {
      width: 100%;

      .operation-card__img {
        // max-height: unset;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .operation-card__col:nth-child(2) {
    width: calc(#{$col-part-d} * 4);
    margin-left: calc(#{$col-width-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

// .team-member-publications {
//   overflow: hidden;
// }

.member-back-link {
  @media (max-width: $breakpoint - 1px) {
    margin: 20px 0;

    .single-news__back-link {
      margin-bottom: 0;
    }
  }
}

.padding60-40 {
  padding: 60px 0 40px;

  @media (min-width: $breakpoint) {
    padding: 160px 0;
  }
}