.training-drop {
  margin: -10px 0 10px 20px;

  @media (max-width: $breakpoint - 1px) {
    padding: 0;
  }

  .news-spoiler__nav-item {
    margin-bottom: 0;
  }
}

.training-main-img {
  width: 100%;
}

.training-parts {
  margin: 120px 0 160px;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0 75px;
  }
}

.training-subtitle {
  margin: 80px 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0 15px;
    font-size: 18px;
  }
}

.training-list {
  &__ttl {
    font-size: 30px;
    width: calc(#{$col-part-d} * 4);

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m});

      font-size: 16px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }

  &__desc {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    padding-left: 0;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
      font-size: 14px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }

    ul {
      margin: 0;

      li:first-child {
        margin-top: 0;
      }
    }
  }
}

.training-list:last-child {
  margin-bottom: 0;
}

.training-stages {

  &__ttl {
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 140%;

    @media (max-width: $breakpoint - 1px) {
      margin: -35px 0 50px;
      font-size: 22px;
    }
  }

  .transfer-numbers {

    &__wrapper {
      flex-direction: unset;
      justify-content: space-between;

      @media (max-width: $breakpoint - 1px) {
        flex-wrap: wrap;
      }

      @media (max-width: $breakpoint-m - 1px) {
        flex-direction: column;
      }
    }

    &__item {
      margin: 0;
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

      @media (max-width: $breakpoint - 1px) {
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
        margin-bottom: calc(#{$col-gap-m});
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: 100%
      }

      @import '../components/_button-animation';
    }

    &__item:first-child {
      margin: 0;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: calc(#{$col-gap-m});
      }
    }

    &__item:nth-child(2n) {
      margin: 0;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: calc(#{$col-gap-m});
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: 100%
      }

      .transfer-numbers__count .transfer-numbers__desc {
        padding: 40px 40px 40px 0;

        @media (max-width: $breakpoint-m - 1px) {
          padding: 20px 10px 10px 0;
        }
      }
    }

    &__count {
      width: unset;

      @media (max-width: $breakpoint-m - 1px) {
        justify-content: space-between;
      }
    }

    &__desc {
      // padding: 0;
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      margin-left: calc( -1 * (#{$col-width-d}));
      padding: 40px 40px 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        margin-left: 0;
      }

      @media (max-width: $breakpoint-m - 1px) {
        width: calc(#{$col-part-m} * 3);
        padding: 20px 10px 10px 0;
      }

      &-ttl {
        width: unset;
        font-size: 22px;
        // word-break: break-all;

        @media (max-width: $breakpoint - 1px) {
          font-size: 16px;
          align-self: flex-start;
        }
      }

      svg {
        align-self: flex-end;
        min-width: 60px;
      }
    }

    &__big p {
      @media (max-width: $breakpoint-m - 1px) {
        font-size: 130px;
    }
    }
  }
  
}

.training-cards {
  margin-top: 160px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 80px;
  }

  &__ttl {
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 20px;

    @media (max-width: $breakpoint - 1px) {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }

  &__txt {
    color: $color-main;
    font-size: 12px;
    line-height: 140%;
    margin-top: 27px;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 10px;
    }
  }

  &__row {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 40px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      flex-direction: column;
    }
  }

  &__item {
    width: calc(50% - 20px);
    background-color: #fff;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $breakpoint - 1px) {
      width: calc(50% - 10px);
      padding: 20px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;

    }

    p {
      margin-top: 45px;
      font-size: 16px;
      line-height: 140%;

      @media (max-width: $breakpoint - 1px) {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }

  &__item:first-child {

    @media (max-width: $breakpoint-m - 1px) {
      margin-bottom: 10px;
    }
  }
}

.training-page-title {
  font-size: 40px;
  line-height: 140%;

  margin: 160px 0 60px;

  @media (max-width: $breakpoint - 1px) {
    font-size: 22px;
    margin: 60px 0 20px;
  }
}

.training-page-title__first {
  font-size: 40px;
  line-height: 140%;
  margin: 120px 0 60px;

  @media (max-width: $breakpoint - 1px) {
    font-size: 22px;
    margin: 40px 0 20px;
  }
}

.training-page {
  .single-news__txt ul {
    margin-top: 40px;
    @media (max-width: $breakpoint - 1px) {
      margin: 20px 0;
    }
  }

  .single-news__txt p {
    font-size: 22px;
    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
    }
  }

  .member-page-ask {
    padding-left: 0;
  }
}

.training-stages {

  @media (max-width: $breakpoint-m - 1px) {

    .transfer-numbers__big p {
      margin-top: -160%;
      margin-bottom: -170%;
    }

    .transfer-numbers__item:first-child .transfer-numbers__count .transfer-numbers__big p {
      margin-left: -10%;
    }

    .transfer-numbers__item:nth-child(2n) .transfer-numbers__count .transfer-numbers__big p {
      margin-left: -15%;
    }

    .transfer-numbers__item:nth-child(3n) .transfer-numbers__count .transfer-numbers__big p {
      margin-left: -10%;
      margin-bottom: -170%;
    }
  }
}