.vacancies {
  &-tagline {
    margin: 0 0 120px 0;
    // padding-right: calc(#{$col-width-d});
    max-width: unset;

    text-align: left;
    font-size: 70px;
    line-height: 140%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 30px;
      margin: 0 0 60px 0;
    }

    @media (max-width: $breakpoint-m - 1px) {
      font-size: 22px;
      padding-right: calc(#{$col-width-m});
      position: relative;
      padding-bottom: 200px;
      margin: 0 0 40px 0;
    }
    @media (max-width: 550px) {
      padding-bottom: 150px;
    }
    @media (max-width: 400px) {
      padding-bottom: 100px;
    }

    span {
      font-size: 70px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 30px;
      }

      @media (max-width: $breakpoint-m - 1px) {
        font-size: 22px;
      }
    }

    img {
      // padding-top: 50px;
      object-position: center;
      object-fit: cover;
      max-height: unset;
      @media (max-width: $breakpoint - 1px) {
        vertical-align: top;
        margin-top: 10px;
      }
      @media (max-width: $breakpoint-m - 1px) {
        position: absolute;
        width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
        // height: 85px;
        bottom: 0;
        right: 0;
      }
    }
    
  }

  &-blockquote {
    font-size: 22px;
    line-height: 140%;

    border-left: 1px solid $color-main;

    margin: 160px 0 0 calc(#{$col-part-d});
    // padding: 0 calc(#{$col-part-d} * 2) 0 calc(#{$col-part-d} * 2);
    padding-left: calc(#{$col-part-d} * 2);
    width: calc(#{$col-part-d} * 2 + 480px);

    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
      margin: 60px 0 0 0;
      padding: 0 0 0 calc(#{$col-part-m});
      width: auto;
    }

    @media (max-width: $breakpoint-m - 1px) {
      padding: 0 0 0 20px;
      margin: 90px 0 0 0;
    }
  }
}

.vacancies__image {
  .about__image-background {
    @media (max-width: $breakpoint - 1px) {
      height: 380px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      height: 185px;
    }
  }
}

.vacancies-achievements {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint - 1px) {
    flex-wrap: wrap;
  }

  @media (max-width: $breakpoint-m - 1px) {
    flex-direction: column;
  }

  &__box {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    &:first-child {
      .vacancies-achievements__txt {
        padding-right: 40px;

        @media (max-width: $breakpoint - 1px) {
          padding-right: 0;
        }
      }
    }

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      width: 100%;
    }
  }

  &__img {
    object-position: center;
    object-fit: cover;

    width: 100%;
    margin-bottom: 20px;
  }

  &__txt {
    font-size: 18px;

    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
    }
  }

  &__tagline {
    padding: 120px 0 160px;

    @media (max-width: $breakpoint - 1px) {
      padding: 20px 0 60px;
    }
  }
}

.mission__missions-text.vacancies-achievements__tagline {
  @media (max-width: $breakpoint - 1px) {
    font-size: 30px;

    span {
      font-size: 36px;
    }
  }
  @media (max-width: $breakpoint-m - 1px) {
    font-size: 20px;

    span {
      font-size: 26px;
    }
  }
  @media (max-width: 390px) {
    letter-spacing: -.5px;
    .mission__missions-text-highlight {
      letter-spacing: -.5px;
    }
  }
}

.vacancies-list {
  $comp: &;

  &__spoilers {

    @media (min-width: $breakpoint) {
      max-width: calc(#{$col-part-d} * 7 - #{$col-gap-d});
    }
  }

  &__drop {
    padding: 20px;
    @media (min-width: $breakpoint) {
      padding: 20px calc(#{$col-part-d}) 60px;
    }

    .mission__spoiler-list {
      padding: 0;
      // padding: 5px 0 25px;
      // @media (min-width: $breakpoint) {
      //   padding: 20px 0 60px;
      // }
    }

    .vacancies-list__extra-btn {
      margin-top: 40px;
      @media (min-width: $breakpoint) {
        margin-top: 60px;
      }
    }
  }

  &__subtitle {
    margin: 60px 0 40px;
    // margin: 60px 0 20px;

    @media (max-width: $breakpoint - 1px) {
      margin: 40px 0 20px;
    }
  }

  &__subtitle:first-child {
    margin: 0 0 40px;
  }

  &__item {
    font-size: 14px;
    @media (min-width: $breakpoint) {
      font-size: 16px;
    }
  }

  &__extra {
    margin-top: 160px;
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-top: 60px;
    }

    &-txt {
      font-size: 30px;
      margin-bottom: 60px;

      @media (max-width: $breakpoint - 1px) {
        font-size: 18px;
      }
    }

    &-btn {
      border: none;
      background-color: $color-main;
      border-radius: 8px;
      cursor: pointer;

      color: #fff;
      font-size: 16px;

      display: flex;
      align-items: center;

      padding: 5px 20px 5px 8px;
      margin-top: 30px;

      &--md {
        margin-top: 40px;
        @media (min-width: $breakpoint) {
          margin-top: 60px;
        }
      }

      .extra-btn {
        width: 39px;
        margin-right: 20px;
        stroke: #fff;
        &-fill {
          fill: #fff;
        }
      }

      &:hover {
        #{$comp}__extra-span {
          span {
            animation: MoveUpInitial 0.3s forwards, MoveUpEnd 0.3s forwards 0.3s;
          }
        }
        .button-extra-svg {
          path {
            &:nth-child(1) {
              transform: rotate(30deg);
              fill: $color-white;
              stroke: $color-main
            }
            &:nth-child(3) {
              transform: translateX(10px);
              fill: $color-main;
              stroke: $color-main;
            }
          }
        }
      }
    }
    &-span {
      overflow: hidden;
      span {
        display: block;
        overflow: hidden;
      }
    }
  }
}