extends ../layouts/master



block vars


  
block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |О нас
                    each item in ['Миссия и ценности', 'Наша команда', 'Новости', 'Контакты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title.page-title-hidden--mob
                |О нас
              .mission__spoiler.news-spoiler.spoiler-to-title--mob
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title.title-h1
                    |О нас
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['Миссия и ценности', 'Наша команда', 'Новости', 'Контакты']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              .section__block.section__block--small
                .about__image
                  .about__image-background(style='background-image: url("assets/images/about-image.jpeg")')
                    +svg-hexagon.about__image-svg
                    +svg-hexagon.about__image-svg
              .section__block
                h3.about__info-title 
                  |ИБИ был основан как специализированный центр базальной имплантации в России 
                  a.about__info-link(href="#") для оказания помощи пациентам 
                  |данной методикой и 
                  a.about__info-link(href="#") максимальной специализацией 
                  |в данном методе. 
                .about__info-row 
                  .about__info-col
                    p.about__info-text 
                      |Сконцентрированное внимание и применение базальной имплантации обеспечило результаты наивысшего качества в данной методике и позволило решить самые сложные клинические ситуации.
                  .about__info-col
                    p.about__info-text 
                      |На сегодняшний день центр Институт Базальной Имплантации является лидером в узкоспециализированном применении методики и работе по развитию данного метода. Постоянное совершенствование, владение передовой и новейшей информацией обеспечивает высокие и надежные результаты лечения наших пациентов, соответствуя их ожиданиям от действительно современной медицины и стоматологии.
              .section__block.about__to-front
                ul.about__list.about-list-adaptive
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Над вашей улыбкой работает целая команда узкоспециализированных специалистов
                      .about__list-col
                        p.about__list-text
                          |Хирурги, ортопеды, ассистенты и зубные техники специально подготовлены для работы с базальными имплантатами. Вам не нужно ждать специалиста из другой клиники, наши штатные врачи проведут контроль или корректирующее лечение в любой день.
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Более 1000 челюстей установлено в иби за последние 5 лет
                      .about__list-col
                        p.about__list-text
                          |Под руководством главного врача клиники Андрея Евгеньевича Шмойлова, практикующего базальную имплантацию 10 лет и занимающегося образовательной деятельностью. Всего в штате три базальных хирурга.
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Врачи-ортопеды специализированы на протезировании именно в методе немедленной нагрузки
                      .about__list-col
                        p.about__list-text
                          |Eжесезонно проходят курсы по тотальному протезированию, обладают навыками создания индивидуальной эстетики. Учтут ваши анатомические особенности и пожелания.
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |В ИБИ есть своя новейшая зуботехническая лаборатория
                      .about__list-col
                        p.about__list-text
                          |Конкурсный отбор техников, обучение и сертифицирование за рубежом — гарантия того, что вашими зубами занимаются профессионалы. Также важно, что мы сами контролируем процесс создания зубов на каждом этапе.
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Современное австрийское оборудование Amman Girrbach
                      .about__list-col
                        p.about__list-text
                          |Позволяет воссоздать зубные ряды в соответствии с индивидуальными анатомическими параметрами. Высокоточные приборы — лицевая дуга, центрофикс, клинометр, артикуляторы — это оснащение, без которого врач-ортопед не приступит к работе над вашими зубами.
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |В ИБИ стерилизация проходит по новейшим стандартам САНПИН
                      .about__list-col
                        p.about__list-text
                          |(российские), а также стандартам Европейской системы SPS (Sanitary and phytosanitary requirements). Соблюдение этих стандартов — важнейший критерий качества оказания медицинских услуг, гарантия безопасности пациентов и важное условие хирургии.
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Институт Базальной Имплантации является экспертом в области базальной имплантации в России
                      .about__list-col
                        p.about__list-text
                          |Мы являемся научной и клинической базой МГУ им. Н.П. Огарева для будущих врачей-стоматологов. За последние 3 года в ИБИ проведены около 40 курсов, мы поделились своим опытом с другими специалистами и клиниками.
              .section__block
                .about__post
                  h2.about__post-title
                    |5 лет гарантии
                  p.about__post-text
                    |Гарантия на имплантацию с применением Швейцарских имплантатов STRATEGIC IMPLANT 5 лет. На протяжении которых вы проходите 8 бесплатных обязательных контрольных осмотров. Все гарантийные обязательства четко закреплены в Положении о гарантиях.
                .about__download.about__download--margin-top
                  include ../components/guarantee-contract
              .section__block
                p.about__caption
                  |Авторизованные клиники базальной имплантации по всему миру, в которых вы сможете обратиться за контрольным осмотром
                .about__grid.about__grid--margin-top
                  ul.about__grid-list.contacts-clinics
                    - for (let i=0; i<3; i++)
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Англия
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |London, st. Strawberry Fields Forever 67
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Швейцария
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |Zurich, Wünnewil-Flamatt 23
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Англия
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |London, st. Strawberry Fields Forever 67
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
    section.section.section--blue-light
      .row
        .row__col
        .row__col
          .section__inner
            .container
              .section__block
                .section__title-row
                  .section__title-row-col
                    h2.section__title
                      |Лицензии и сертификаты
                  .section__title-row-col.section__title-row-col--desktop
                    .slider-control.slider-control--desktop
                      .slider-control__item
                        .button-arrow.button-arrow--left
                          .button-arrow__button(data-slider-button='1')
                            +svg-arrow.button-arrow__svg
                      .slider-control__item
                        .button-arrow.button-arrow--right
                          .button-arrow__button(data-slider-button='2')
                            +svg-arrow.button-arrow__svg
                .section__frame
                  .about__slider
                    .swiper-container.swiper-container--visible.swiper-container--slide-width-auto(data-slider-id='1' data-slider-prev='1' data-slider-next='2')
                      .swiper-wrapper
                        - for (let i=0; i<3; i++)
                          .swiper-slide
                            .about__license
                              .about__license-frame
                                img.about__license-img(src='assets/images/about-license.jpeg' alt='')
                              h6.about__license-title
                                |Сертификат специалиста
                          .swiper-slide
                            .about__license
                              .about__license-frame
                                img.about__license-img.qwe(src='assets/images/about-license-1.jpeg' alt='')
                              h6.about__license-title
                                |Сертификат о допущении к осуществлению медицинской или фармацевтической деятельности по специальности
                          .swiper-slide
                            .about__license
                              .about__license-frame
                                img.about__license-img(src='assets/images/about-license-2.jpeg' alt='')
                              h6.about__license-title
                                |Лицензия на осуществление медицинской деятельности
                          .swiper-slide
                            .about__license
                              .about__license-frame
                                img.about__license-img(src='assets/images/about-license-3.jpeg' alt='')
                              h6.about__license-title
                                |Удостоверение о повышении квалификации
              .section__block
                .section__frame
                  .section__title-row
                    .section__title-row-col
                      h2.section__title
                        |Наши партнеры
                    .section__title-row-col.section__title-row-col--desktop
                      .slider-control.slider-control--desktop
                        .slider-control__item
                          .button-arrow.button-arrow--left
                            .button-arrow__button(data-slider-button='3')
                              +svg-arrow.button-arrow__svg
                        .slider-control__item
                          .button-arrow.button-arrow--right
                            .button-arrow__button(data-slider-button='4')
                              +svg-arrow.button-arrow__svg
                  .about__slider
                    .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='2' data-slider-prev='3' data-slider-next='4')
                      .swiper-wrapper
                        - for (let i=0; i<3; i++)
                          .swiper-slide
                            .about__partner.about__partner--height-100p
                              img.about__partner-img(src='assets/images/about-partner.png' alt='')
                          .swiper-slide
                            .about__partner.about__partner--height-100p
                              img.about__partner-img(src='assets/images/about-partner-1.jpeg' alt='')
                          .swiper-slide.about__partner--height-100p
                            .about__partner.about__partner--height-100p
                              img.about__partner-img(src='assets/images/about-partner-2.png' alt='')
                          .swiper-slide
                            .about__partner.about__partner--height-100p
                              img.about__partner-img(src='assets/images/about-partner-3.jpeg' alt='')

