extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav(data-sticky-id='1' data-sticky-top='250' data-sticky-bottom='120')
                  ul.nav__list
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |О нас
                    each item in ['Миссия и ценности', 'Наша команда', 'Новости', 'Контакты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title
                |О нас
              .section__block.section__block--small
                .about__image
                  .about__image-background(style='background-image: url("assets/images/about-image.jpeg")')
                    +hexagon-svg('about__image-svg')
                    +hexagon-svg('about__image-svg')
              .section__block.about__to-front
                ul.about__list
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Мы — авторизованный центр компании IhdeDental
                      .about__list-col
                        p.about__list-text
                          |Официально работаем по европейской системе имплантат Strategic Implant
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Единственный центр России, в котором официально оперирует профессор Стефан Иде
                      .about__list-col
                        p.about__list-text
                          |Сотрудники нашей клиники проходят 
                          a.about__list-link(href='#')
                            |постоянное повышение квалификации
                          |#{' '}и имеют сертификаты международных образовательных программ
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Работаем исключительно с имплантатами изготовленными в Швейцарии
                      .about__list-col
                        p.about__list-text
                          |Каждый установленный имплантат имеет индивидуальный паспорт
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Проводим обучение профильных специалистов и занимаемся научной деятельностью
                      .about__list-col
                        p.about__list-text
                          |Собственная 
                          a.about__list-link(href='#')
                            |зуботехническая лаборатория
                          |#{' '}позволяет вносить научный вклад в развитие и популиризацию метода базальной имплантации
                  li.about__list-item
                    .about__list-row
                      .about__list-col
                        h3.about__list-title
                          |Состоим в членстве с немецкой ассоциацией оральных имплантологов Германии DGOI
                      .about__list-col
                        p.about__list-text
                          |DGOI  ведущая имплантологическая ассоциация Германии.  Обеспечивает основные обучающие мероприятия по имплантологической реабилитации пациентов. Проводит подготовку и повышает квалификацию специалистов для работы в различных клинических ситуациях. Членство в организации обеспечивает непрерывный обмен опытом между специалистами Института и представителями ассоциации. Институт получает информацию о передовых методах в имплантации зубов
              .section__block
                .about__post
                  h2.about__post-title
                    |5 лет гарантии
                  p.about__post-text
                    |Гарантия на имплантацию с применением Швейцарских имплантатов STRATEGIC IMPLANT 5 лет. На протяжении которых вы проходите 8 бесплатных обязательных контрольных осмотров. Все гарантийные обязательства четко закреплены в Положении о гарантиях.
                .about__download.about__download--margin-top
                  .about__download-row
                    .about__download-col
                      .about__download-title-block
                        h3.about__download-title
                          |Все гарантийные обязательства закреплены в договоре
                    .about__download-col
                      a.about__download-button(href='#')
                        .about__download-button-row
                          .about__download-button-col
                            h6.about__download-button-title
                              |Скачать типовой договор
                          .about__download-button-col
                            .about__download-button-image
                              +download-svg('about__download-button-svg')
              .section__block
                p.about__caption
                  |Авторизованные клиники базальной имплантации по всему миру, в которых вы сможете обратиться за контрольным осмотром
                .about__grid.about__grid--margin-top
                  ul.about__grid-list
                    - for (let i=0; i<3; i++)
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Англия
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |London, st. Strawberry Fields Forever 67
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Швейцария
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |Zurich, Wünnewil-Flamatt 23
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Англия
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |London, st. Strawberry Fields Forever 67
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
    section.section.section--blue-light
      .row
        .row__col
        .row__col
          .section__inner
            .container
              .section__block
                .section__title-row
                  .section__title-row-col
                    h2.section__title
                      |Лицензии и сертификаты
                  .section__title-row-col.section__title-row-col--desktop
                    .slider-control.slider-control--desktop
                      .slider-control__item
                        .button-arrow.button-arrow--left
                          .button-arrow__button(data-slider-button='1')
                            +arrow-svg('button-arrow__svg')
                      .slider-control__item
                        .button-arrow.button-arrow--right
                          .button-arrow__button(data-slider-button='2')
                            +arrow-svg('button-arrow__svg')
                .about__slider
                  .swiper-container.swiper-container--visible.swiper-container--slide-width-auto(data-slider-id='1' data-slider-prev='1' data-slider-next='2')
                    .swiper-wrapper
                      - for (let i=0; i<3; i++)
                        .swiper-slide
                          .about__license
                            .about__license-frame
                              img.about__license-img(src='assets/images/about-license.jpeg' alt='')
                            h6.about__license-title
                              |Сертификат специалиста
                        .swiper-slide
                          .about__license
                            .about__license-frame
                              img.about__license-img.qwe(src='assets/images/about-license-1.jpeg' alt='')
                            h6.about__license-title
                              |Сертификат о допущении к осуществлению медицинской или фармацевтической деятельности по специальности
                        .swiper-slide
                          .about__license
                            .about__license-frame
                              img.about__license-img(src='assets/images/about-license-2.jpeg' alt='')
                            h6.about__license-title
                              |Лицензия на осуществление медицинской деятельности
                        .swiper-slide
                          .about__license
                            .about__license-frame
                              img.about__license-img(src='assets/images/about-license-3.jpeg' alt='')
                            h6.about__license-title
                              |Удостоверение о повышении квалификации
              .section__block
                .section__title-row
                  .section__title-row-col
                    h2.section__title
                      |Наши партнеры
                  .section__title-row-col.section__title-row-col--desktop
                    .slider-control.slider-control--desktop
                      .slider-control__item
                        .button-arrow.button-arrow--left
                          .button-arrow__button(data-slider-button='3')
                            +arrow-svg('button-arrow__svg')
                      .slider-control__item
                        .button-arrow.button-arrow--right
                          .button-arrow__button(data-slider-button='4')
                            +arrow-svg('button-arrow__svg')
                .about__slider
                  .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='2' data-slider-prev='3' data-slider-next='4')
                    .swiper-wrapper
                      - for (let i=0; i<3; i++)
                        .swiper-slide
                          .about__partner.about__partner--height-100p
                            img.about__partner-img(src='assets/images/about-partner.png' alt='')
                        .swiper-slide
                          .about__partner.about__partner--height-100p
                            img.about__partner-img(src='assets/images/about-partner-1.jpeg' alt='')
                        .swiper-slide.about__partner--height-100p
                          .about__partner.about__partner--height-100p
                            img.about__partner-img(src='assets/images/about-partner-2.png' alt='')
                        .swiper-slide
                          .about__partner.about__partner--height-100p
                            img.about__partner-img(src='assets/images/about-partner-3.jpeg' alt='')



block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })
