extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content 
  .section.section--gradient
    .row 
      .row__col 
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky
                ul.nav__list
                  each item in ['Метод']
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
                  li.nav__item.nav__item--active
                    a.nav__link(href='#')
                      |Преимущества
                  each item in ['Этапы имплантации', 'Имплантаты Strategic Implant', 'Стоимость',]
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
      .row__col 
        .section__inner.section__inner--top
          .container 
            h1.title 
              |Преимущества
            .mission
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Преимущества
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['Метод', 'Этапы имплантации', 'Имплантаты Strategic Implant', 'Стоимость']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
            .advantages
              ul.advantages__list 
                li.advantages__item
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |1
                    .advantages__col
                      .advantages__content
                        h4.advantages__title 
                          |Имплантаты цельнолитые, с абатментом
                        .advantages__wrapper
                          .advantages__layer
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |И являются единой завершенной системой. Отсутствие стыка не позволяет скапливаться бактериям в области шейки и абатмента и обеспечивает чистоту поверхности, прилегающей к десне.
                li.advantages__item.advantages__item--revers
                  .advantages-bg
                    .advantages-bg__svg
                      img.advantages-bg__img(src="assets/images/advantages-bg-1.svg", alt="")
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |2
                    .advantages__col
                      .advantages__layout 
                      .advantages__content
                        h4.advantages__title 
                          |Поверхность имплантатов&nbsp;&mdash; полностью полированная&nbsp;(не&nbsp;частично!)
                        .advantages__wrapper
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |И исключает присоединение инфекции. Имплантаты устанавливаются в глубокий базальный слой кости и кортикальную пластину. Превосходная первичная стабилизация при такой установке отменяет необходимость делать имплантаты шершавыми. Это кардинально минимизирует риск развития периимплантита и позволяет провести имплантацию одномоментно с удалением пораженных зубов.
                li.advantages__item
                  .advantages-bg
                    .advantages-bg__svg.advantages-bg__svg--small
                      img.advantages-bg__img(src="assets/images/advantages-bg-2.svg", alt="")
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |3
                    .advantages__col
                      .advantages__content
                        h4.advantages__title 
                          |Современные&nbsp;базальные&nbsp;имплантаты минимально&nbsp;травматичны
                        .advantages__wrapper
                          .advantages__layer
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |Диаметр — всего 2 мм. Для установки нет необходимости резать десну — делается небольшой прокол. Кость сохраняет целостность, каналы питания и иннервации. Маленькая рана быстрее заживает и сокращает срок реабилитации.
                li.advantages__item.advantages__item--revers
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |4
                    .advantages__col
                      .advantages__layout 
                      .advantages__content
                        h4.advantages__title 
                          |Не требуется костная пластика
                        .advantages__wrapper
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |(синус-лифтинг — наращивание кости). Стратегической зоной фиксации для базальных имплантатов является не верхний, а нижний, базальный слой кости и кортикальная пластина, что позволяет успешно провести операцию в сложных случаях атрофии. Отсутствие костной пластики делает процесс быстрым, прогнозируемым и минимизирует воспалительные процессы.
                li.advantages__item
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |5
                    .advantages__col
                      .advantages__content
                        h4.advantages__title 
                          |Одномоментный принцип установки имплантатов
                        .advantages__wrapper
                          .advantages__layer
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |Диаметр — всего 2 мм. Для установки нет необходимости резать десну — делается небольшой прокол. Кость сохраняет целостность, каналы питания и иннервации. Маленькая рана быстрее заживает и сокращает срок реабилитации.
                li.advantages__item.advantages__item--revers
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |6
                    .advantages__col
                      .advantages__layout 
                      .advantages__content
                        h4.advantages__title 
                          |Немедленная нагрузка&nbsp;&mdash;&nbsp;возможность&nbsp;получить зубы&nbsp;и&nbsp;жевать&nbsp;на&nbsp;3&nbsp;&mdash; 7&nbsp;день
                        .advantages__wrapper
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |(синус-лифтинг — наращивание кости). Стратегической зоной фиксации для базальных имплантатов является не верхний, а нижний, базальный слой кости и кортикальная пластина, что позволяет успешно провести операцию в сложных случаях атрофии. Отсутствие костной пластики делает процесс быстрым, прогнозируемым и минимизирует воспалительные процессы.
                li.advantages__item.advantages__item--no-border
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |7
                    .advantages__col
                      .advantages__content
                        h4.advantages__title 
                          |Цифровой протокол
                        .advantages__wrapper
                          .advantages__layer
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |Позволяет нам использовать новейшие методы обработки конструкций, такие как селективное лазерное спекание металла, фрезеровка, 3D печать.
                li.advantages__item.advantages__item--revers.advantages__item--no-border
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |8
                    .advantages__col
                      .advantages__layout 
                      .advantages__content
                        h4.advantages__title 
                          |Материалы протезирования класса люкс и премиум
                        .advantages__wrapper
                          .advantages__line.advantages__line--center
                          .advantages__svg.advantages__svg--center
                            +rhomb-svg
                          p.advantages__text 
                            |Использование швейцарских, немецких, итальянских, американских и японских материалов обеспечивают высокое качество зубов. Каркасы, десневая ткань, материал зубов — исключительно высшего качества, четко прописаны в плане лечения и позволяют создать зубы, которые:
                          .single-news__txt.single-news__txt--default
                            ol
                              - for (i = 0; i < 4; i++)
                                li 
                                  |Преподаватель кафедры стоматологии МГУ им. Огарева. 2012г
                li.advantages__item.advantages__item--no-border
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |9
                    .advantages__col
                      .advantages__content
                        h4.advantages__title 
                          |Имплантаты&nbsp;Oneway&nbsp;Biomed&nbsp;(Strategic Implant)&nbsp;производятся&nbsp;на&nbsp;заводе&nbsp;Ihde dental&nbsp;(Швейцария)
                        .advantages__wrapper
                          .advantages__layer
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |Специально для базальной имплантации и используются в 30 странах мира. Каждый имплантат имеет паспорт.
                li.advantages__item.advantages__item--revers.advantages__item--no-border
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |10
                    .advantages__col
                      .advantages__layout 
                      .advantages__content
                        h4.advantages__title 
                          |Не требуется общий наркоз
                        .advantages__wrapper
                          .advantages__line
                          .advantages__svg.advantages__svg--center
                            +rhomb-svg
                          p.advantages__text 
                            |Операция проходит под местным обезболиванием, которого достаточно. Общий наркоз никогда не&nbsp;проходит для организма бесследно и&nbsp;важно его избегать там, где это возможно. Местная анестезия работает локально, без грубого влияния на&nbsp;общее состояние организма. Наши врачи подберут эффективный препарат, подходящий вам индивидуально.
          .guarantee.mt160
            .container
              .guarantee__img
                .guarantee__img-txt
                  h2 5 лет гарантии
                  p Гарантия на имплантацию с применением Швейцарских имплантатов STRATEGIC IMPLANT 5 лет. На протяжении которых вы проходите 8 бесплатных обязательных контрольных осмотров. Все гарантийные обязательства четко закреплены в Положении о гарантиях.
                img.guarantee__img-effects-mob(src="assets/images/guarantee-effects-mobile.png", alt="")
                img.guarantee__img-effects-desk(src="assets/images/guarantee-effects-desktop.png", alt="")
                img.guarantee__img-main(src="assets/images/guarantee-2.jpg", alt="")
              include ../components/guarantee-contract
          .container.news-subscribe.member-page-ask.price-ask
            h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md
              |Получить персональную консультацию бесплатно
            .block-photo
              .block-photo__image
            include ../components/form-add-file