extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

include ../components/preloader.pug
include ../components/seq.pug

block header
  +header

block preloader
  +preloader

block vars
  - var isSeq = true

block content
  .row
    .row__col
    .row__col
      .section__inner--top.section__inner--seq
        .container.container--seq
          h1.title.title--seq
            |Метод
          +seq
          section.implantation-main-content
            .implantation-blockquote
              |Уникальная технология, позволяющая провести операцию 
              span в самых сложных клинических ситуациях
              |, вне зависимости от объема костной ткани.
            section.implantation-faq
              h3.title-h3 Популярные вопросы о методе
              ul.mission__spoilers.mission__spoilers--margin-top.faq-spoiler
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Могут ли задеть нерв при установке имплантатов?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Это осложнение возникает при установке имплантов на нижнюю челюсть примерно в 13% случаев, и основным его симптомом является нарушение чувствительности в области щек, губ, зубов, десен и языка. Кроме того, в зависимости от степени повреждения нерва могут возникать и другие симптомы, включая повышенное слюноотделение, прикусывание губ или языка, трудности при глотании, разговоре, жевании и т.д.
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Если имплантаты устанавливают сразу после удаления зубов, то как они держатся? Зуб то большой и с корнями, а имплантат узкий и может вывалиться.
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo numquam a ipsa beatae? Ipsa, explicabo, quas illo minima qui sapiente, pariatur ipsum natus delectus voluptates similique quaerat aliquam porro.
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Если доктор, который наблюдает уедет в отпуск, а возникла форс-мажорная ситуация с зубами и необходимо срочно на прием?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ratione, quibusdam consequuntur optio, fugiat aperiam quam eum, et fuga delectus provident debitis quisquam modi adipisci dolore ducimus dignissimos maiores! Assumenda!
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Какие возрастные ограничения?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorum facere dolor exercitationem nisi rerum tempora sapiente aut voluptatum laboriosam eligendi animi sed, quam consectetur impedit quaerat cumque, alias omnis!
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Всем ли подходит метод базальной имплантации?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo numquam a ipsa beatae? Ipsa, explicabo, quas illo minima qui sapiente, pariatur ipsum natus delectus voluptates similique quaerat aliquam porro.
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Будут ли мне устанавливать БОИ имплантаты?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ratione, quibusdam consequuntur optio, fugiat aperiam quam eum, et fuga delectus provident debitis quisquam modi adipisci dolore ducimus dignissimos maiores! Assumenda!
          section.margin160
            h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md
              |Получить персональную
              br
              |стратегию имплантации
            .calc-wrapper.mb80-60
              include ../components/calculator
            include ../components/form-2col-add-file
