extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['О нас','Миссия и ценности', 'Наша команда', 'Новости', 'Вакансии']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Контакты
        .row__col
          .section__inner--top
            .container
              h1.title
                |Контакты
              .contacts.section__block.section__block--small
                .contacts__item.contacts-6col
                  .contacts__item-ttl Телефон в Москве
                  a.contacts__item-link(href="tel:84994906349") 8 499 490 63 49
                .contacts__item.contacts-3col
                  .contacts__weekdays Пнд — Сб<br/>10 — 20
                  .contacts__weekend Воскресенье<br/>выходной
                .contacts__item
                  .contacts__item-ttl По любым вопросам
                  a.contacts__item-link(href="mailto:info@ibi.clinic") info@ibi.clinic
                .contacts__item
                  .contacts__item-ttl Адрес клиники
                  .contacts__address Россия, г. Москва,<br/>1-й Спасоналивковский переулок, 17, корп. 1
                .contacts__item
                  .contacts__item-ttl Мы в социальных сетях
                  .contacts__social
                    ul.footer__socials
                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +svg-tg.footer__socials-svg
                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +svg-ok.footer__socials-svg
                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +svg-zen.footer__socials-svg

                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +facebook-svg('footer__socials-svg')
                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +instagram-svg('footer__socials-svg')
                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +vk-svg('footer__socials-svg')
                      li.footer__socials-item
                        a.footer__socials-link.contacts__social-link(href='#')
                          +youtube-svg('footer__socials-svg')
              .contacts-map-big
                #map
                ul.placemarks
                  li.placemarks__item 
                    p.placemarks__balloon
                      |123123qwe
                    .placemarks__latitude
                      |55.732433
                    .placemarks__longitude
                      |37.616144

              //- .contacts-map-small
              //-   .contacts-map-small-item
              //-     .contacts-map-small-item__ttl Путь от м. Октябрьская
              //-     img.contacts-map-small-item__map(src="assets/images/map-2.jpg", alt="")
              //-   .contacts-map-small-item
              //-     .contacts-map-small-item__ttl Путь от м. Полянка
              //-     img.contacts-map-small-item__map(src="assets/images/map-3.jpg", alt="")
              //-     .contacts-map-small-item__desc
              //-       |Чтобы проложить правильный путь, введите в поисковую строку не адрес (1-й Спасоналивковский переулок, 17, корп. 1), а  название компании («Институт Базальной Имплантации»).

              .contacts-map-small.contacts-panorama
                .contacts-map-small-item
                  .contacts-map-small-item__ttl Панорама улицы с указанием входа

                  //- img.contacts-map-small-item__map(src="assets/images/map-4.jpg", alt="")

                  <div style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a>
                    <a href="https://yandex.ru/maps/213/moscow/house/1_y_spasonalivkovskiy_pereulok_17k1/Z04YcAZmSEEDQFtvfXtyc3hgZw==/?l=stv%2Csta&ll=37.616115%2C55.732418&panorama%5Bdirection%5D=190.801418%2C2.450716&panorama%5Bfull%5D=true&panorama%5Bpoint%5D=37.616186%2C55.733238&panorama%5Bspan%5D=116.872129%2C60.000000&utm_medium=mapframe&utm_source=maps&z=16.99" style="color:#eee;font-size:12px;position:absolute;top:14px;">1-й Спасоналивковский переулок, 17к1 — Яндекс.Карты</a>
                    <iframe src="https://yandex.ru/map-widget/v1/-/CCUueLUC3D" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                  </div>
    section
      .row
        .row__col
        .row__col
          .container        
            p.about__caption
              |Авторизированные клиники базальной имплантации
            .about__grid.mt80-40
              ul.about__grid-list.contacts-clinics
                - for (let i=0; i<3; i++)
                  li.about__grid-item
                    .about__grid-card.about__grid-card--height-100p
                      h3.about__grid-title
                        |Англия
                      ul.about__grid-info
                        li.about__grid-info-item
                          address.about__grid-text
                            |London, st. Strawberry Fields Forever 67
                        li.about__grid-info-item.about__grid-info-item--display-flex
                          a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                            |+44 8982 282 283 33
                  li.about__grid-item
                    .about__grid-card.about__grid-card--height-100p
                      h3.about__grid-title
                        |Швейцария
                      ul.about__grid-info
                        li.about__grid-info-item
                          address.about__grid-text
                            |Zurich, Wünnewil-Flamatt 23
                        li.about__grid-info-item.about__grid-info-item--display-flex
                          a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                            |+44 8982 282 283 33
                  li.about__grid-item
                    .about__grid-card.about__grid-card--height-100p
                      h3.about__grid-title
                        |Англия
                      ul.about__grid-info
                        li.about__grid-info-item
                          address.about__grid-text
                            |London, st. Strawberry Fields Forever 67
                        li.about__grid-info-item.about__grid-info-item--display-flex
                          a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                            |+44 8982 282 283 33
    section.section
      .row
        .row__col
        .row__col
          .container.news-subscribe.member-page-ask.prosthetics-ask
            h2.news-subscribe__title.member-page-ask__title.form-title Свяжитесь с нами
            include ../components/right-form-msg

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")