extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['Strategic Implant']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Мероприятия
                    each item in ['Библиотека', 'Обучение', 'Юридическая помощь', 'Наши разработки']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                  .team-filter.filter-tags-hover
                    ul.team-filter__container
                      li.team-filter__item(data-id="doctor") #вебинар
                      li.team-filter__item(data-id="dentist") #оффлайн
                      li.team-filter__item(data-id="admin") #конференция
                      li.team-filter__item(data-id="coordinator") #курсы
                      li.team-filter__item(data-id="coordinator") #повышение квалификации
                    button.team-filter__reset
                      +reset-svg('team-filter__reset-ico')
                      |Сбросить
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title
                |Мероприятия

              .team-filter.team-filter-mobile
                ul.team-filter__container
                  li.team-filter__item.team-filter__item--active(data-id="doctor") #вебинар
                  li.team-filter__item(data-id="dentist") #оффлайн
                  li.team-filter__item(data-id="admin") #конференция
                  li.team-filter__item(data-id="coordinator") #курсы
                  li.team-filter__item(data-id="coordinator") #повышение квалификации
                button.team-filter__reset
                  +reset-svg('team-filter__reset-ico')
                  |Сбросить

              .events-page
                //- .container
                
                ul.about__list
                  include ../components/event-list-card
                  include ../components/event-list-card
                  include ../components/event-list-card
                  include ../components/event-list-card
                  include ../components/event-list-card
                  include ../components/event-list-card
                include ../components/show-more-button
