extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient.training-page
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['Strategic Implant']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Мероприятия
                    each item in ['Библиотека', 'Обучение', 'Юридическая помощь', 'Наши разработки']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner--top
            .container.single-news
              h1.title.single-news__title
                |Диагностика и профилактика стоматологических заболеваний
              
              .single-news__body
                .single-news__head
                  .single-news__back-link
                    a(href="#") Вернуться

                .training-page__about
                  .training-page__icons
                    .training-page__icons-item
                      +specialists-date-svg
                      |24 апреля 2021
                    .training-page__icons-item
                      +specialists-date-svg3
                      |18:00
                    .training-page__icons-item
                      +specialists-date-svg2
                      |2 часа
                    .training-page__icons-item
                      +specialists-date-svg4
                      |Бесплатно
                  .training-page__tags
                    .training-page__tags-item #вебинар
                    .training-page__tags-item #оффлайн
                    .training-page__tags-item #конференция
                .single-news__txt
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi excepturi doloribus odit ullam adipisci, facilis autem quidem exercitationem suscipit impedit quos, fuga necessitatibus, ea natus iste sapiente inventore debitis quibusdam!
                  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit placeat necessitatibus ratione aut officia quam totam, nam tempora sequi architecto cupiditate laboriosam velit nisi molestias esse dolore soluta voluptatibus ad.
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi excepturi doloribus odit ullam adipisci, facilis autem quidem exercitationem suscipit impedit quos, fuga necessitatibus, ea natus iste sapiente inventore debitis quibusdam!
                button.vacancies-list__extra-btn.events-page-btn
                  +arrow-link-svg('extra-btn')
                  |Зарегистироваться на Timepad
              aside.share-social.training-page__save
                .share-social__box
                  .share-social__title Сохранить событие
                  ul.footer__socials
                    li.footer__socials-item
                      a.footer__socials-link.share-social__link(href='#')
                        +facebook-svg('footer__socials-svg')
                    li.footer__socials-item
                      a.footer__socials-link.share-social__link(href='#')
                        +vk-svg('footer__socials-svg')
  section.other-news.other-events
    .row
      .row__col
      .row__col
        .container
          .index-publications
            .index-publications__top
              .index-publications__top-left.other-news__top
                h2.index-publications__title.other-news__title
                  |Похожие события
                .index-publications__control.slider-control.slider-control--desktop
                  .slider-control__item
                    .button-arrow.button-arrow--left
                      .button-arrow__button.other-news__controls(data-slider-button='111')
                        +arrow-svg('other-news__controls-left')
                  .slider-control__item
                    .button-arrow.button-arrow.button-arrow--right
                      .button-arrow__button.other-news__controls(data-slider-button='112')
                        +arrow-svg('other-news__controls-right')
          .index-news__slider.other-news__slider-mobile
            .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='6')
              .swiper-wrapper
                - for (let i=0; i<9; i++)
                  .swiper-slide
                    a.card-news-mobile(href='#')
                      .card-news-mobile__top
                        .card-news-mobile__date.training-mobile-date
                          div
                            +specialists-date-svg
                            |24 апреля 2021
                          div
                            +specialists-date-svg2
                            |1 день
                        h3.card-news-mobile__title
                          |Обучение Strategic Implant в Новосибирске
                      .card-news-mobile__bottom
                        .card-news-mobile__row
                          .card-news-mobile__col
                            .card-news-mobile__image
                              img.card-news-mobile__img(src='assets/images/news-2.jpg' alt='')
                          .card-news-mobile__col
                            .card-news-mobile__image
                              +arrow-link-svg(class='card__svg')
          .other-news__slider-desktop.swiper-container(data-slider-id="100" data-slider-prev='111' data-slider-next='112')
            ul.about__list.swiper-wrapper
              .swiper-slide
                include ../components/event-list-card
                include ../components/event-list-card
                include ../components/event-list-card
              .swiper-slide
                include ../components/event-list-card
                include ../components/event-list-card
                include ../components/event-list-card
              .swiper-slide
                include ../components/event-list-card


//- block footer
//-   +footer({
//-     attrs: {
//-       'data-sticky-end': '1',
//-     },
//-   })