extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header

block content
  section.section.section--gradient
    .row
      .row__col
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky
                ul.nav__list
                  each item in ['Способы оплаты', 'Способы оплаты', 'Трансфер']
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
                  li.nav__item.nav__item--active
                    a.nav__link(href='#')
                      |Вопрос-ответ
                .team-filter.faq-filter
                  ul.team-filter__container
                    li.team-filter__item.team-filter__item--active(data-id="doctor") #имплантация
                    li.team-filter__item.team-filter__item--active(data-id="dentist") #протезирование
                    li.team-filter__item(data-id="admin") #оплата
                    li.team-filter__item(data-id="coordinator") #операция
                    li.team-filter__item(data-id="doctor") #протезирование
                    li.team-filter__item(data-id="dentist") #операция
                    li.team-filter__item(data-id="admin") #оплата
                    li.team-filter__item(data-id="coordinator") #операция
                  button.team-filter__reset
                    +reset-svg('team-filter__reset-ico')
                    |Сбросить
      .row__col
        .section__inner.section__inner--top
          .container
            h1.title
              |Вопрос-ответ
            .team-filter.team-filter-mobile
              ul.team-filter__container
                li.team-filter__item.team-filter__item--active(data-id="") #имплантация
                li.team-filter__item(data-id="") #протезирование
                li.team-filter__item(data-id="") #оплата
                li.team-filter__item(data-id="") #операция
                li.team-filter__item(data-id="") #протезирование
                li.team-filter__item(data-id="") #операция
                li.team-filter__item(data-id="") #оплата
                li.team-filter__item(data-id="") #операция
              button.team-filter__reset
                +reset-svg('team-filter__reset-ico')
                |Сбросить
            .section__block.section__block--small
              ul.mission__spoilers.mission__spoilers--margin-top.faq-spoiler
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Могут ли задеть нерв при установке имплантатов?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorum facere dolor exercitationem nisi rerum tempora sapiente aut voluptatum laboriosam eligendi animi sed, quam consectetur impedit quaerat cumque, alias omnis!
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Если имплантаты устанавливают сразу после удаления зубов, то как они держатся? Зуб то большой и с корнями, а имплантат узкий и может вывалиться.
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo numquam a ipsa beatae? Ipsa, explicabo, quas illo minima qui sapiente, pariatur ipsum natus delectus voluptates similique quaerat aliquam porro.
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Если доктор, который наблюдает уедет в отпуск, а возникла форс-мажорная ситуация с зубами и необходимо срочно на прием?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ratione, quibusdam consequuntur optio, fugiat aperiam quam eum, et fuga delectus provident debitis quisquam modi adipisci dolore ducimus dignissimos maiores! Assumenda!
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Какие возрастные ограничения?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorum facere dolor exercitationem nisi rerum tempora sapiente aut voluptatum laboriosam eligendi animi sed, quam consectetur impedit quaerat cumque, alias omnis!
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Всем ли подходит метод базальной имплантации?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo numquam a ipsa beatae? Ipsa, explicabo, quas illo minima qui sapiente, pariatur ipsum natus delectus voluptates similique quaerat aliquam porro.
                li.mission__spoilers-item
                  .mission__spoiler
                    .mission__spoiler-button
                      h5.mission__spoiler-title
                        |Будут ли мне устанавливать БОИ имплантаты?
                      .mission__spoiler-image
                    .mission__spoiler-drop
                      .mission__spoiler-list
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ratione, quibusdam consequuntur optio, fugiat aperiam quam eum, et fuga delectus provident debitis quisquam modi adipisci dolore ducimus dignissimos maiores! Assumenda!
            .section__block.section__block--small
              .news-subscribe.member-page-ask.display-flex.mb0
                h2.news-subscribe__title.member-page-ask__title.form-title Задать свой вопрос
                include ../components/right-form-msg

//- block footer
//-   +footer({
//-     attrs: {
//-       'data-sticky-end': '1',
//-     },
//-   })
