extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Гарантии
                    each item in ['Способы оплаты', 'Трансфер', 'Вопрос-ответ']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col.guarantee
          .section__inner.section__inner--top
            .container
              h1.title
                |Гарантии
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Гарантии
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['Способы оплаты', 'Трансфер', 'Вопрос-ответ']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              .section__block.section__block--small
                include ../components/guarantee-img
                include ../components/guarantee-contract
                p.about__caption
                  |Авторизованные клиники базальной имплантации по всему миру, в которых вы сможете обратиться за контрольным осмотром
                .about__grid.about__grid--margin-top
                  ul.about__grid-list
                    - for (let i=0; i<3; i++)
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Англия
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |London, st. Strawberry Fields Forever 67
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Швейцария
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |Zurich, Wünnewil-Flamatt 23
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33
                      li.about__grid-item
                        .about__grid-card.about__grid-card--height-100p
                          h3.about__grid-title
                            |Англия
                          ul.about__grid-info
                            li.about__grid-info-item
                              address.about__grid-text
                                |London, st. Strawberry Fields Forever 67
                            li.about__grid-info-item.about__grid-info-item--display-flex
                              a.about__grid-text.about__grid-link(href='tel:+44898228228333')
                                |+44 8982 282 283 33

//- block footer
//-   +footer({
//-     attrs: {
//-       'data-sticky-end': '1',
//-     },
//-   })