extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content 
  .section.section--gradient 
    .row 
      .row__col 
        .section__inner.section__inner--top
          nav.nav__nav(data-sticky-id='1' data-sticky-top='250' data-sticky-bottom='120')
            ul.nav__list
              each item in ['О нас', 'Миссия и ценности', 'Наша команда']
                li.nav__item
                  a.nav__link(href='#')
                    |#{item}
              li.nav__item.nav__item--active
                a.nav__link(href='#')
                  |Новости
              each item in ['Вакансии', 'Контакты']
                li.nav__item
                  a.nav__link(href='#')
                    |#{item}
      .row__col 
        .section__inner.section__inner--top
          .container 
            h1.title 
              |Этапы имплантации
            .mission
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Исследования
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['О нас', 'Миссия и ценности', 'Наша команда', 'Контакты']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
            .category.category--counter
              ul.category__list
                li.category__item
                  a.category__link(href="#") 
                    |Консультация
                li.category__item.category__item--active
                  a.category__link(href="#") 
                    |Моделирование операции
                li.category__item 
                  a.category__link(href="#") 
                    |Операция
                li.category__item 
                  a.category__link(href="#") 
                    |Протезирование
                li.category__item 
                  a.category__link(href="#") 
                    |Наблюдение
            .single-news 
              .single-news__body
                .article
                  h3.article__title.article__title--default
                    |Второй этап  — рентген снимки челюстей.
                  .implantation__inner 
                    p.article__text.article__text--xs 
                      |Обязательным исследованием для проведения операции  является компьютерная томография (КЛКТ). Позволяет в трехмерном расширении изучить топографию челюстей и провести планирование имплантации.
                    p.article__text.article__text--xs
                      |Фундаментальные снимки обязательны, все дополнительные рентгенологические методы должны назначаться индивидуально для каждого пациента.
        .index 
          .container 
            .index__block
              .index__mid
                .index__mid-slider
                  .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='8' data-slider-prev='11' data-slider-next='12')
                    .swiper-wrapper
                      - for (let i=0; i<3; i++)
                        .swiper-slide
                          .index__mid-slide
                            img.index__mid-img.index__mid-img--md(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
                          .index__mid-discription 
                            |Подпись для фотографии, которая будет говорить о том, какой этап внутри поэтапа
                .index__mid-controls.index__mid-controls--md
                  .index__mid-control.index__mid-control--left
                    .button-arrow.button-arrow--left
                      .button-arrow__button(data-slider-button='11')
                        +svg-arrow.button-arrow__svg
                  .index__mid-control.index__mid-control--right
                    .button-arrow.button-arrow--right
                      .button-arrow__button(data-slider-button='12')
                        +svg-arrow.button-arrow__svg
        .container.news-subscribe.member-page-ask
          h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md
            |Получить персональную консультацию бесплатно
          .block-photo
            .block-photo__image
          form.news-subscribe__form.member-page-ask__form(data-parsley-validate="")
            .member-page-ask__form-wrapper
              label.news-subscribe__form-placeholder.member-page-ask__label
                  input.news-subscribe__form-email(type="text" placeholder="Имя*" required="")
              label.news-subscribe__form-placeholder.member-page-ask__label
                  input.news-subscribe__form-email(type="tel" data-tel-input placeholder="Телефон" maxlength="18")
              label.news-subscribe__form-placeholder.member-page-ask__label
                  input.news-subscribe__form-email(type="email" data-parsley-type="email" placeholder="E-mail*" required="")
              label.news-subscribe__form-placeholder.member-page-ask__label
                  textarea.news-subscribe__form-email(name="", cols="30", rows="3" placeholder="Дополнительная информация")
              label.news-subscribe__form-checkbox.member-page-ask__checkbox
                  input(type="checkbox" required="")
                  p Согласен на обработку персональных данных в соответствии с 
                      a(href="#") политикой конфиденциальности
              button.news-subscribe__form-btn(type="submit")
                  +arrow-link-svg('news-subscribe__form-btn-ico')
                  |Отправить