extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content
  .sticky-container(data-sticky-container)
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['Протезирование',]
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Имплантация
                  .price__note Стоимость может меняться в зависимости клинического состояния зубов
                  button.vacancies-list__extra-btn.price__btn
                    +arrow-link-svg('extra-btn button-extra-svg')
                    span.vacancies-list__extra-span
                      span
                        |Получить точный расчет
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title.page-title-hidden
                |Стоимость
              .mission__spoiler.news-spoiler.spoiler-to-title
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Имплантация
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['Протезирование',]
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              .price-subtitle 
                |Имплантация
              .price-item
                .price-item__img
                  img(src="assets/images/0price.jpg", alt="")
                .price-item__ttl Проведение операции на сегменте от 3-х до 5-ти зубов Strategic Implant + протезирование несъемным мостовидным протезом
                .price-item__price 130 500 ₽
                .price-item__desc.single-news__txt
                  ul
                    li Имплантаты устанавливаются в местах отсутствующих или удаленных зубов
                    li При восстановлении сегмента (3-5 зубов) рекомендуется устанавливать диоксид циркониевые (постоянные) или металлоакриловые (условно-временные) зубные мосты
                    li Диоксид циркониевые зубы на имплантатах Strategic implant являются постоянными конструкциями
              .price-item
                .price-item__img
                  img(src="assets/images/0price.jpg", alt="")
                .price-item__ttl Проведение операции на одной челюсти Strategic Implant + протезирование несъемным мостовидным протезом
                .price-item__price от 350 500 ₽
                .price-item__desc.single-news__txt
                  ul
                    li Восстановление двух челюстей одновременно, считается наилучшим, наиболее прогнозируемым и контролируемым вариантом восстановления зубов
                    li Используется принцип установки 10-12 имплантатов на верхнюю челюсть и 8-10 на нижнюю
                    li Сразу же после имплантации получаем оттиски для изготовление будущих зубов
                    li В зависимости от клинической ситуации могут быть изготовлены метоллоакриловые или металлокомпозитные зубы
              .price-item
                .price-item__img
                  img(src="assets/images/0price.jpg", alt="")
                .price-item__ttl Проведение операции двух челюстей strategic implant + протезирование несъемным мостовидным протезомпроведение операции двух челюстей Strategic Implant + протезирование несъемным мостовидным протезом
                .price-item__price от 700 500 ₽
                .price-item__desc.single-news__txt
                  ul
                    li Восстановление двух челюстей одновременно, считается наилучшим, наиболее прогнозируемым и контролируемым вариантом восстановления зубов
                    li Используется принцип установки 10-12 имплантатов на верхнюю челюсть и 8-10 на нижнюю
                    li Сразу же после имплантации получаем оттиски для изготовление будущих зубов
                    li В зависимости от клинической ситуации могут быть изготовлены метоллоакриловые или металлокомпозитные зубы
              .price.price--mobile
                .price__note Стоимость может меняться в зависимости клинического состояния зубов
                button.vacancies-list__extra-btn.price__btn
                  +arrow-link-svg('extra-btn')
                  |Получить точный расчет
              .news-subscribe.member-page-ask.transfer-consult.price-ask
                h2.news-subscribe__title Получить персональную консультацию бесплатно
                .transfer-consult__img
                include ../components/form-add-file

//- block footer
//-   +footer({
//-     attrs: {
//-       'data-sticky-end': '1',
//-     },
//-   })