extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug


block content 
  .section.section--gradient
    .row 
      .row__col 
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky(data-my-sticky-bottom="my-sticky-bottom")
                ul.nav__list
                  each item in ['Метод', 'Преимущества',]
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
                  li.nav__item.nav__item--active
                    a.nav__link(href='#')
                      |Этапы имплантации
                  each item in ['Имплантаты Strategic Implant', 'Стоимость']
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
      .row__col 
        .implantation-txt-block.section__inner--top
          .container 
            h1.title 
              |Этапы имплантации
            .category.category--counter.implantation3
              ul.category__list.tab-nav
                
                li.category__item.category__item--active
                  a.category__link(href="#") 
                    |3. Операция
                li.category__item 
                  a.category__link(href="#") 
                    |4. Протезирование
                li.category__item 
                  a.category__link(href="#") 
                    |5. Наблюдение

                li.category__item
                  a.category__link(href="#") 
                    |1. Консультация
                li.category__item 
                  a.category__link(href="#") 
                    |2. Моделирование операции

                //- .extra-space 0

            .single-news 
              .single-news__body
                .article 
                  h3.article__title.mb80-40.letter-spacing9
                    |Операция методом базальной имплантации Strategic Implant проходит под местным обезболиванием.
                  .single-news__txt.single-news__txt--default
                    ul.last-ul
                      //- - for (i = 0; i < 7; i++)
                      li Обязательным условием установка зубов на имплантаты в течение трех-четырёх последующих дней
                      li Оттиски с имплантатов должны быть получены сразу после операции, тут же происходит первичная регистрация прикуса, поэтому пациент должен быть в сознании и контактировать с врачем
                      li Хирург-стоматолог проводит введение анестетика в места установки имплантатов. После анестезии, проводится тест на качество обезболивания
                      li Далее происходит прокол десны и создание в костной ткани канала для установки имплантата
                      li Каждый базальный имплантат устанавливается в стратегические зоны костной ткани, имеет свое направление, свой наклон
                      li После того как имплантаты установлены, при необходимости накладываются швы и происходит бактерицидная обработка
        .index 
          .container 
            .section__frame
              .index__block
                .index__mid
                  .index__mid-slider
                    .swiper-container.swiper-container--visible.swiper-container--slide-width-auto(data-slider-id='20' data-slider-prev='11' data-slider-next='12')
                      .swiper-wrapper
                        - for (let i=0; i<3; i++)
                          .swiper-slide
                            a.index__mid-slide(data-href=`assets/images/index/mid-${i + 1}.jpeg` data-fancyboxx="gallery" style='cursor: pointer;')
                              img.index__mid-img.index__mid-img--md(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
                            .index__mid-description 
                              |Подпись для фотографии, которая будет говорить о том, какой этап внутри поэтапа
                  .index__mid-controls.index__mid-controls--md
                    .index__mid-control.index__mid-control--left
                      .button-arrow.button-arrow--left
                        .button-arrow__button(data-slider-button='11')
                          +svg-arrow.button-arrow__svg
                    .index__mid-control.index__mid-control--right
                      .button-arrow.button-arrow--right
                        .button-arrow__button(data-slider-button='12')
                          +svg-arrow.button-arrow__svg
        .container.news-subscribe.member-page-ask.display-flex(data-calc-form="")
          h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md
            |Получить персональную стратегию имплантации
          .calc-wrapper.mb80-60
            include ../components/calculator
          include ../components/form-2col-add-file

    // next page
    section#my-sticky-bottom.next-page
      .row 
        .row__col
          .next-page__container
            .next-page__nav 
              |Следующий этап имплантации
        .row__col
          .container 
            .next-page__nav.next-page__nav--mobile 
              |Следующий этап имплантации
            h3.next-page__title
              |Протезирование
            .next-page__button
              .mission 
                .mission__missions-links-container
                  a.mission__missions-links-link(href='#')
                    +svg-link.mission__missions-links-svg.button-svg
                    .mission__missions-links-text
                      span.mission__missions-links-span
                        |Перейти к описанию