extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug


block content 
  .section.section--gradient
    .row 
      .row__col 
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky
                ul.nav__list
                  each item in ['Метод', 'Преимущества',]
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
                  li.nav__item.nav__item--active
                    a.nav__link(href='#')
                      |Этапы имплантации
                  each item in ['Имплантаты Strategic Implant', 'Стоимость']
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
      .row__col 
        .section__inner.section__inner--top
          .container 
            h1.title 
              |Этапы имплантации
            .mission
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Этапы имплантации
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['Метод', 'Преимущества', 'Имплантаты Strategic Implant', 'Стоимость']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
            .category.category--counter
              ul.category__list
                li.category__item
                  a.category__link(href="#") 
                    |Консультация
                li.category__item 
                  a.category__link(href="#") 
                    |Моделирование операции
                li.category__item.category__item--active
                  a.category__link(href="#") 
                    |Операция
                li.category__item 
                  a.category__link(href="#") 
                    |Протезирование
                li.category__item 
                  a.category__link(href="#") 
                    |Наблюдение
            .single-news 
              .single-news__body
                .article 
                  h3.article__title.article__title--default
                    |Первым этапом подготовки к операции по установке имплантатов является оценка состояния здоровья пациента.
                  .single-news__txt.single-news__txt--default
                    ul
                      - for (i = 0; i < 7; i++)
                        li 
                          |Преподаватель кафедры стоматологии МГУ им. Огарева. 2012г 
        .index 
          .container 
            .section__frame
              .index__block
                .index__mid
                  .index__mid-slider
                    .swiper-container.swiper-container--visible.swiper-container--slide-width-auto(data-slider-id='20' data-slider-prev='11' data-slider-next='12')
                      .swiper-wrapper
                        - for (let i=0; i<3; i++)
                          .swiper-slide
                            .index__mid-slide
                              img.index__mid-img.index__mid-img--md(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
                            .index__mid-description 
                              |Подпись для фотографии, которая будет говорить о том, какой этап внутри поэтапа
                  .index__mid-controls.index__mid-controls--md
                    .index__mid-control.index__mid-control--left
                      .button-arrow.button-arrow--left
                        .button-arrow__button(data-slider-button='11')
                          +svg-arrow.button-arrow__svg
                    .index__mid-control.index__mid-control--right
                      .button-arrow.button-arrow--right
                        .button-arrow__button(data-slider-button='12')
                          +svg-arrow.button-arrow__svg
        .container.news-subscribe.member-page-ask.display-flex
          h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md
            |Получить персональную консультацию бесплатно
          .block-photo
            .block-photo__image
          include ../components/form-add-file