extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content 
  .section.section--gradient
    .row 
      .row__col 
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky(data-my-sticky-bottom="my-sticky-bottom")
                ul.nav__list
                  each item in ['Метод', 'Преимущества',]
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
                  li.nav__item.nav__item--active
                    a.nav__link(href='#')
                      |Этапы имплантации
                  each item in ['Имплантаты Strategic Implant', 'Стоимость']
                    li.nav__item
                      a.nav__link(href='#')
                        |#{item}
      .row__col 
        .section__inner--top.implantation-txt-block
          .container
            h1.title
              |Этапы имплантации
            .category.category--counter
              ul.category__list.tab-nav
                li.category__item.category__item--active
                  a.category__link(href="#") 
                    |Консультация
                li.category__item 
                  a.category__link(href="#") 
                    |Моделирование операции
                li.category__item 
                  a.category__link(href="#") 
                    |Операция
                li.category__item 
                  a.category__link(href="#") 
                    |Протезирование
                li.category__item 
                  a.category__link(href="#") 
                    |Наблюдение
            .single-news 
              .single-news__body
                .article 
                  h3.article__title.mb80-40.letter-spacing7
                    |Первым этапом подготовки к операции по установке имплантатов является оценка состояния здоровья пациента.
                  .single-news__txt.single-news__txt--default
                    ul.last-ul
                      li Первым этапом подготовки к операции по установке имплантатов является оценка состояния здоровья пациента
                      li Пациент заполняет подробную анкету здоровья
                      li Врач, проводя консультацию, изучает ее и при необходимости задает дополнительные вопросы
                      li По результатам заполнения анкеты здоровья и опроса пациента определяется объем необходимых анализов для проведения операции. Это может быть как общий анализ крови, так и заключение врача кардиолога о возможности проведения данной операции
        .index 
          .container 
            .section__frame
              .index__block
                .index__mid
                  .index__mid-slider
                    .swiper-container.swiper-container--visible.swiper-container--slide-width-auto(data-slider-id='20' data-slider-prev='11' data-slider-next='12')
                      .swiper-wrapper
                        - for (let i=0; i<3; i++)
                          .swiper-slide
                            a.index__mid-slide(data-href=`assets/images/index/mid-${i + 1}.jpeg` data-fancyboxx="gallery" style='cursor: pointer;')
                              img.index__mid-img.index__mid-img--md(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
                            .index__mid-description 
                              |Подпись для фотографии, которая будет говорить о том, какой этап внутри поэтапа
                  .index__mid-controls.index__mid-controls--md
                    .index__mid-control.index__mid-control--left
                      .button-arrow.button-arrow--left
                        .button-arrow__button(data-slider-button='11')
                          +svg-arrow.button-arrow__svg
                    .index__mid-control.index__mid-control--right
                      .button-arrow.button-arrow--right
                        .button-arrow__button(data-slider-button='12')
                          +svg-arrow.button-arrow__svg
        .container.news-subscribe.member-page-ask.display-flex(data-calc-form="")
          h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md
            |Получить персональную стратегию имплантации
          .calc-wrapper.mb80-60
            include ../components/calculator
          include ../components/form-2col-add-file

    // next page
    section#my-sticky-bottom.next-page
      .row 
        .row__col
          .next-page__container
            .next-page__nav 
              |Следующий этап имплантации
        .row__col
          .container 
            .next-page__nav.next-page__nav--mobile 
              |Следующий этап имплантации
            h3.next-page__title
              |Моделирование операции
            .next-page__button
              .mission 
                .mission__missions-links-container
                  a.mission__missions-links-link(href='#')
                    +svg-link.mission__missions-links-svg.button-svg
                    .mission__missions-links-text
                      span.mission__missions-links-span
                        |Перейти к описанию
