extends ../layouts/master.pug

block header

block content
  .pages
    //- 
      about+
      contacts+
      faq+
      guarantee+
      laboratory+
      library+
      main+
      mission+
      news-page+
      news+
      payment+
      price+
      prosthetics
      publication
      publications
      team-member+
      team+
      vacancies+
    -
      var pages = [
        {
          href: 'main',
          title: 'Главная',
        },
        {
          href: 'about',
          title: '[О нас]',
        },
        {
          href: 'mission',
          title: '[О нас] Миссия',
        },
        {
          href: 'team',
          title: '[О нас] Наша команда',
        },
        {
          href: 'team-member',
          title: '[О нас] Отдельный врач',
        },
        {
          href: 'vacancies',
          title: '[О нас] Вакансии',
        },
        {
          href: 'news',
          title: '[О нас] Новости',
        },
        {
          href: 'news-page',
          title: '[О нас] Отдельная новость',
        },
        {
          href: 'contacts',
          title: '[О нас] Контакты',
        },
        {
          href: 'laboratory',
          title: '[Лаборатория]',
        },
        {
          href: 'our-development',
          title: '[Лаборатория] Наши разработки',
        },
        {
          href: 'price-prosthetics',
          title: '[Стоимость] Протезирование',
        },
        {
          href: 'price-implantation',
          title: '[Стоимость] Имплантация',
        },
        {
          href: 'advantages',
          title: '[Базальная имплантация] Преимущества',
        },
        {
          href: 'implantation',
          title: '[Базальная имплантация] Этап 1 Консультация',
        },
        {
          href: 'implantation-2',
          title: '[Базальная имплантация] Этап 2 Моделирование',
        },
        {
          href: 'implantation-3',
          title: '[Базальная имплантация] Этап 3 Операция',
        },
        {
          href: 'implantation-4',
          title: '[Базальная имплантация] Этап 4 Протезирование',
        },
        {
          href: 'implantation-5',
          title: '[Базальная имплантация] Этап 5 Наблюдение',
        },
        {
          href: 'implant-price',
          title: '[Базальная имплантация] Стоимость',
        },
        {
          href: 'strategic-implant',
          title: '[Базальная имплантация] Импланты strategic implant',
        },
        {
          href: 'prosthetics',
          title: 'Протезирование',
        },
        {
          href: 'prosthetics-page',
          title: 'Детальное протезирование',
        },
        {
          href: 'specialists',
          title: '[Специалистам] Специалистам',
        },
        {
          href: 'specialists-implantation',
          title: '[Специалистам] Базальная имплантация',
        },
        {
          href: 'library',
          title: '[Специалистам] Библиотека',
        },
        {
          href: 'legal-support',
          title: '[Специалистам] Юридическая помощь',
        },
        {
          href: 'events',
          title: '[Специалистам] Мероприятия',
        },
        {
          href: 'events-page',
          title: '[Специалистам] Детальное мероприятие',
        },
        {
          href: 'training',
          title: '[Специалистам] Обучение',
        },
        {
          href: 'training-page',
          title: '[Специалистам] Детальное обучение',
        },
        {
          href: 'works',
          title: '[Общий] До и после',
        },
        {
          href: 'work-page',
          title: '[Общий] До и после детальная',
        },
        {
          href: 'publications',
          title: '[Общий] Публикации',
        },
        {
          href: 'publication',
          title: '[Общий] Публикация',
        },
        {
          href: 'guarantee',
          title: '[Пациентам] Гарантии',
        },
        {
          href: 'transfer',
          title: '[Пациентам] Трансфер',
        },
        {
          href: 'payment',
          title: '[Пациентам] Способы оплаты',
        },
        {
          href: 'faq',
          title: '[Пациентам] Вопрос-ответ',
        },
        {
          href: 'bazal-implantation',
          title: 'Базальная имплантация',
        },
        {
          href: '404',
          title: '404',
        },
      ];
    .container
      .pages__container
        .pages__list
          each page in pages
            .pages__list-item
              .button
                a.button__btn(href=page.href)
                  |#{page.title}
