extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header



block content
  .main
    .section
      .section__inner
        .container
          section.section__block
            |публикации иби
          section.section__block
            |новости




block footer
  +footer
