extends ../layouts/master



block content
  .index
    section.index__section.index__section--target.index__section--gradient.index__section--spiral
      .container
        .index__paragraph
          span.index__paragraph-text
            |Одна из наших целей — 
          span.index__paragraph-text.index__paragraph-text--highlight
            |развитие 
          img.index__paragraph-img(src='assets/images/test.jpg')
          span.index__paragraph-text
            |&nbsp;технологии базальной имплантации посредством 
          span.index__paragraph-text.index__paragraph-text--highlight
            |обучения и повышения квалификации 
          img.index__paragraph-img(src='assets/images/test.jpg')
          span.index__paragraph-text
            |&nbsp;специалистов.
