extends ../layouts/master.pug

block header

block content
  .pages
    //- 
      about+
      contacts+
      faq+
      guarantee+
      laboratory+
      library+
      main+
      mission+
      news-page+
      news+
      payment+
      price+
      prosthetics
      publication
      publications
      team-member+
      team+
      vacancies+
    -
      var pages = [
        {
          href: 'main.html',
          title: 'Главная',
        },
        {
          href: 'about.html',
          title: '[О нас]',
        },
        {
          href: 'mission.html',
          title: '[О нас] Миссия',
        },
        {
          href: 'team.html',
          title: '[О нас] Наша команда',
        },
        {
          href: 'team-member.html',
          title: '[О нас] Отдельный врач',
        },
        {
          href: 'vacancies.html',
          title: '[О нас] Вакансии',
        },
        {
          href: 'news.html',
          title: '[О нас] Новости',
        },
        {
          href: 'news-page.html',
          title: '[О нас] Отдельная новость',
        },
        {
          href: 'contacts.html',
          title: '[О нас] Контакты',
        },
        {
          href: 'laboratory.html',
          title: '[Лаборатория]',
        },
        {
          href: 'our-development.html',
          title: '[Лаборатория] Наши разработки',
        },
        {
          href: 'price-prosthetics.html',
          title: '[Стоимость] Протезирование',
        },
        {
          href: 'implant-price.html',
          title: '[Стоимость] Имплантация',
        },
        {
          href: 'advantages.html',
          title: '[Базальная имплантация] Преимущества',
        },
        {
          href: 'implantation.html',
          title: '[Базальная имплантация] Этап 1',
        },
        {
          href: 'implantation-2.html',
          title: '[Базальная имплантация] Этап 2',
        },
        {
          href: 'implantation-3.html',
          title: '[Базальная имплантация] Этап 3',
        },
        {
          href: 'implantation-4.html',
          title: '[Базальная имплантация] Этап 4',
        },
        {
          href: 'implantation-5.html',
          title: '[Базальная имплантация] Этап 5',
        },
        {
          href: 'price-implantation.html',
          title: '[Базальная имплантация] Стоимость',
        },
        {
          href: 'strategic-implant.html',
          title: '[Базальная имплантация] Импланты strategic implant',
        },
        {
          href: 'prosthetics.html',
          title: 'Протезирование',
        },
        {
          href: 'prosthetics-page.html',
          title: 'Детальное протезирование',
        },
        {
          href: 'for-specialists.html',
          title: '[Специалистам] Специалистам',
        },
        {
          href: 'specialists-implantation.html',
          title: '[Специалистам] Базальная имплантация',
        },
        {
          href: 'library.html',
          title: '[Специалистам] Библиотека',
        },
        {
          href: 'legal-support.html',
          title: '[Специалистам] Юридическая помощь',
        },
        {
          href: 'events.html',
          title: '[Специалистам] Мероприятия',
        },
        {
          href: 'events-page.html',
          title: '[Специалистам] Детальное мероприятие',
        },
        {
          href: 'training.html',
          title: '[Специалистам] Обучение',
        },
        {
          href: 'training-page.html',
          title: '[Специалистам] Детальное обучение',
        },
        {
          href: 'works.html',
          title: '[Общий] До и после',
        },
        {
          href: 'work-page.html',
          title: '[Общий] До и после детальная',
        },
        {
          href: 'publications.html',
          title: '[Общий] Публикации',
        },
        {
          href: 'publication.html',
          title: '[Общий] Публикация',
        },
        {
          href: 'guarantee.html',
          title: '[Пациентам] Гарантии',
        },
        {
          href: 'transfer.html',
          title: '[Пациентам] Трансфер',
        },
        {
          href: 'payment.html',
          title: '[Пациентам] Способы оплаты',
        },
        {
          href: 'faq.html',
          title: '[Пациентам] Вопрос-ответ',
        },
      ];
    .container
      .pages__container
        .pages__list
          each page in pages
            .pages__list-item
              .button
                a.button__btn(href=page.href)
                  |#{page.title}
