extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  .lab
    section.section.section--gradient
      .row
        .row__col
        .row__col
          .section__inner--top
            .container
              h1.title
                |Лаборатория IBI
              .section__block.section__block--small
                .lab__subtitle IBI Lab – современная цифровая зуботехническая лаборатория на базе Института Базальной Имплантации.
              img.lab__img(src="assets/images/laboratory.jpg", alt="")
    section
      .container
        
        .lab-target
          .lab-target__title Цель лаборатории
          .lab-target__txt
            p Конструкции с опорой на базальные имплантаты имеют свою специфику в изготовлении и работе с ними. Клиника, не имеющая знаний и опыта работы с опорой на базальных имплантатах, не в состоянии изготовить качественный и правильный мост для установки на базальные имплантаты SI.
            p Мы специализруемся на производстве мостов, коронок и любых ортопедических конструкций. Наши подходы 
              span.lab-target__txt-highlight отвечают требованиям качества и соответсвенния стандртам IIF.
        .lab-block
          .lab-block__video
            .lab-block__video-link
              +presentation-svg('lab-block__video-svg')
              |Смотреть видео
          .lab-block__txt Штат лаборатории укомплектован 
            span.lab-block__txt-highlight высококвалифицированными зубными техниками
            |, которые 
            span.lab-block__txt-highlight прошли расширенное обучение и подготовку для работы на базальных имплантатах Strategic Implant за рубежом 
            |и в своей практике ежедневно изготавливают различные ортопедические конструкции в протоколе немедленной нагрузки.
    section
      .index__block
        .index__mid
          .index__mid-slider
            .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='8' data-slider-prev='11' data-slider-next='12')
              .swiper-wrapper
                - for (let i=0; i<3; i++)
                  .swiper-slide
                    .index__mid-slide
                      img.index__mid-img(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
          .index__mid-controls
            .index__mid-control.index__mid-control--left
              .button-arrow.button-arrow--left
                .button-arrow__button(data-slider-button='11')
                  +svg-arrow.button-arrow__svg
            .index__mid-control.index__mid-control--right
              .button-arrow.button-arrow--right
                .button-arrow__button(data-slider-button='12')
                  +svg-arrow.button-arrow__svg
    section.development
      .container
        .development__title Наши разработки
        .development__names.swiper-container(data-slider-id="106" data-slider-prev='116' data-slider-next='117')
          .swiper-wrapper
            .development__names-item.swiper-slide Металлокерамический мост
            .development__names-item.swiper-slide Металлоакриловый мост
            .development__names-item.swiper-slide Мост ПММА
            .development__names-item.swiper-slide Протез (PRETTAU Zircon)
            .development__names-item.swiper-slide Керамокомпозитный мост
            .development__names-item.swiper-slide Металлоакриловый мост
            .development__names-item.swiper-slide Керамокомпозитный мост
        .development__desc.swiper-container(data-slider-id="105" data-slider-prev='115' data-slider-next='116')
          .swiper-wrapper
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
            .swiper-slide.development__desc-item
              .development__img
              .development__txt
                p Для восстановление одной или двух челюстей
                ul
                  li
                    p Этот вид протезирования обычно используется при первичном или временном протезировании.
                  li
                    p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                  li
                    p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.
    section.lab-circles
      .container
        .lab-circles__img
          img(src="assets/images/lab-circles.png", alt="")
        .lab-circles__desc
          .lab-circles__title Принцип поэтапной взаимопроверки и неприрывного обучения
          .lab-circles__txt
            p Работа в лаборатории построена по принципу взаимного контроля качества.
            p Такой подход позволяет усилить конечный результат работы, в тоже время, способствует развитию каждого специалиста в смежных областях.
    section.lab-team
      .container
        .lab-team__title Команда IBI Lab
        .lab-team__list
          .lab-team__subtitle В России у нас один из самых крупных штатов зубных техников специализирующихся на базальной имплантации SI.
          .team
            a.team-member.doctor(href="#")
              .team-member__img
                .team-member__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
                img(src="assets/images/team-1.jpg", alt="")
              .team-member__desc
                .team-member__name Шмойлов Андрей Евгеньевич
                .team-member__position Главный врач центра
            a.team-member.dentist(href="#")
              .team-member__img
                .team-member__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
                img(src="assets/images/team-1.jpg", alt="")
              .team-member__desc
                .team-member__name Шмойлов Андрей Евгеньевич
                .team-member__position Главный врач центра
            a.team-member.dentist(href="#")
              .team-member__img
                .team-member__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
                img(src="assets/images/team-1.jpg", alt="")
              .team-member__desc
                .team-member__name Шмойлов Андрей Евгеньевич
                .team-member__position Главный врач центра
            a.team-member.admin(href="#")
              .team-member__img
                .team-member__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
                img(src="assets/images/team-1.jpg", alt="")
              .team-member__desc
                .team-member__name Шмойлов Андрей Евгеньевич
                .team-member__position Главный врач центра
            a.team-member.coordinator(href="#")
              .team-member__img
                .team-member__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
                img(src="assets/images/team-1.jpg", alt="")
              .team-member__desc
                .team-member__name Шмойлов Андрей Евгеньевич
                .team-member__position Главный врач центра
            a.team-member.admin(href="#")
              .team-member__img
                .team-member__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
                img(src="assets/images/team-1.jpg", alt="")
              .team-member__desc
                .team-member__name Шмойлов Андрей Евгеньевич
                .team-member__position Главный врач центра
           


block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })