extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content


block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })