extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav(data-sticky-id='1' data-sticky-top='250' data-sticky-bottom='120')
                  ul.nav__list
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |О нас
                    each item in ['Миссия и ценности', 'Наша команда', 'Новости', 'Контакты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title
                |Новости
              .section__block.section__block--small
                .first-news
                    .news__desc
                        .news__date.first-news-date 3 ноября 2020
                        h3.news__title.first-news-title Экспресс-имплантация All-on-4/6: интервью с хирургом
                        .mission__missions-links-container.first-news-link
                            a.mission__missions-links-link(href='#')
                                +arrow-link-svg('mission__missions-links-svg')
                                .mission__missions-links-text
                                    |Подробнее
                    .news__img.first-news-img
                        img(src="assets/images/news-1.jpg", alt="News")
              .section__block.about__to-front
                ul.about__list
                  li.about__list-item
                    .about__list-row
                        .news__date 3 ноября 2020
                        .news__img
                            img(src="assets/images/news-1.jpg", alt="News")
                        h3.news__title
                            |Обучение Strategic Implant в Новосибирске
                        .mission__missions-links-container.news__link
                            a.mission__missions-links-link(href='#')
                                +arrow-link-svg('mission__missions-links-svg')
                  li.about__list-item
                    .about__list-row
                        .news__date 3 ноября 2020
                        .news__img
                            img(src="assets/images/news-1.jpg", alt="News")
                        h3.news__title
                            |Обучение Strategic Implant в Новосибирске
                        .mission__missions-links-container.news__link
                            a.mission__missions-links-link(href='#')
                                +arrow-link-svg('mission__missions-links-svg')
                .news-show-more
                    button.news-show-more-btn
                        .news-show-more-ico
                            +arrow-link-svg('mission__missions-links-svg')
                        .news-show-more-txt Показать еще
              .news-subscribe
                h2.news-subscribe__title Подпишитесь на публикации и новости
                form.news-subscribe__form
                    div
                        label
                            input.news-subscribe__form-email(type="email" placeholder="E-mail")
                        label.news-subscribe__form-checkbox
                            input(type="checkbox")
                            p Согласен на обработку персональных данных в соответствии с 
                                a(href="#") политикой конфиденциальности
                    button.news-subscribe__form-btn
                        +arrow-link-svg('mission__missions-links-svg')



block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })
