extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['О нас', 'Миссия и ценности', 'Наша команда']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Новости
                    each item in ['Вакансии', 'Контакты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner.section__inner--top
            .container.single-news.single-news-page
              h1.title.single-news__title
                |Обучение Strategic Implant в Новосибирске
              .single-news__body
                .single-news__head
                  .single-news__back-link
                    a(href="#") Вернуться
                  .single-news__date 3 ноября 2020
                .single-news__img
                  img(src="assets/images/single-news-img.jpg", alt="News photo")
                .single-news__txt
                  p В рамках конференции, по инициативе центра Институт Базальной Имплантации, был организован круглый стол: «Базальная имплантация за и против» с участием первых лиц российского стоматологического профессионального сообщества.
                  p Открыл мероприятие «круглый стол» президент СтАР,  профессор,  доктор медицинских наук Трунин Дмитрий Александрович. Он рассказал о современном развитии имплантологии в нашей стране, пожелал продуктивной  работы всем участникам круглого стола, а также отметил, что «Все авторские методики, которые разрешены в нашей стране министерством здравоохранения, имеют право быть использованы».
                blockquote.single-news__blockquote Обучение Strategic Implant в новосибирске
                .single-news__txt
                  p Далее участники слушали выступление президента-элект СтАР, профессора, доктора медицинских наук, заведующего кафедрой хирургической стоматологии и челюстно-лицевой хирургии Яременко Андрея Ильича. Он рассказал о проблемах имплантологии в России. Отметил, что имплантация становится все более распространенной и ее качество должно непрерывно расти. Тем не менее, в современной стоматологии встречаются случаи осложнений при имплантации, которые необходимо свести к минимуму.
                  ul.last-ul
                    li Преподаватель кафедры стоматологии МГУ им. Огарева. 2012г
                    li Сертифицированный специалист International Implant Foundation.
                    li Стажировка в Германии в клинике Implant plus (Viernheim / Germany) с курсом по протезированию на имплантатах и организации стоматологии.
                    li 2012 год Прохождение обучения в Испании в Институте Биотехнологий методу направленной регенерации костной ткани и десен PRGF ENDORET (BTI Biotechnology Institute Vitoria-Gasteiz Spain).
                    li В 2014 практическое обучение имплантации в Венгрии (Будапешт).
                    li 2015 году практический курс по установке базальных имплантатов One Way Biomed (Палестина) с получением сертификата базального хирурга имплантолога. Начало совместной работы с профессором Стефаном Иде 2012год.
                    li Специалист по тотальной реконструкции и восстановлению челюстей на имплантатах.
                    li Проводит операции в протоколе немедленной нагрузки на базальных имплантатах Strategic implant.
                    li Регулярно читает лекции в России и за рубежом. Регулярно посещает образовательные курсы по имплантации зубов и новейшим системам протезирования.
              .sticky-container
                aside.share-social
                  .share-social__box
                    .share-social__title Поделиться
                    ul.footer__socials
                      li.footer__socials-item
                        a.footer__socials-link.share-social__link(href='#')
                          +facebook-svg('footer__socials-svg')
                      li.footer__socials-item
                        a.footer__socials-link.share-social__link(href='#')
                          +vk-svg('footer__socials-svg')
    section.other-news
      .row
        .row__col
        .row__col
          .container
            .index-publications
              .index-publications__top
                .index-publications__top-left.other-news__top
                  h2.index-publications__title.other-news__title
                    |Другие новости
                  .index-publications__control.slider-control.slider-control--desktop
                    .slider-control__item
                      .button-arrow.button-arrow--left
                        .button-arrow__button.other-news__controls(data-slider-button='111')
                          +arrow-svg('other-news__controls-left')
                    .slider-control__item
                      .button-arrow.button-arrow.button-arrow--right
                        .button-arrow__button.other-news__controls(data-slider-button='112')
                          +arrow-svg('other-news__controls-right')
            .index-news__slider.other-news__slider-mobile
              .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='6')
                .swiper-wrapper
                  - for (let i=0; i<9; i++)
                    .swiper-slide
                      a.card-news-mobile(href='#')
                        .card-news-mobile__top
                          .card-news-mobile__date
                            |3 ноября 2020
                          h3.card-news-mobile__title
                            |Обучение Strategic Implant в Новосибирске
                        .card-news-mobile__bottom
                          .card-news-mobile__row
                            .card-news-mobile__col
                              .card-news-mobile__image
                                img.card-news-mobile__img(src='assets/images/news-2.jpg' alt='')
                            .card-news-mobile__col
                              .card-news-mobile__image
                                +arrow-link-svg('card__svg')
            .other-news__slider-desktop.swiper-container(data-slider-id="100" data-slider-prev='111' data-slider-next='112')
              ul.about__list.swiper-wrapper
                .swiper-slide
                  include ../components/_news-list-card
                  include ../components/_news-list-card
                  include ../components/_news-list-card
                .swiper-slide
                  include ../components/_news-list-card
                  include ../components/_news-list-card
                  include ../components/_news-list-card
                .swiper-slide
                  include ../components/_news-list-card
              .index-publications__link
                .mission__missions-links-container
                  a.mission__missions-links-link(href='#')
                    +svg-link.mission__missions-links-svg.button-svg
                    .mission__missions-links-text
                      span.mission__missions-links-span 
                        |Все новости
