extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Протезирование
                    li.nav__item
                      a.nav__link(href='#')
                        |Имплантация
                  .price__note Стоимость может меняться в зависимости клинического состояния зубов
                  button.vacancies-list__extra-btn.price__btn
                    +arrow-link-svg('extra-btn button-extra-svg')
                    span.vacancies-list__extra-span
                      span
                        |Получить точный расчет
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title
                |Стоимость

              //- .mission__spoiler.news-spoiler
              //-   .mission__spoiler-button.news-spoiler__button
              //-     h5.mission__spoiler-title
              //-       |Протезирование
              //-     .news-spoiler__image
              //-       +arrow-svg('header__drop-svg')
              //-   .mission__spoiler-drop.news-spoiler__drop
              //-     nav.news-spoiler__nav
              //-       ul
              //-         each item in ['О нас', 'Миссия и ценности', 'Новости', 'Вакансии', 'Контакты']
              //-           li.news-spoiler__nav-item
              //-             a.nav__link(href='#')
              //-               |#{item}

              .price.price--mobile
                .price__note Стоимость может меняться в зависимости клинического состояния зубов
                a(href="#price-form")
                  button.vacancies-list__extra-btn.price__btn
                    +arrow-link-svg('extra-btn')
                    |Получить точный расчет

              h2.price-subtitle
               |Протезирование
              .price-cards

                .price-cards-item
                  img.price-cards-item__img(src="assets/images/1price.jpg", alt="")
                  .price-cards-item__ttl Окклюзионная накладка
                  .price-cards-item__price 37 500 ₽

                .price-cards-item
                  img.price-cards-item__img(src="assets/images/1price.jpg", alt="")
                  .price-cards-item__ttl Окклюзионная накладка
                  .price-cards-item__price 37 500 ₽
                
                .price-cards-item
                  img.price-cards-item__img(src="assets/images/1price.jpg", alt="")
                  .price-cards-item__ttl Окклюзионная накладка
                  .price-cards-item__price 37 500 ₽

                .price-cards-item
                  img.price-cards-item__img(src="assets/images/1price.jpg", alt="")
                  .price-cards-item__ttl Окклюзионная накладка
                  .price-cards-item__price 37 500 ₽

                .price-cards-item
                  img.price-cards-item__img(src="assets/images/1price.jpg", alt="")
                  .price-cards-item__ttl Окклюзионная накладка
                  .price-cards-item__price 37 500 ₽

                .price-cards-item
                  img.price-cards-item__img(src="assets/images/1price.jpg", alt="")
                  .price-cards-item__ttl Окклюзионная накладка
                  .price-cards-item__price 37 500 ₽

              

              .news-subscribe.member-page-ask.transfer-consult.price-ask
                a(name="price-form")
                h2.news-subscribe__title.form-new__ttl Получить персональную стратегию имплантации
                .calc-wrapper.mb80-60
                  include ../components/calculator
                include ../components/form-2col-add-file