extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content 
  section.section.section--gradient
    .row
      .row__col
        .section__inner.section__inner--top
          //- .articles-authors
          .nav
            .nav__container
              .team-filter.filter-tags-hover.mt0.my-sticky
                ul.team-filter__container
                  li.team-filter__item.team-filter__item--active(data-id="doctor") #все
                  li.team-filter__item(data-id="dentist") #исследования
                  li.team-filter__item(data-id="admin") #статьи
                  li.team-filter__item(data-id="coordinator") #центр
                  li.team-filter__item(data-id="doctor") #инновации
                  li.team-filter__item(data-id="dentist") #научная деятельность
                  li.team-filter__item(data-id="admin") #публикации сми
                  li.team-filter__item(data-id="coordinator") #кейсы
                button.team-filter__reset
                  +reset-svg('team-filter__reset-ico')
                  |Сбросить
              
            //- .articles-authors__container
            //-   .articles-authors__title 
            //-     |Авторы статей
            //-   ul.articles-authors__list
            //-     - for (i = 0; i < 2; i++)
            //-       li.articles-authors__item.articles-authors__filter-item
            //-         .article-author 
            //-           .article-author__row 
            //-             .article-author__col
            //-               .article-author__img 
            //-                 img.article-author__image(src="assets/images/article-author-1.jpg", alt="")
            //-               //- .article-author__label 
            //-               //-   |14 статей
            //-             .article-author__col
            //-               .article-author__name 
            //-                 |Шмойлов Андрей Евгеньевич
            //-               .article-author__prof 
            //-                 |Главный врач центра
            

      .row__col
        .section__inner--top
          .container 
            h1.title
              |Публикации
            //- .mission
            //-   .mission__spoiler.news-spoiler
            //-     .mission__spoiler-button.news-spoiler__button
            //-       h5.mission__spoiler-title
            //-         |Исследования
            //-       .news-spoiler__image
            //-         +arrow-svg('header__drop-svg')
            //-     .mission__spoiler-drop.news-spoiler__drop
            //-       nav.news-spoiler__nav
            //-         ul
            //-           each item in ['О нас', 'Миссия и ценности', 'Наша команда', 'Контакты']
            //-             li.news-spoiler__nav-item
            //-               a.nav__link(href='#')
            //-                 |#{item}

            //- .category.publications-top-category.swiper-container(data-slider-id='190')
            //-   ul.category__list.swiper-wrapper
            //-     li.category__item.category__item--active.swiper-slide
            //-       a.category__link(href="#") 
            //-         |Все
            //-     li.category__item.swiper-slide
            //-       a.category__link(href="#") 
            //-         |Исследования
            //-     li.category__item.swiper-slide 
            //-       a.category__link(href="#") 
            //-         |Статьи
            //-     li.category__item.swiper-slide 
            //-       a.category__link(href="#") 
            //-         |Центр
            //-     li.category__item.swiper-slide 
            //-       a.category__link(href="#") 
            //-         |Инновациии
            //-     li.category__item.swiper-slide 
            //-       a.category__link(href="#") 
            //-         |Научная деятельность
            //-     li.category__item.swiper-slide
            //-       a.category__link(href="#") 
            //-         |Публикации СМИ
            //-     li.category__item.swiper-slide
            //-       a.category__link(href="#") 
            //-         |Кейсы

            .articles-authors
              .articles-authors__container.swiper-container.swiper-container--slide-width-auto(data-slider-id="160" data-slider-prev='51' data-slider-next='52')
                
                .articles-authors__top
                  .articles-authors__title
                    |Авторы статей
                  //- .index__mid-controls
                  .articles-authors__controls
                    .index__mid-control
                      .button-arrow.button-arrow--left
                        .button-arrow__button(data-slider-button='51')
                          +svg-arrow.button-arrow__svg
                    .index__mid-control
                      .button-arrow.button-arrow--right
                        .button-arrow__button(data-slider-button='52')
                          +svg-arrow.button-arrow__svg

                  //- .slider-control.slider-control--desktop
                  //-   .slider-control__item
                  //-     .button-arrow.button-arrow--left
                  //-       .button-arrow__button(data-slider-button='51')
                  //-         +svg-arrow.button-arrow__svg
                  //-   .slider-control__item
                  //-     .button-arrow.button-arrow.button-arrow--right
                  //-       .button-arrow__button(data-slider-button='52')
                  //-         +svg-arrow.button-arrow__svg


                ul.articles-authors__list.swiper-wrapper
                  li.articles-authors__item.swiper-slide
                    .article-author.article-author__all-authors
                      .article-author__row
                        .article-author__col
                          .article-author__img
                            img.article-author__image(src="assets/images/all-authors-ico.svg", alt="")
                        .article-author__col
                          .article-author__name
                            |Все статьи
                          .article-author__link.mission__missions-links-link
                            +arrow-link-svg('button-svg')
                            .mission__missions-links-text
                              span.mission__missions-links-span
                                |Смотреть статьи
                            .article-author__count 12

                  li.articles-authors__item.swiper-slide.articles-authors__item--active
                    .article-author
                      .article-author__row
                        .article-author__col
                          .article-author__img
                            img.article-author__image(src="assets/images/article-author-1.jpg", alt="")
                          //- .article-author__label
                          //-   |14 статей
                        .article-author__col
                          .article-author__name
                            |Шмойлов Андрей Евгеньевич
                          .article-author__prof
                            |Главный врач центра
                          .article-author__link.mission__missions-links-link
                            +arrow-link-svg('button-svg')
                            .mission__missions-links-text
                              span.mission__missions-links-span
                                |Смотреть статьи
                            .article-author__count 12

                  - for (i = 0; i < 3; i++)
                    li.articles-authors__item.swiper-slide
                      .article-author
                        .article-author__row
                          .article-author__col
                            .article-author__img
                              img.article-author__image(src="assets/images/article-author-1.jpg", alt="")
                            //- .article-author__label
                            //-   |14 статей
                          .article-author__col
                            .article-author__name
                              |Шмойлов Андрей Евгеньевич
                            .article-author__prof
                              |Главный врач центра
                            .article-author__link.mission__missions-links-link
                              +arrow-link-svg('button-svg')
                              .mission__missions-links-text
                                span.mission__missions-links-span
                                  |Смотреть статьи
                              .article-author__count 12

            .team-filter.team-filter-mobile.mt40
              .team-filter__container
                a.team-filter__item.team-filter__item--active(href="#") #все
                a.team-filter__item(href="#") #исследования
                a.team-filter__item(href="#") #статьи
                a.team-filter__item(href="#") #центр
                a.team-filter__item(href="#") #инновации
                a.team-filter__item(href="#") #научная деятельность
                a.team-filter__item(href="#") #публикации сми
                a.team-filter__item(href="#") #кейсы
              button.team-filter__reset
                +reset-svg('team-filter__reset-ico')
                |Сбросить
            .research 
              ul.research__list 
                - for (i = 0; i < 8; i++)
                  li.research__item 
                    a.card.card--research(href='#')
                      .card__top
                        h3.card__title
                          |Обучение Strategic Implant в Новосибирске
                        p.card__text
                          |IBI Lab — современная цифровая зуботехническая лаборатория на базе Института Базальной Имплантации.
                      .card__bottom
                        .card__row
                          .card__col
                            .tags
                              ul.tags__list
                                li.tags__item
                                  .tags__tag
                                    |#кейсы
                                li.tags__item
                                  .tags__tag
                                    |#исследования
                                li.tags__item
                                  .tags__tag
                                    |#центр
                            .card__date
                              |28 января 2021
                          .card__col
                            .card__image.mission__missions-links-link
                              +svg-link(class='card__svg button-svg')
            include ../components/show-more-button
            include ../components/form-subscription