extends ../layouts/master

block header
block footer

block content
  .expand
    .expand__scroll
      .expand__content.scroll-test
        .scroll-test__before
          |before
        .scroll-test__rails
          .scroll-test__seq
            |seq
            .scroll-test__slider
        .scroll-test__after
          |after
