extends ../layouts/master

block header
block footer

block content
  .scroll-test
    button.scroll-test__btn(data-scroll-test)
      |button
    - for (let i = 0; i < 500; i++)
      |#{i}
      br
