extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block header
  +header
  
block content
  section.section.section--gradient
    .row
      .row__col

      .row__col
        .section__inner--top
          .container
            h1.title
              |Специалистам
    .section__inner
      .container.specialists-cards
        a.specialists-card(href="") 
          .specialists-card__desc
            .specialists-card__ttl Концепция Strategic Implant
            .specialists-card__txt Описание метода, приемущества, сравнения с двухэтапной имплантацией
            .mission__missions-links-link.specialists-card__link
              +arrow-link-svg('news__link-ico button-svg')
              .mission__missions-links-text
                span.mission__missions-links-span
                  |Подробнее
          img.specialists-card__img(src="assets/images/specialists-card-1.jpg", alt="")
          img.specialists-card__img-mob(src="assets/images/specialists-card-1-mob.jpg", alt="")
        a.specialists-card(href="") 
          .specialists-card__desc
            .specialists-card__ttl Обучение
            .specialists-card__txt Курсы повышения квалификации, семинары, мастер-классы, лекции
            .mission__missions-links-link.specialists-card__link
              +arrow-link-svg('news__link-ico button-svg')
              .mission__missions-links-text
                span.mission__missions-links-span
                  |Подробнее
          img.specialists-card__img(src="assets/images/specialists-card-2.jpg", alt="")
          img.specialists-card__img-mob(src="assets/images/specialists-card-2-mob.jpg", alt="")
        a.specialists-card(href="") 
          .specialists-card__desc
            .specialists-card__ttl Библиотека
            .specialists-card__txt Публикуем книги, исследования, статьи, доклады
            .mission__missions-links-link.specialists-card__link
              +arrow-link-svg('news__link-ico button-svg')
              .mission__missions-links-text
                span.mission__missions-links-span
                  |Подробнее
          img.specialists-card__img(src="assets/images/specialists-card-3.jpg", alt="")
          img.specialists-card__img-mob(src="assets/images/specialists-card-3-mob.jpg", alt="")
        a.specialists-card(href="") 
          .specialists-card__desc
            .specialists-card__ttl Юридическая помощь
            .specialists-card__txt Как защитить врачу свое решение перед пациентом
            .mission__missions-links-link.specialists-card__link
              +arrow-link-svg('news__link-ico button-svg')
              .mission__missions-links-text
                span.mission__missions-links-span
                  |Подробнее
          img.specialists-card__img(src="assets/images/specialists-card-4.jpg", alt="")
          img.specialists-card__img-mob(src="assets/images/specialists-card-4-mob.jpg", alt="")
    .specialists-events
      .container
        .specialists-events__top
          h2.specialists-events__ttl Предстоящие мероприятия
          a.specialists-events__link(href="")
            .mission__missions-links-link
              +arrow-link-svg('news__link-ico button-svg')
              .mission__missions-links-text
                span.mission__missions-links-span
                  |Все мероприятия
        .specialists-events__wrapper
          ul.about__list
            li.news-box
              a.about__list-row.news.specialists-events__list(href="#")
                .news__date
                  div
                    +specialists-date-svg
                    |24 апреля 2021
                  div
                    +specialists-date-svg2
                    |1 день
                .news__img
                  img(src="assets/images/specialists-events1.jpg", alt="News")
                h3.news__title Диагностика и профилактика стоматологических заболеваний
                  .specialists-events__tags
                    .specialists-events__tags-items #оффлайн
                    .specialists-events__tags-items #конференция
                    .specialists-events__tags-items #повышение&nbsp;квалификации
                .mission__missions-links-container.news__link
                  .mission__missions-links-link
                    +arrow-link-svg('news__link-ico button-svg')
            li.news-box
              a.about__list-row.news.specialists-events__list(href="#")
                .news__date
                  div
                    +specialists-date-svg
                    |24 апреля 2021
                  div
                    +specialists-date-svg2
                    |1 день
                .news__img
                  img(src="assets/images/specialists-events2.jpg", alt="News")
                h3.news__title Диагностика и профилактика стоматологических заболеваний
                  .specialists-events__tags
                    .specialists-events__tags-items #оффлайн
                    .specialists-events__tags-items #конференция
                    //- .specialists-events__tags-items #повышение квалификации
                .mission__missions-links-container.news__link
                  .mission__missions-links-link
                    +arrow-link-svg('news__link-ico button-svg')
            li.news-box
              a.about__list-row.news.specialists-events__list(href="#")
                .news__date
                  div
                    +specialists-date-svg
                    |24 апреля 2021
                  div
                    +specialists-date-svg2
                    |1 день
                .news__img
                  img(src="assets/images/specialists-events3.jpg", alt="News")
                h3.news__title Диагностика и профилактика стоматологических заболеваний
                  .specialists-events__tags
                    .specialists-events__tags-items #оффлайн
                    .specialists-events__tags-items #конференция
                    //- .specialists-events__tags-items #повышение квалификации
                .mission__missions-links-container.news__link
                  .mission__missions-links-link
                    +arrow-link-svg('news__link-ico button-svg')
          a.specialists-events__link-mobile(href="")
            .mission__missions-links-link
              +arrow-link-svg('news__link-ico')
              .mission__missions-links-text
                |Все мероприятия


block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })