extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient.training-page
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav(data-sticky-id='1' data-sticky-top='250' data-sticky-bottom='120')
                  ul.nav__list
                    each item in ['Strategic Implant', 'Обучение', 'Библиотека']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Юридическая помощь
                    each item in ['Наши разработки']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner--top.legal-support
            .container.single-news
              h1.title.single-news__title
                |Базальная имплантация

block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })