extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient.training-page
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list.prosthetics-nav
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Базальная имплантация
                    li.mission__spoiler(data-spoiler-group='1')
                      .nav__item.mission__spoiler-button.news-spoiler__button
                        a.nav__link(href='#')
                          |Обучение
                        .news-spoiler__image
                          +arrow-svg('header__drop-svg')
                      .mission__spoiler-drop.news-spoiler__drop
                        nav.news-spoiler__nav.prosthetics-spoiler__drop
                          ul
                            each item in ['Хирургический этап', 'Ортопедический этап', 'Зуботехнический этап']
                              li.news-spoiler__nav-item
                                a.nav__link(href='#')
                                  |#{item}
                    each item in ['Мероприятия', 'Библиотека', 'Юридическая помощь']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner--top.legal-support
            .container.single-news
              h1.title
                |Базальная имплантация
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Базальная имплантация
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['Способы оплаты', 'Трансфер', 'Вопрос-ответ']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              .legal-support__desc.spec-implant-desc
                |Базальная имплантация Strategic Implant — уникальная система по установке имплантатов, позволяющая провести операцию в любых клинических ситуациях, вне зависимости от объема костной ткани.
              .spec-implant-block
                h2.spec-implant-block__ttl Концепция
                .spec-implant-block__desc
                  p Подбираем необходимый тип имплантата 
                    span.spec-implant-block__desc-highlight под индивидуальное строение и объем костной ткани конкретного пациента, 
                    | а не «наращиваем» кости под имеющийся размер имплантата.
                  p Метод работает исключительно в концепции Immediate loading (немедленная нагрузка).
              .spec-implant-block
                h2.spec-implant-block__ttl Импланты
                .spec-implant-block__desc
                  p В данной методике используются имплантаты, обеспечивающие доступ к кортикальной (базальной) костной ткани различными типами имплантатов в зависимости от конкретного клинического случая.
              .spec-implant-hexagon
                .spec-implant-hexagon__box
                  .spec-implant-hexagon__txt
                    .spec-implant-hexagon__txt-ttl Плотная фиксация
                    .spec-implant-hexagon__txt-desc Имплантаты в концепции Strategic Implant® фиксируются в плотной кортикальной кости, которая в связи с высоким уровнем минерализации, готова к нагрузке и обеспечивает остеофиксацию.
                  +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
                .spec-implant-hexagon__box
                  .spec-implant-hexagon__txt
                    .spec-implant-hexagon__txt-ttl Прочная конструкция уже через 3 дня
                    .spec-implant-hexagon__txt-desc Это дает возможность осуществлять немедленное протезирование и устанавливать ортопедические конструкции сразу же после имплантации. Даже при выраженной степени атрофии кости и полном отсутствии зубов пациент получит прочную, функциональную конструкцию на имплантатах уже через 3 дня.
                  +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
              .section__block.section__block--small.spec-implant-spoiler
                ul.mission__spoilers.mission__spoilers--margin-top.faq-spoiler
                  li.mission__spoilers-item
                    .mission__spoiler
                      .mission__spoiler-button
                        h5.mission__spoiler-title
                          |Особенности системы имплантации
                        .mission__spoiler-image
                      .mission__spoiler-drop.spec-implant-spoiler__drop
                        .spec-implant-spoiler__imgs
                          img(src="assets/images/spec-implant-spoiler1.jpg", alt="")
                          img(src="assets/images/spec-implant-spoiler2.jpg", alt="")
                        .spec-implant-spoiler__list.development__txt
                          ul
                            li
                              p Этот вид протезирования обычно используется при первичном или временном протезировании.
                            li
                              p Срок службы при нормальной эксплуатации и обслуживании составляет 2-3 года.
                            li
                              p Это довольно известная конструкция и повсеместно применяемая в протезировании на базальных имплантатах, но в ИБИ протокол изготовления этого моста усовершенствован и позволяет изготовить даже первичный, временный мост оптимальным и высококачественным.

                        .spec-implant-spoiler__txt
                          p Имплантаты Strategic Implant®  используют другой подход – их надежная фиксация даже при наличии атрофических процессов достигается за счет использования самых глубоких отделов. Они прочные, стерильные и не подвержены Атрофии.. Речь идет о базальном, кортикальном слоях. Сами импланты часто устанавливаются под углом, что увеличивает площадь их соприкосновения с костью (ангулярная техника установки).
                          p Отказ от наращивания костной ткани достигается также за счёт того, что на установленных имплантах моментально устанавливаются мосты . Внутри конструкций предусмотрено металлическое основание или каркас, который служит стабилизатором титановых «корней». За счет того, что они объединяются в единый блок, достигается их фиксация и неподвижность. Даже при наличии жевательной нагрузки импланты не будут смещаться, что обеспечивает их лучшую остеоинтеграцию в костной ткани.
                          p Еще один аргумент, который объясняет хорошую фиксацию при недостатке объема кости – эффект компрессии, который возникает при установке базальных имплантов. Они вкручиваются в кость создавая эффект кортикализации, то есть уплотняют кость вокруг себя,  в результате костная ткань вокруг них становится плотной и образует твердую оболочку, которая обеспечивает надежную фиксацию имплантов уже на первом этапе протезирования.
                          p Зубной мост также служит своеобразным активатором естественных обменных процессов в костной ткани. Корни живых зубов, расположенные в ткани, обеспечивают ее нагрузкой, благодаря чему между клетками происходят обменные процессы. Установленные импланты действуют аналогичным образом – они запускают питание клеток, в результате костная ткань регенерирует и в определенной степени начинает увеличиваться в объеме.
                  li.mission__spoilers-item
                    .mission__spoiler
                      .mission__spoiler-button
                        h5.mission__spoiler-title
                          |Получение высокоточных оттисков
                        .mission__spoiler-image
                      .mission__spoiler-drop.spec-implant-spoiler__drop
                        .mission__spoiler-list
                          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo numquam a ipsa beatae? Ipsa, explicabo, quas illo minima qui sapiente, pariatur ipsum natus delectus voluptates similique quaerat aliquam porro.
                  li.mission__spoilers-item
                    .mission__spoiler
                      .mission__spoiler-button
                        h5.mission__spoiler-title
                          |Плановые контрольные осмотры
                        .mission__spoiler-image
                      .mission__spoiler-drop.spec-implant-spoiler__drop
                        .mission__spoiler-list
                          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ratione, quibusdam consequuntur optio, fugiat aperiam quam eum, et fuga delectus provident debitis quisquam modi adipisci dolore ducimus dignissimos maiores! Assumenda!
                  li.mission__spoilers-item
                    .mission__spoiler
                      .mission__spoiler-button
                        h5.mission__spoiler-title
                          |Предоперационная гигиена полости рта
                        .mission__spoiler-image
                      .mission__spoiler-drop.spec-implant-spoiler__drop
                        .mission__spoiler-list
                          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorum facere dolor exercitationem nisi rerum tempora sapiente aut voluptatum laboriosam eligendi animi sed, quam consectetur impedit quaerat cumque, alias omnis!
                  li.mission__spoilers-item
                    .mission__spoiler
                      .mission__spoiler-button
                        h5.mission__spoiler-title
                          |Примерка зубов на имплантатах Moсk up
                        .mission__spoiler-image
                      .mission__spoiler-drop.spec-implant-spoiler__drop
                        .mission__spoiler-list
                          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo numquam a ipsa beatae? Ipsa, explicabo, quas illo minima qui sapiente, pariatur ipsum natus delectus voluptates similique quaerat aliquam porro.
  section.section__inner.section--blue-light
    .row
      .row__col
      .row__col
        .container
          .spec-implant-cards-top
            h2.spec-implant-hexagon-ttl Импланты для базальной имплантации
            a.specialists-events__link(href="")
              .mission__missions-links-link
                +arrow-link-svg('news__link-ico')
                .mission__missions-links-text
                  |Подробнее
          .spec-implant-cards
            .spec-implant-cards__item
              .spec-implant-cards__item-img
                img(src="assets/images/spec-implant-img1.png", alt="")
              .spec-implant-cards__item-ttl BECES
            .spec-implant-cards__item
              .spec-implant-cards__item-img
                img(src="assets/images/spec-implant-img1.png", alt="")
              .spec-implant-cards__item-ttl KOS
            .spec-implant-cards__item
              .spec-implant-cards__item-img
                img(src="assets/images/spec-implant-img1.png", alt="")
              .spec-implant-cards__item-ttl KOS+
  section.section__inner
    .row
      .row__col
      .row__col
        .container
          h2.spec-implant-hexagon-ttl Ценность базальной имплантации для пациента
          .spec-implant-hexagon
            .spec-implant-hexagon__box.hexagon-box-list
              .spec-implant-hexagon__txt
                .spec-implant-hexagon__txt-ttl Универсальность метода
                .spec-implant-hexagon__txt-desc Метод Базальной Имплантации успешно применим практически во всех клинических случаях, независимо от степени атрофии костной ткани, а также пациентам с полной адентией – то есть отсутствием всех зубов в ряду.
              +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
            .spec-implant-hexagon__box.hexagon-box-list
              .spec-implant-hexagon__txt
                .spec-implant-hexagon__txt-ttl Результат после одной операции
                .spec-implant-hexagon__txt-desc Потребуется всего одна операция. Базальные имплантаты устанавливаются в протоколе немедленной нагрузки, что дает возможность жевать в тот же день после фиксации зубов.
              +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
            .spec-implant-hexagon__box.hexagon-box-list
              .spec-implant-hexagon__txt
                .spec-implant-hexagon__txt-ttl Универсальность метода
                .spec-implant-hexagon__txt-desc Окончательная  ортопедическая конструкция устанавливается через 2-11 месяцев. В некоторых случаях разрешается ставить конечный протез незамедлительно.
              +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
            .spec-implant-hexagon__box.hexagon-box-list
              .spec-implant-hexagon__txt
                .spec-implant-hexagon__txt-ttl Выгода в стоимости
                .spec-implant-hexagon__txt-desc Итоговая стоимость снижена, благодаря минимальному количеству этапов лечения.
              +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
            .spec-implant-hexagon__box.hexagon-box-list
              .spec-implant-hexagon__txt
                .spec-implant-hexagon__txt-ttl Гибкость
                .spec-implant-hexagon__txt-desc При возникновении осложнений можно предпринять скорые и действенные меры. Базальные имплантаты не являются причиной нарушения  кровотока в кости, в отличие от классических имплантатов.
              +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
            .spec-implant-hexagon__box.hexagon-box-list
              .spec-implant-hexagon__txt
                .spec-implant-hexagon__txt-ttl Не выпадая из привычной жизни
                .spec-implant-hexagon__txt-desc Метод немедленной нагрузки позволяет пациенту в кратчайшие сроки вернуться к привычному ритму жизни.
              +spec-implant-hexagon-svg('spec-implant-hexagon__svg')
          .spec-implant-author
            .spec-implant-author__desc
              .spec-implant-author__desc-ttl Автор метода
              .spec-implant-author__desc-blockquote Профессор, практикующий хирург-стоматолог. Работает с крупными центрами Базальной имплантации Strategic implant по всему миру.
              
            .spec-implant-author__img
              //- .about__image-background(style='background-image: url("assets/images/spec-implant-author.png")')
              +hexagon-svg('about__image-svg')
              +hexagon-svg('about__image-svg')
              img(src="assets/images/spec-implant-author.png", alt="")

            .spec-implant-author__desc
              img(src="assets/images/spec-implant-author-logo.png", alt="")
              .spec-implant-author__desc-txt Компания IhdeDental, непрерывно контролирует и обеспечивает реализацию новых решений в методике и ее практическое внедрение. Методика не строится на маркетинговых предпочтениях владельцев клиник или производителей имплантатов, а работает исходя из научных исследований и обширной практики специалистов.

            .spec-implant-author__bottom
              .spec-implant-author__bottom-txt Институт Базальной Имплантации является единственным центром России, в котором официально оперирует профессор Стефан Иде.
              .spec-implant-author__bottom-blockquote Методика базальной имплантации сегодня имеет клиническую, научную и практическую базу.
              .spec-implant-author__bottom-block
                div
                  img(src="assets/images/spec-implant-author-logo2.png", alt="")
                .spec-implant-author__bottom-col
                  p Для накопления и систематизации объема информации была создана всемирная организация базальных имплантологов International Implant Foundation (IIF) и особое подразделение базальных имплантатов Strategic implant, для систематизации, развития и контроля базальной имплантации в мире.
                  p IIF на базе базальных имплантатов  Strategic implant обеспечивает имплантаты наилучшего качества, которые имеет под собой не только клинический опыт применения, но и научную платформу, развивая базальную имплантацию по всему миру.
                  a.specialists-events__link(href="")
                    .mission__missions-links-link
                      +arrow-link-svg('news__link-ico')
                      .mission__missions-links-text
                        |История базальной имплантации


block footer
  +footer({
    attrs: {
      'data-sticky-end': '1',
    },
  })