extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content 
  .sticky-container
    section.section.section--gradient 
      .row 
        .row__col 
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['Метод', 'Преимущества', 'Этапы имплантации']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Имплантаты Strategic Implant
                    each item in ['Стоимость']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                  .price.vacancies-list
                    .price__note Стоимость может меняться в зависимости клинического состояния зубов
                    button.vacancies-list__extra-btn.price__btn(data-scroll-trigger=0)
                      +arrow-link-svg('extra-btn button-extra-svg')
                      span.vacancies-list__extra-span
                        span
                          |Получить точный расчет
        .row__col 
          .section__inner.section__inner--top
            .container 
              h1.title 
                |Имплантаты Strategic Implant
              //- .category.category--mobile
              //-   ul.category__list
              //-     li.category__item.category__item--active
              //-       a.category__link(href="#") 
              //-         |От 3-ех до 5 сегметов
              //-     li.category__item 
              //-       a.category__link(href="#") 
              //-         |На одной челюсти
              //-     li.category__item 
              //-       a.category__link(href="#") 
              //-         |На двух челюстях
              .implant
                .price.price--mobile
                  .price__note Стоимость может меняться в зависимости клинического состояния зубов
                  button.vacancies-list__extra-btn.price__btn(data-scroll-trigger=0)
                    +arrow-link-svg('extra-btn')
                    |Получить точный расчет
                h3.implant__title 
                  |BECES импланты представляет собой имплантат с монолитным соединением имплантат-абатмент, обладающий полностью полированной поверхностью
                .implant__inner 
                  .implant__row 
                    .implant__col
                      .implant__type.implant__type--bordered
                        |BECES
                      .implant__inner.implant__inner--xl
                        ul.implant__list 
                          li.implant__item 
                            .implant__icon 
                              +implant-1-svg
                            p.implant__text
                              |Длина имплантата типа BCS варьируется от 8 до 29 мм
                          li.implant__item 
                            .implant__icon 
                              +implant-2-svg
                            p.implant__text
                              |Тело имплантата имеет диаметр 2 мм
                          li.implant__item 
                            .implant__icon 
                              +implant-3-svg
                            p.implant__text
                              |Оснащен активной резьбой диаметром от 2.7 до 9 мм, предназначена для фиксации во втором кортикальном слое.
                    .implant__col
                      .implant__container
                        img.implant__img(src="assets/images/implant-1.png", alt="")
                      .implant__shadowbox
                        .implant__shadow
                    .implant__col
                      .implant__inner.implant__inner--xl 
                        ul.implant__list 
                          li.implant__item
                            .implant__wrapper
                              p.implant__text 
                                |Активная резьба на конце имплантата предназначена для пенетрации и фиксации во втором кортикальном слое костной ткани, что обеспечивает высокую первичную стабилизацию и долгосрочный прогноз
                          li.implant__item
                            .implant__wrapper
                              p.implant__text
                                |Абатмент имплантата может иметь форму цельной фрезерованной оторы или мультиюнит.
                  .implants.implants--mobile
                    .implants__row 
                      .implants__col
                        .implants__card 
                          .implants__wrapper
                            .implant__type
                              |BECES
                          .implants__container 
                            img.implants__img(src="assets/images/implant-1.png", alt="")
                            .implant__shadowbox 
                              .implant__shadow
                      .implants__col
                        ul.implant__list 
                          li.implant__item 
                            .implant__icon 
                              +implant-1-svg
                            p.implant__text
                              |Длина имплантата типа BCS варьируется от 8 до 29 мм
                          li.implant__item 
                            .implant__icon 
                              +implant-2-svg
                            p.implant__text
                              |Тело имплантата имеет диаметр 2 мм
                          li.implant__item 
                            .implant__icon 
                              +implant-3-svg
                            p.implant__text
                              |Оснащен активной резьбой диаметром от 2.7 до 9 мм, предназначена для фиксации во втором кортикальном слое.
                        .implant__inner.implant__inner--xl
                          ul.implant__list 
                            li.implant__item
                              .implant__wrapper
                                p.implant__text 
                                  |Активная резьба на конце имплантата предназначена для пенетрации и фиксации во втором кортикальном слое костной ткани, что обеспечивает высокую первичную стабилизацию и долгосрочный прогноз
                            li.implant__item
                              .implant__wrapper
                                p.implant__text
                                  |Абатмент имплантата может иметь форму цельной фрезерованной оторы или мультиюнит.
                .implants 
                  .implants__inner 
                    h3.implant__title 
                      |Семейство KOS представляет собой монолитное соединение имплантат-абатмент
                    .implants__inner
                      .implants__row 
                        .implants__col
                          .implants__card 
                            .implants__wrapper
                              .implant__type
                                |KOS+
                            .implants__container 
                              img.implants__img(src="assets/images/implant-2.png", alt="")
                              .implant__shadowbox 
                                .implant__shadow
                          .implants__inner 
                            .implants__card
                              .implants__wrapper.implants__wrapper--alt
                                .implant__type
                                  |KOS
                              .implants__container 
                                img.implants__img(src="assets/images/implant-3.png", alt="")
                                .implant__shadowbox.implant__shadowbox--default
                                  .implant__shadow
                        .implants__col
                          ul.implant__list 
                            li.implant__item 
                              .implant__icon 
                                +implant-1-svg
                              p.implant__text
                                |Длина имплантатов варьируется от 10 до 17 мм
                            li.implant__item 
                              .implant__icon 
                                +implant-2-svg
                              p.implant__text
                                |Диаметр устройств от 3.0 до 4.1 мм
                          .implant__inner.implant__inner--xl
                            ul.implant__list 
                              li.implant__item
                                .implant__wrapper
                                  p.implant__text 
                                    |Соединение между имплантатом и абатментом представлено 3х мм зоной полированной шейки, диаметром 2 мм, для предотвращения инфицирования и обсеменения микроорганизмами. Такой диаметр способствует быстрому заживлению окружающих тканей.
                              li.implant__item
                                .implant__wrapper
                                  p.implant__text
                                    |Нижняя часть представлена активной шероховатой резьбовой поверхностью с переменной конусностью. Протокол установки регламентирует  погружение имплантата в губчатый и базальный слой костной ткани, в некоторых случаях с установкой в кортикальную пластину без пенетрации
                              li.implant__item
                                .implant__wrapper
                                  p.implant__text 
                                    |Данной хирургический протокол обеспечивает высокий уровень первичной стабилизации. Для КоS имплантатов  доступен протокол немедленной нагрузки.
                              li.implant__item
                                .implant__wrapper
                                  p.implant__text
                                    |Абатмент может быть представлен цельфрезерованой опорой или мультиюнитом для винтовой или цементной фиксации
    section.section.section--blue-light
      .row 
        .row__col
        .row__col 
          .container
            .advantages-section
              h2.advantages-section__title
                |Преимущества
              ul.advantages.advantages--small
                li.advantages__item
                  .advantages__row 
                    .advantages__col
                      .advantages__container
                        .advantages__num 
                          |1
                    .advantages__col
                      .advantages__content
                        h4.advantages__title 
                          |Швейцарские имплантаты ONEWAY BIOMED
                        .advantages__wrapper
                          .advantages__layer
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |производит завод Ihde Dental специально для базальной имплантации. Каждый имплантат имеет свой паспорт. Имплантаты Strategic Implant — это лучшее, что есть на рынке базальной имплантации. Метод используется в 30 странах мира.
                li.advantages__item.advantages__item--revers
                  .advantages-bg
                    .advantages-bg__svg
                      img.advantages-bg__img(src="assets/images/advantages-bg-1.svg", alt="")
                  .advantages__row 
                    .advantages__col
                      .advantages__container.border-top-none
                        .advantages__num 
                          |2
                    .advantages__col
                      .advantages__layout 
                      .advantages__content
                        h4.advantages__title 
                          |Исключение развития периимплантита у пациента (воспаление тканей, которые окружают имплантат)
                        .advantages__wrapper
                          .advantages__line
                          .advantages__svg
                            +rhomb-svg
                          p.advantages__text 
                            |Исключение развития периимплантита у пациента (воспаление тканей, которые окружают имплантат). Имплантат Strategic implant имеет цельнофрезерованное  соединение без стыка. Такой имплантат всегда с абатментом и является единой завершенной системой. Это обеспечивает чистоту поверхности, прилегающую к десне. Что является одним из факторов, исключающих возникновение периимплантита
    section.section 
      .row 
        .row__col        
        .row__col
          .container.news-subscribe.member-page-ask.display-flex
            h2.news-subscribe__title.member-page-ask__title.member-page-ask__title--md.mb80-60(data-scroll-target=0)
              |Получить персональную консультацию бесплатно
            .calc-wrapper.mb80-60
              include ../components/calculator
            include ../components/form-add-file     
