extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header

block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['О нас', 'Миссия и ценности']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Наша команда
                    each item in ['Новости', 'Вакансии', 'Контакты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner.section__inner--top
            section.container.single-news
              h1.title.single-news__title.member-page__title
                |Шмойлов Андрей Евгеньевич
              p.member-page__position Главный врач центра
              .single-news__body
                .single-news__head.member-back-link
                  .single-news__back-link
                    a(href="#") Наша команда
                .single-news__img.member-page__img
                  .member-page__img-container
                    .team-member__badge
                      .team-member__badge-item
                        .team-member__badge-txt Статей в блоге
                        .team-member__badge-count 14
                      .team-member__badge-item
                        .team-member__badge-txt Операций
                        .team-member__badge-count 26
                    img(src="assets/images/team-1.jpg", alt="News photo")
                  a.member-page__presentation.mission__missions-links-link(href="https://youtu.be/O6zUpjtU6hE" data-fancybox)
                    +presentation-svg('member-page__presentation-ico button-svg-video')
                    .member-page__presentation-title.mission__missions-links-text
                      span.mission__missions-links-span
                        |Видео презентация
                .single-news__txt.member-page__txt
                  ul
                    li Преподаватель кафедры стоматологии МГУ им. Огарева. 2012г
                    li Сертифицированный специалист International Implant Foundation.
                    li Стажировка в Германии в клинике Implant plus (Viernheim / Germany) с курсом по протезированию на имплантатах и организации стоматологии.
                    li 2012 год Прохождение обучения в Испании в Институте Биотехнологий методу направленной регенерации костной ткани и десен PRGF ENDORET (BTI Biotechnology Institute Vitoria-Gasteiz Spain).
                    li В 2014 практическое обучение имплантации в Венгрии (Будапешт).
                    li 2015 году практический курс по установке базальных имплантатов One Way Biomed (Палестина) с получением сертификата базального хирурга имплантолога. Начало совместной работы с профессором Стефаном Иде 2012год.
                    li Специалист по тотальной реконструкции и восстановлению челюстей на имплантатах.
                    li Проводит операции в протоколе немедленной нагрузки на базальных имплантатах Strategic implant.
                    li Регулярно читает лекции в России и за рубежом. Регулярно посещает образовательные курсы по имплантации зубов и новейшим системам протезирования.
              aside.share-social.member-page-aside
                .team-member__badge.member-page__badge
                  .team-member__badge-item
                    .team-member__badge-txt Статей в блоге
                    .team-member__badge-count 14
                  .team-member__badge-item
                    .team-member__badge-txt Операций
                    .team-member__badge-count 26
    section.section.section--blue-light
      .row
        .row__col
        .row__col
          .section__inner
            .container
              .section__block
                .section__title-row
                  .section__title-row-col
                    h2.section__title
                      |Сертификаты
                  .section__title-row-col.section__title-row-col--desktop
                    .slider-control.slider-control--desktop
                      .slider-control__item
                        .button-arrow.button-arrow--left
                          .button-arrow__button(data-slider-button='1')
                            +arrow-svg('button-arrow__svg')
                      .slider-control__item
                        .button-arrow.button-arrow--right
                          .button-arrow__button(data-slider-button='2')
                            +arrow-svg('button-arrow__svg')
                .about__slider.no-margin
                  .swiper-container.swiper-container--slide-width-auto(data-slider-id='1' data-slider-prev='1' data-slider-next='2')
                    .swiper-wrapper
                      - for (let i=0; i<3; i++)
                        .swiper-slide
                          .about__license
                            a.index__mid-slide(data-href=`assets/images/about-license.jpeg` data-fancyboxx="gallery" style='cursor: pointer;')
                              img.about__license-img(src='assets/images/about-license.jpeg' alt='')
                            h6.about__license-title
                              |Сертификат специалиста
                        .swiper-slide
                          .about__license
                            a.index__mid-slide(data-href=`assets/images/about-license-1.jpeg` data-fancyboxx="gallery" style='cursor: pointer;')
                              img.about__license-img.qwe(src='assets/images/about-license-1.jpeg' alt='')
                            h6.about__license-title
                              |Сертификат о допущении к осуществлению медицинской или фармацевтической деятельности по специальности
                        .swiper-slide
                          .about__license
                            a.index__mid-slide(data-href=`assets/images/about-license-2.jpeg` data-fancyboxx="gallery" style='cursor: pointer;')
                              img.about__license-img(src='assets/images/about-license-2.jpeg' alt='')
                            h6.about__license-title
                              |Лицензия на осуществление медицинской деятельности
                        .swiper-slide
                          .about__license
                            a.index__mid-slide(data-href=`assets/images/about-license-3.jpeg` data-fancyboxx="gallery" style='cursor: pointer;')
                              img.about__license-img(src='assets/images/about-license-3.jpeg' alt='')
                            h6.about__license-title
                              |Удостоверение о повышении квалификации
    section.index__section.section--blue-light
      .row
        .row__col
        .row__col
          .container
            .index__block.index-publications.index-operations
              .index-publications__top
                .index-publications__top-left
                  h2.index-publications__title
                    |Участие в операциях
                  .index-publications__control.slider-control.slider-control--desktop
                    .slider-control__item
                      .button-arrow.button-arrow--left
                        .button-arrow__button(data-slider-button='9')
                          +svg-arrow.button-arrow__svg
                    .slider-control__item
                      .button-arrow.button-arrow.button-arrow--right
                        .button-arrow__button(data-slider-button='10')
                          +svg-arrow.button-arrow__svg
                .index-publications__top-right
                  .mission__missions-links-container
                    a.mission__missions-links-link(href='#')
                      +svg-link.mission__missions-links-svg.button-svg
                      .mission__missions-links-text
                        span.mission__missions-links-span
                          |Все операции
              include ../components/slider-operation

    section.index__section.section--blue-light.padding60-40
      .row
        .row__col
        .row__col
          .container
            .index-publications
              .index-publications__top
                .index-publications__top-left
                  h2.index-publications__title
                    |Опубликованные статьи
                  .index-publications__control.slider-control.slider-control--desktop
                    .slider-control__item
                      .button-arrow.button-arrow--left
                        .button-arrow__button(data-slider-button='7')
                          +svg-arrow.button-arrow__svg
                    .slider-control__item
                      .button-arrow.button-arrow.button-arrow--right
                        .button-arrow__button(data-slider-button='8')
                          +svg-arrow.button-arrow__svg
                .index-publications__top-right
                  .mission__missions-links-container
                    a.mission__missions-links-link(href='#')
                      +svg-link.mission__missions-links-svg.button-svg
                      .mission__missions-links-text
                        span.mission__missions-links-span
                          |Все публикации
              .index-publications__slider.no-margin
                .swiper-container.swiper-container--slide-width-auto(data-slider-id='5' data-slider-prev='7' data-slider-next='8')
                  .swiper-wrapper
                    - for (let i=0; i<9; i++)
                      .swiper-slide
                        a.card.member-page__publications-card(href='#')
                          .card__top
                            h3.card__title.text-crop
                              |Обучение Strategic Implant в Новосибирске
                            p.card__text.text-crop
                              |IBI Lab — современная цифровая зуботехническая лаборатория на базе Института Базальной Имплантации.
                          .card__bottom
                            .card__row
                              .card__col
                                .tags
                                  ul.tags__list
                                    li.tags__item
                                      .tags__tag
                                        |#кейсы
                                    li.tags__item
                                      .tags__tag
                                        |#исследования
                                    li.tags__item
                                      .tags__tag
                                        |#центр
                                .card__date
                                  |28 января 2021
                              .card__col
                                .card__image.mission__missions-links-link
                                  +svg-link.button-svg(class='card__svg')
              .index-publications__link
                .mission__missions-links-container
                  a.mission__missions-links-link(href='#')
                    +svg-link.mission__missions-links-svg.button-svg
                    .mission__missions-links-text
                      span.mission__missions-links-span
                        |Все публикации
    
    section.section
      .row
        .row__col
        .row__col
          .container.news-subscribe.member-page-ask.prosthetics-ask
            h2.news-subscribe__title.member-page-ask__title.form-title Задать вопрос врачу
            include ../components/right-form-msg
