extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header

block content
  .about
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['О нас', 'Миссия и ценности']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Наша команда
                    each item in ['Новости', 'Вакансии', 'Контакты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                  .team-filter
                    ul.team-filter__container
                      li.team-filter__item(data-id="doctor") #врачи
                      li.team-filter__item(data-id="dentist") #зубныетехники
                      li.team-filter__item(data-id="admin") #администраторы
                      li.team-filter__item(data-id="coordinator") #координаторы
                    button.team-filter__reset
                      +reset-svg('team-filter__reset-ico')
                      |Сбросить
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title
                |Наша команда
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title
                    |Наша команда
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav
                    ul
                      each item in ['О нас', 'Миссия и ценности', 'Новости', 'Вакансии', 'Контакты']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              .team-filter.team-filter-mobile
                .team-filter__container
                  a.team-filter__item(href="#") #врачи
                  a.team-filter__item(href="#") #зубныетехники
                  a.team-filter__item(href="#") #администраторы
                  a.team-filter__item(href="#") #координаторы
                button.team-filter__reset
                  +reset-svg('team-filter__reset-ico')
                  |Сбросить
              .team
                include ../components/team-list
                  


//- block footer
//-   +footer({
//-     attrs: {
//-       'data-sticky-end': '1',
//-     },
//-   })