extends ../layouts/master.pug

block header
block footer

block content
  .qwe
    .component
      .component__list
        - for (let i = 0; i < 25; i++)
          .component__item(class = (i === 0 ? 'component__item--active' : ''))
            |test
    .ewq
    .qwe123
