extends ../layouts/master.pug

block header
block footer

block content
  .swiper-container(data-test-thumbs)
    .swiper-wrapper
      each i in [1, 2, 3]
        .swiper-slide
          .blockk
            |#{i}
  .swiper-container(data-test-slider)
    .swiper-wrapper
      each i in [1, 2, 3]
        .swiper-slide
          .blockk
            |#{i}
