extends ../layouts/master.pug

block header
block footer

block content
  each i in [1]
    .tabs
      .tabs__container
        .tabs__background
        .tabs__list
          - for (let i = 0; i < 30; i++)
            .tabs__item(class = (i === 15) ? 'tabs__item--active' : '')
              |test

