extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header

block content
  .sticky-container
    section.section.section--gradient
      .row
        .row__col
          .section__inner.section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list
                    each item in ['Гарантии', 'Способы оплаты']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.nav__item.nav__item--active
                      a.nav__link(href='#')
                        |Трансфер
                    li.nav__item
                      a.nav__link(href='#')
                        |Вопрос-ответ
        .row__col
          .section__inner.section__inner--top
            .container
              h1.title
                |Трансфер
              .section__block.section__block--small
                .transfer__subtitle
                  |Восстанавливаем зубы пациентам 
                  span.transfer__subtitle-highlight
                    |со всей России и других стран 
                .transfer__note
                  |Если вы находитесь в другом городе или стране, мы поможем с организацией поездки.
    section.transfer-numbers
      .row
        .row__col
        .row__col
          .container
            .transfer-numbers__wrapper
              .transfer-numbers__item
                .transfer-numbers__count
                  .transfer-numbers__big
                    p 1
                  .transfer-numbers__desc
                    .transfer-numbers__desc-ttl Проводим максимальную удаленную диагностику
                    .transfer-numbers__desc-txt
                      p Если нет возможности пройти исследования или сдать анализы по месту нахождения, то мы организуем по приезду совместно с запланированной операцией.
              .transfer-numbers__item
                .transfer-numbers__count
                  .transfer-numbers__big
                    p 2
                  .transfer-numbers__desc
                    .transfer-numbers__desc-ttl Согласование формата поездки
                    .transfer-numbers__desc-txt
                      ul
                        li После диагностики обсуждаем как удобнее добраться до нашей клиники.
                        li Выбираем гостиницу
                        li Покупаем билеты на поезд или самолет
                        li По приезду встречаем и организовываем трансфер до гостиницы
                        li По спланированному графику организовываем трансфер из гостиницы в клинику и обратно
                        li Каждому пациенту назначается персональный координатор. При необходимости предоставляем переводчика
              .transfer-numbers__item
                .transfer-numbers__count
                  .transfer-numbers__big
                    p 3
                  .transfer-numbers__desc
                    .transfer-numbers__desc-ttl Окончание операции
                    .transfer-numbers__desc-txt
                      p Как только медицинские услуги предоставлены, организовываем трансфер в аэропорт или вокзал.
    section.section
      .row
        .row__col
        .row__col
          .container.news-subscribe.member-page-ask.display-flex
            h2.news-subscribe__title.member-page-ask__title Свяжитесь с нами
            include ../components/form-add-file