extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug

block content 
  // modal
  .modal(data-fancy-modal="1")
    .container 
      .modal__container 
        .video 
          img(src="assets/images/video.jpg", alt="")
          .video-button 
        .single-news 
          .modal__inner
            .single-news__txt 
              p
                |Хочу выразить благодарность замечательному врачу Блаватской Дарье Васильевне.У нее очень лёгкие и добрые руки! Удаление зуба мудрости (с кистой!!!) прошло абсолютно безболезненно, на следующий день ничего не болит - это говорит о качественной работе и большом профессионализме врача.
              p
                |Видно, что она любит свою работу и работает ради результата.Благодаря ей я потеряла страх перед стоматологией!Чуткий подход к пациенту, отзывчивость , доброта и ее лучезарная улыбка , которые исходят от нее поразили меня до глубины души ! 
              p
                |Предстоит сложное удаление другого зуба мудрости , но я уже ничего не боюсь, потому что уверена в этом замечательном докторе ! Всем своим друзьям и знакомым буду рекомендовать обращаться к Дарье Васильевне!
        .modal__img 
          img(src="assets/images/modal-img.jpg", alt="")
        .modal__person 
          img(src="assets/images/modal-person.jpg", alt="")
  
  section.section.section--gradient 
    .row 
      .row__col 
        .section__inner.section__inner--top
      .row__col 
        .section__inner.section__inner--top
          .container.single-news 
            h1.title.single-news__title
              |Жильцов Сергей Васильевич
            .single-news__body.single-news__body--wide
              .single-news__head.single-news__head--small
                .single-news__back-link
                    a(href="#") Все операции
              .team-filter.team-filter--long
                  ul.team-filter__container
                    li.team-filter__item(data-id="doctor") #имплантация
                    li.team-filter__item(data-id="dentist") #протезирование
                    li.team-filter__item(data-id="admin") #оплата
            .work-card 
              .operation-card.operation-card--wide
                .work-card__row 
                  .work-card__col
                    .work-card__content
                      .operation-card__desc-block
                        h6.operation-card__desc-title.operation-card__desc-title--red
                          |Проблема
                        p.operation-card__desc-text
                          |Отсутствием зубов на верхней и нижней челюсти и серьезной атрофией костной ткани.
                      .operation-card__desc-block
                        h6.operation-card__desc-title
                          |Предложенное решение
                        p.operation-card__desc-text
                          |По результатам врачебного консилиума было принято решение проводить базальную имплантацию.
                  .work-card__col
                    .work-card__item
                      .work-card__label
                        |Стоимость
                      .operation-card__price
                        |456 000 ₽
                    .work-card__item
                      .work-card__label
                        |Срок
                      .operation-card__visits
                        |4 визита
                    .work-card__item
                      .work-card__label
                        |Сложность
                      ul.operation-card__rating-list
                        - for (let i=0; i<5; i++)
                          li.operation-card__rating-item(class=(i < 3 ? 'operation-card__rating-item--active' : ''))
                            +svg-rating(class='operation-card__rating-svg')
        section.section
          .container
            h3.title.title--m
              |Клиническое состояние до операции
  // slider
  section.section
    .index 
      .container
        .index__block
          .index__mid
            .index__mid-slider
              .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='8' data-slider-prev='11' data-slider-next='12')
                .swiper-wrapper
                  - for (let i=0; i<3; i++)
                    .swiper-slide
                      .index__mid-slide
                        img.index__mid-img.index__mid-img--md(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
            .index__mid-controls.index__mid-controls--md
              .index__mid-control.index__mid-control--left
                .button-arrow.button-arrow--left
                  .button-arrow__button(data-slider-button='11')
                    +svg-arrow.button-arrow__svg
              .index__mid-control.index__mid-control--right
                .button-arrow.button-arrow--right
                  .button-arrow__button(data-slider-button='12')
                    +svg-arrow.button-arrow__svg
  // diary
  section.section 
    .row 
      .row__col
      .row__col
        .container
          .section__inner
            h3.title.title--m
              |Дневник пациента
            ul.diary  
              li.diary__item 
                .diary__container 
                  .diary__row 
                    .diary__col
                      .diary__day 
                        |5 дней до операции
                    .diary__col
                      p.diary__text 
                        |Сдача анализов
              li.diary__item 
                .diary__container 
                  .diary__row 
                    .diary__col
                      .diary__day 
                        |2 дня до операции
                    .diary__col
                      p.diary__text 
                        |Проведение антропометрии, выбор и цвета и формы будущих зубов
              li.diary__item 
                .diary__container 
                  .diary__row 
                    .diary__col
                      .diary__day 
                        |День операции
                    .diary__col
                      p.diary__text 
                        |Установка имплантантов strategic implant на верхнюю и нижнюю челюсти, проведена регистрация прикуса аппаратом Centrofix
              li.diary__item 
                .diary__container 
                  .diary__row 
                    .diary__col
                      .diary__day 
                        |2 день операции
                    .diary__col
                      p.diary__text 
                        |Установка металлоакриловых (условно&#8209;ременные) мостов
              li.diary__item 
                .diary__container 
                  .diary__row 
                    .diary__col
                      .diary__day 
                        |3 день операции
                    .diary__col
                      p.diary__text 
                        |Установка металлоакриловых (условно&#8209;временные) мостов
          h3.title.title--m
            |До и после
  // work-photo
  section.section 
    .container 
      .work-photo 
        .work-photo__container
          .work-photo__row 
            .work-photo__col
              .work-photo__label 
                |До
            .work-photo__col
              .work-photo__label 
                |После
        .work-photo__frame.beer-slider(data-beer-label="before")
          img.work-photo__img(src="assets/images/after-1.jpg", alt="")
          .beer-reveal(data-beer-label="after")
            img.work-photo__img.work-photo__img--hidden(src="assets/images/before-1.jpg", alt="")
  // review
  section.section 
    .row  
      .row__col 
      .row__col 
        .container 
          .section__inner 
            h3.title.title--m
              |Отзыв
            .review 
              .review__layout 
                img.review__img(src="assets/images/review-1.svg", alt="")
                img.review__svg(src="assets/images/review-2.svg", alt="")
              .review__content
                .review__row 
                  .review__col
                    img(src="assets/images/review-1.jpg", alt="")
                  .review__col
                    p
                      |Хочу выразить благодарность замечательному врачу Блаватской Дарье Васильевне.У нее очень лёгкие и добрые руки!
                    .review__button 
                      .mission
                        .mission__missions-links-link(data-fancy-button="1")
                          +svg-link.mission__missions-links-svg
                          .mission__missions-links-text
                            |Смотреть полностью
          h3.title.title--m
            |Врачи
  // team
  section.section 
    .container
      .doctors
        .team.team--bot
          a.team-member.doctor(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.dentist(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.dentist(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.admin(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.coordinator(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.admin(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.dentist(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
          a.team-member.doctor(href="#")
            .team-member__img
              .team-member__badge
                .team-member__badge-item
                  .team-member__badge-txt Статей в блоге
                  .team-member__badge-count 14
                .team-member__badge-item
                  .team-member__badge-txt Операций
                  .team-member__badge-count 26
              img(src="assets/images/team-1.jpg", alt="")
            .team-member__desc
              .team-member__name Шмойлов Андрей Евгеньевич
              .team-member__position Главный врач центра
  // slider
  section.section--blue-light
    .row 
      .row__col 
      .row__col 
        .section__inner 
          .container 
            .section__frame
              .index-publications
                .index-publications__top
                  .index-publications__top-left.other-news__top
                    h2.index-publications__title.other-news__title
                      |Похожие случаи
                    .index-publications__control.slider-control.slider-control--desktop
                      .slider-control__item
                        .button-arrow.button-arrow--left
                          .button-arrow__button.other-news__controls(data-slider-button='9')
                            +arrow-svg('other-news__controls-left')
                      .slider-control__item
                        .button-arrow.button-arrow.button-arrow--right
                          .button-arrow__button.other-news__controls(data-slider-button='10')
                            +arrow-svg('other-news__controls-right')
              .index-operations
                .index-operations__slider
                .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='7' data-slider-prev='9' data-slider-next='10')
                  .swiper-wrapper
                    - for (let i=0; i<9; i++)
                      .swiper-slide
                        .operation-card.operation-card--responsive
                          .operation-card__row
                            .operation-card__col
                              .operation-card__image
                                img.operation-card__img(src=`assets/images/index/operation-${i % 2 + 1}.jpeg`)
                            .operation-card__col
                              .operation-card__content
                                .operation-card__block
                                  .operation-card__top
                                    .operation-card__top-row
                                      .operation-card__top-col
                                        .operation-card__info
                                          .operation-card__price
                                            |456 000 ₽
                                          .operation-card__visits
                                            |4 визита
                                      .operation-card__top-col
                                        .operation-card__rating
                                          ul.operation-card__rating-list
                                            - for (let i=0; i<5; i++)
                                              li.operation-card__rating-item(class=(i < 3 ? 'operation-card__rating-item--active' : ''))
                                                +svg-rating(class='operation-card__rating-svg')
                                  .tags.operation-card__tags
                                    ul.tags__list
                                      li.tags__item
                                        a.tags__tag(href='#')
                                          |#имплантация
                                      li.tags__item
                                        a.tags__tag(href='#')
                                          |#протезирование
                                  h3.operation-card__title
                                    |Жильцов Сергей Васильевич
                                  .operation-card__desc
                                    .operation-card__desc-block
                                      h6.operation-card__desc-title.operation-card__desc-title--red
                                        |Проблема
                                      p.operation-card__desc-text
                                        |Отсутствием зубов на верхней и нижней челюсти и серьезной атрофией костной ткани.
                                    .operation-card__desc-block
                                      h6.operation-card__desc-title
                                        |Предложенное решение
                                      p.operation-card__desc-text
                                        |По результатам врачебного консилиума было принято решение проводить базальную имплантацию.
                                .operation-card__bottom
                                  .operation-card__bottom-row
                                    .operation-card__bottom-col
                                      ul.operation-card__links
                                        li.operation-card__link
                                          .mission__missions-links-container
                                            a.mission__missions-links-link(href='#')
                                              +svg-link.mission__missions-links-svg
                                              .mission__missions-links-text
                                                |Подробнее
                                        if !(i % 2)
                                          li.operation-card__link.operation-card__link--mobile
                                            .mission__missions-links-container
                                              a.mission__missions-links-link(href='#')
                                                +svg-link.mission__missions-links-svg
                                                .mission__missions-links-text
                                                  |Все операции
  
  