// font
$ff-main: 'Manrope', sans-serif;
$fw-main: 500;

// breakpoints
$breakpoint-m: 768px;
$breakpoint: 1024px;
$breakpoint-hd: 1280px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;

// colors
$color-white: white;
$color-black: #303032;

// animations
$transition: 0.5s;
