.mt160 {
  margin-top: 160px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 60px;
  }
}

.mt120-20 {
  margin-top: 20px;

  @media (min-width: $breakpoint) {
    margin-top: 120px;
  }
}

.mt80 {
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    // margin-top: 40px;
    margin-top: 0;
  }
}

.mt80-40 {
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }
}

.articles-authors__title.mb30 {
  margin-bottom: 30px;
}

.news-subscribe.mb0 {
  margin-bottom: 0;
}

.mb60-20 {
  margin-bottom: 60px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 20px;
  }
}

.mb80-60 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }
}

.news-subscribe__title.mb80-60 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }
}

.article__title.mb80-40 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.article__title.mb60-40 {
  margin-bottom: 60px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.article__title.mb50-40 {
  margin-bottom: 50px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.display-flex {
  display: flex;
}

.position-relative {
  position: relative;
}

.letter-spacing7 {
  letter-spacing: -0.7px;
}
.letter-spacing8 {
  letter-spacing: -0.8px;
}