.margin160 {
  margin: 60px 0;

  @media (min-width: $breakpoint) {
    margin: 160px 0;
  }
}

.mt160 {
  margin-top: 160px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 60px;
  }
}

.mt120-20 {
  margin-top: 20px;

  @media (min-width: $breakpoint) {
    margin-top: 120px;
  }
}

.mt80 {
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    // margin-top: 40px;
    margin-top: 0;
  }
}

.mt80-40 {
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }
}

.mt50-30 {
  margin-top: 50px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 30px;
  }
}

.team-filter.mt40 {
  margin-top: 40px;
}
.team-filter.mt0 {
  margin-top: 0;
}

.mt20 {
  margin-top: 20px;
}

.articles-authors__title.mb30 {
  margin-bottom: 30px;
}

.news-subscribe.mb0 {
  margin-bottom: 0;
}

.mb60-20 {
  margin-bottom: 60px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 20px;
  }
}

.mb80-60 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }
}

.vacancies-list__extra-txt.mb40-mob {
  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.news-subscribe__title.mb80-60 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 60px;
  }
}

.article__title.mb80-40 {
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.article__title.mb60-40 {
  margin-bottom: 60px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.article__title.mb50-40 {
  margin-bottom: 50px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 40px;
  }
}

.display-flex {
  display: flex;
}

.position-relative {
  position: relative;
}

.letter-spacing {
  &1 {
    letter-spacing: -.1px;
  }
  &6 {
    letter-spacing: -.6px;
  }
  &7 {
    letter-spacing: -.7px;
  }
  &8 {
    letter-spacing: -.8px;
  }
  &9 {
    letter-spacing: -.9px;
  }
}

.no-margin {
  margin-right: -20px;
  @media (min-width: $breakpoint) {
    margin-right: -40px;
  }
}

.txt-overflow-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}