include ../mixins/_mixins.pug

include ../components/_grid-test.pug



block variables



doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    block title
      title ibi
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")

  body.body
    +grid-test
    .wrapper
      block header
      main.main
        block content
      block footer
      block scripts