include ../components/icons

include ../components/_header
include ../components/_footer

include ../components/grid-test



block vars 



doctype html
html(lang='ru')
  head
    meta(charset="UTF-8") 
    block title
      title ibi
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9eaf2d45-34a5-4620-bac6-0482e9335845&lang=ru_RU" type="text/javascript")

  body.body
    +grid-test
    .wrapper
      block header
        +header
      main.main
        block content

      .header-modal-callback
        .header-modal-callback__form
          h2.header-modal-callback__ttl Откликнуться на вакансию
          form.news-subscribe__form(data-parsley-validate="")
            .member-page-ask__form-wrapper
              label.news-subscribe__form-placeholder.member-page-ask__label
                  input.news-subscribe__form-email(type="text" placeholder="Имя*" required="")
              label.news-subscribe__form-placeholder.member-page-ask__label
                  input.news-subscribe__form-email(type="tel" data-tel-input placeholder="Телефон*" maxlength="18" required="")
              label.news-subscribe__form-placeholder.member-page-ask__label
                  input.news-subscribe__form-email(type="email" data-parsley-type="email" placeholder="E-mail*" required="")
              label.news-subscribe__form-placeholder.member-page-ask__label
                  textarea.news-subscribe__form-email(name="", cols="30", rows="3" placeholder="Немного о себе")
              label.transfer-consult__add-file(for="")
                button
                  +add-file-svg('transfer-consult__add-file-ico')
                  |Прикрепить файл
                p Резюме, рекомендательное письмо
              label.news-subscribe__form-checkbox.member-page-ask__checkbox
                  input(type="checkbox" required="")
                  p Согласен на обработку персональных данных в соответствии с 
                      a(href="#") политикой конфиденциальности
              button.news-subscribe__form-btn(type="submit")
                  +arrow-link-svg('news-subscribe__form-btn-ico')
                  |Отправить
            .header-modal-callback__close
      block footer
        +footer
      block scripts


    
