mixin footer
  footer.footer&attributes(attributes.attributes)
    .container
      .footer__inner
        .footer__grid.footer__grid--mobile
          .footer__block
            .footer__logo
              a.footer__logo-link(href='#')
                +svg-logo.footer__logo-svg(mod='white')
          .footer__block
            ul.footer__links
              li.footer__links-item
                .footer__links-wrapper
                  a.footer__links-link(href='tel:84994906349')
                    |8 499 490 63 49
                p.footer__links-caption
                  |Бесплатно по России
              li.footer__links-item
                .footer__links-wrapper
                  a.footer__links-link(href='mailto:info@ibi.clinic')
                    |info@ibi.clinic
                p.footer__links-caption
                  |По любым вопросам
          .footer__block
            address.footer__address
              |Россия, г. Москва,
              br
              |1-й Спасоналивковский переулок, 17,
              br
              |корп. 1
          .footer__block
            ul.footer__socials
              li.footer__socials-item
                a.footer__socials-link(href='#')
                  +svg-fb.footer__socials-svg
              li.footer__socials-item
                a.footer__socials-link(href='#')
                  +svg-ig.footer__socials-svg
              li.footer__socials-item
                a.footer__socials-link(href='#')
                  +svg-vk.footer__socials-svg
              li.footer__socials-item
                a.footer__socials-link(href='#')
                  +svg-yt.footer__socials-svg
          .footer__block
            .footer__info
              .footer__copyright
                |© 2020 Институт Базальной Стоматологии
              .footer__dev
                span.footer__dev-text
                  |Сделано в&nbsp;
                a.footer__dev-text.footer__dev-link(href='#')
                  |CloudMill
        .footer__grid.footer__grid--desktop
          .footer__row.footer__row--outer
            .footer__col
              .footer__logo
                a.footer__logo-link(href='#')
                  +svg-logo.footer__logo-svg(mod='white')
            .footer__col
              .footer__block
                .footer__row.footer__row--inner
                  .footer__col
                    ul.footer__links
                      li.footer__links-item
                        .footer__links-wrapper
                          a.footer__links-link(href='tel:84994906349')
                            |8 499 490 63 49
                        p.footer__links-caption
                          |Бесплатно по России
                      li.footer__links-item
                        .footer__links-wrapper
                          a.footer__links-link(href='mailto:info@ibi.clinic')
                            |info@ibi.clinic
                        p.footer__links-caption
                          |По любым вопросам
                  .footer__col
                    ul.footer__socials
                      li.footer__socials-item
                        a.footer__socials-link(href='#')
                          +svg-fb.footer__socials-svg
                      li.footer__socials-item
                        a.footer__socials-link(href='#')
                          +svg-ig.footer__socials-svg
                      li.footer__socials-item
                        a.footer__socials-link(href='#')
                          +svg-vk.footer__socials-svg
                      li.footer__socials-item
                        a.footer__socials-link(href='#')
                          +svg-yt.footer__socials-svg
              .footer__block
                .footer__row.footer__row--inner
                  .footer__col
                    .footer__info
                      .footer__copyright
                        |© 2020 Институт Базальной Стоматологии
                      .footer__dev
                        span.footer__dev-text
                          |Сделано в&nbsp;
                        a.footer__dev-text.footer__dev-link(href='#')
                          |CloudMill
                  .footer__col
                    address.footer__address
                      |Россия, г. Москва,
                      br
                      |1-й Спасоналивковский переулок, 17,
                      br
                      |корп. 1
            