mixin mobile-header
  header.mobile-header
    .mobile-header__panel
      button.mobile-header__menu-close(data-screen-id=0) toggle menu
    .mobile-header__menu
      .mobile-header__screens
        .mobile-header__screen(data-screen-id=0)
          .mobile-header__content
            p
              |1 screen
            ul
              li
                a(href="#")
                  |redirect
              li
                a(href="#" data-screen-id=1 data-screen-animation='right')
                  |go to 2 screen, right
              li
                a(href="#" data-screen-id=2 data-screen-animation='left')
                  |go to 3 screen, left (loop effect)
            - for (let i = 0; i < 200; i++)
              p
                |123
              br
            p 123
        .mobile-header__screen.mobile-header__screen--inner(data-screen-id=1)
          .mobile-header__content.mobile-header__content--inner
            p
              |2 screen
            ul
              li
                a(href="#" data-screen-id=0 data-screen-animation='left')
                  |go to 1 screen, left
              li
                a(href="#")
                  |redirect
              li
                a(href="#" data-screen-id=2 data-screen-animation='right')
                  |go to 3 screen, right
        .mobile-header__screen.mobile-header__screen--inner(data-screen-id=2)
          .mobile-header__content.mobile-header__content--inner
            p 
              |3 screen
            ul
              li
                a(href="#" data-screen-id=1 data-screen-animation='left')
                  |go to 2 screen, left
              li
                a(href="#")
                  |redirect
              li
                a(href="#" data-screen-id=0 data-screen-animation='left')
                  |go to 1 screen, left left
              li
                a(href="#" data-screen-id=0 data-screen-animation='right')
                  |go to 1 screen, right (loop effect)
            - for (let i = 0; i < 200; i++)
              p
                |123
              br
            p 123
