a.team-member(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Орераций
        .team-member__badge-count 26
    img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра