//- Кнопка Отправить для форм с анимацией

button.news-subscribe__form-btn.mission__missions-links-link(type="submit")
  +arrow-link-svg('news-subscribe__form-btn-ico button-svg')
  .mission__missions-links-text
    span.mission__missions-links-span
      |Отправить