mixin dates
  -
    var dates = [
      2020,
      2019,
      2018,
      2017,
      2016,
      2015,
    ]

  .dates
    .dates__dates
      each date in dates
        .dates__date= date
    .dates__tabs
      each date in dates
        .dates__tab
          .dates__slider-tabs
            .swiper-wrapper
              - var count = 3 + Math.floor(4 * Math.random())
              - for (let i = 0; i < count; i++)
                .swiper-slide
                  .dates__slide
                    .dates__slide-item
                      .dates__slide-text.dates__slide-date
                        |#{`20.0${6 + Math.floor(4 * Math.random())}.${date}`}
                    .dates__slide-item
                      .dates__slide-text
                        |Институт Базальной Имплантации инициирует постклинические испытания базальных имплантатов Strategic implant совместно с ассоциацией стоматологом России, на базе Санкт петербургского медицинского института им Павлова
                    .dates__slide-item
                      img.dates__slide-img(src='assets/images/history.jpeg' alt='')