.news-subscribe
  .form
    h2.news-subscribe__title Подпишитесь на&nbsp;публикации и&nbsp;новости
    form.news-subscribe__form.news-subscribe__container(data-parsley-validate="")
      //- .news-subscribe__form-col

      label.news-subscribe__label
        input.news-subscribe__input(type="email" placeholder="E-mail" required="required")
      
      label.news-subscribe__form-checkbox.news-subscribe__checkbox
        input(type="checkbox" id="checkbox" required="required")
        .checkbox
        p Согласен на обработку персональных данных 
          br
          |в соответствии с 
          a(href="#") политикой конфиденциальности

      button.news-subscribe__form-btn.form__btn(type="submit")
        +arrow-send('news-subscribe__form-btn-ico')

  .response
    h2 Спасибо. Подписка оформлена.
    .mission__missions-links-link.response__btn
      +arrow-link-svg('news__link-ico')
      .mission__missions-links-text
        |Оформить еще одну