.guarantee-contract
  h3.guarantee-contract__title Все гарантийные обязательства закреплены в договоре
  a.guarantee-contract__download(href="#") 
    .guarantee-contract__download-txt Скачать&nbsp;типовой договор
    button.guarantee-contract__download-btn
      +download-svg('io')