.guarantee__img
  .guarantee__img-txt
    h2 5 лет гарантии
    p Гарантия на имплантацию с применением Швейцарских имплантатов STRATEGIC IMPLANT 5 лет. На протяжении которых вы проходите 8 бесплатных обязательных контрольных осмотров. Все гарантийные обязательства четко закреплены в Положении о гарантиях.
  img.guarantee__img-effects-mob(src="assets/images/guarantee-effects-mobile.png", alt="")
  img.guarantee__img-effects-desk(src="assets/images/guarantee-effects-desktop.png", alt="")
  img.guarantee__img-main-desk(src="assets/images/guarantee-2.jpg", alt="")
  img.guarantee__img-main-mob(src="assets/images/guarantee-3.jpg", alt="")