.modal-forms.tooltip-window#modal-tooltip-1
  .modal-forms__wrapper
    .modal-forms__form
      img.tooltip__img(src="assets/images/tooltip1.jpg", alt="")
      .tooltip__ttl
        |Современный оптический 3D сканер AutoScan DS-EX – ваш пропуск в мир цифровых технологий!
      .tooltip__txt
        p Сканер отличается открытым дизайном и модульной структурой, которая позволит без усилий модернизировать его до более новой и функциональной модели в будущем.
        p AutoScan-DS-EX поддерживает все существующие режимы сканирования:
        ul
          li Сканирование гипсовых моделей и отдельных штампиков (8 шт.)
          li Сканирование модели в артикуляторе
          li Оцифровка текстур
          li Сканирование слепков любой сложности
    .modal-forms__close.vacancy-btn
      button.modal-forms__close-btn.close
  .modal-forms__background