.modal-forms.modal-forms-vacancy
  .modal-forms__wrapper
    .modal-forms__form
      .form
        h2.modal-forms__ttl Откликнуться на вакансию
        form.news-subscribe__form(data-parsley-validate="" data-send-form="")
          .member-page-ask__form-wrapper
            label.news-subscribe__form-placeholder.member-page-ask__label
              input.news-subscribe__form-email(type="text" placeholder="Имя*" required="")
            label.news-subscribe__form-placeholder.member-page-ask__label
              input.news-subscribe__form-email(type="tel" data-tel-input placeholder="Телефон*" maxlength="18" required="")
            label.news-subscribe__form-placeholder.member-page-ask__label
              input.news-subscribe__form-email(type="email" data-parsley-type="email" placeholder="E-mail*" required="")
            label.news-subscribe__form-placeholder.member-page-ask__label.member-page-ask__label-textarea
              textarea.news-subscribe__form-email(name="", cols="30", rows="3" placeholder="Немного о себе")
            label.transfer-consult__add-file.modal-forms__add-file(for="")
              button
                +add-file-svg('transfer-consult__add-file-ico')
                div Прикрепить файл
              p Резюме, рекомендательное письмо
            label.news-subscribe__form-checkbox.member-page-ask__checkbox
              input(type="checkbox" id="checkbox" required="" checked="checked")
              .checkbox
              p Согласен на обработку персональных данных в соответствии с 
                  a(href="#") политикой конфиденциальности
            .form__btn.vacancy-modal-btn
              include ../components/animated-submit-button
      .response
        h2 Спасибо за ваш отклик. Мы ответим вам в ближайшее время.
        .mission__missions-links-link.response__btn
          +arrow-link-svg('news__link-ico button-svg')
          .mission__missions-links-text
            |Отправить еще
    .modal-forms__close.vacancy-btn
      button.modal-forms__close-btn.close
  .modal-forms__background