mixin navigation(activeIndex = 0)
  .navigation
    -
      var items = [
        'Метод',
        'Преимущества',
        'Этапы имплантации',
        'Имплантаты Strategic Implant',
        'Стоимость',
      ]
    - for (let i = 0; i < items.length; i++)
      a.navigation__item(class = (i === activeIndex ? 'navigation__item--active' : '') href='#')= items[i]
