include ./navigation.pug

mixin seq
  -
    var frames = {
      dir: {
        desktop: 'assets/images/seq/desktop/',
      },
      list: {
        desktop: (() => {
          const list = []

          for (let i = 0; i < 176; i++) {
            list.push(`Comp 1__00${i < 10 ? ('00' + i) : (i < 100 ? ('0' + i) : i)}.jpg`)
          }

          return list
        })(),
      },
    }
  .seq(
    data-frames-dir-desktop=frames.dir.desktop
    data-frames-list-desktop=frames.list.desktop
  )
    .seq__fullscreen
      .seq__top
        +navigation
      .seq__bottom
        .seq__background
          canvas.seq__canvas
          .seq__texts
            .seq__texts-item
              .seq__text(data-frame=0)
                |Базальная имплантация — это методика установки специальных имплантатов в глубокий базальный слой кости и кортикальную пластину, которые практически не подвержены атрофии и любым другим изменениям
            .seq__texts-item
              .seq__text(data-frame=7)
                |Основной особенностью — является немедленная нагрузка имплантатов ортопедическими конструкциями. Это позволяет максимально сократить время лечения до 4 - 7 дней
            .seq__texts-item
              .seq__text(data-frame=24)
                |Метод базальной имплантации зарекомендовал себя:
                ul
                  li
                    |при пародонтозе
                  li
                    |генерализованном пародонтите
                  li
                    |серьезных изменениях прикуса в результате долгого отсутствия зубов
                  li
                    |обширных хронических воспалительных процессах зубов, кариес
            .seq__texts-item
              .seq__text(data-frame=36)
                |Базальная имплантация подходит в очень сложных случаях, когда кости очень мало
            .seq__texts-item
              .seq__text(data-frame=47)
                |Не потребуется костная пластика (наращивание кости) и длительное ожидание приживления
            .seq__texts-item
              .seq__text(data-frame=63)
                |В день операции, после удаления пораженных зубов, устанавливаются специальные имплантаты в лунки удаленных зубов или в участках где зубы были давно удалены.
                br
                br
                |Не требуется общее обезболивание, наркоз.
                br
                |Операция проходит под местным обезболиванием, при помощи аппарата для компьютерной анестезии STA System.
            .seq__texts-item
              .seq__text(data-frame=74)
                |Зоной фиксации для базальных имплантатов является глубокий, базальный слой кости и кортикальная пластина, которые располагаются в стратегических зонах верхней и нижней челюсти
            .seq__texts-item
              .seq__text(data-frame=86)
                |Для установки базальных имплантатов – делается небольшой прокол, в которую устанавливается имплантат.
                br
                br
                |Прокол сохраняет целостность кости, каналы питания и иннервации без разрушения.
            .seq__texts-item
              .seq__text(data-frame=96)
                |Базальные имплантаты Strategic Implant устанавливаются в глубокий слой кости, что позволяет успешно провести операцию без костной пластики даже когда кость практически отсутствует
            .seq__texts-item
              .seq__text(data-frame=107)
                |Мы подбираем имплантаты под имеющийся объём кости учитывая индивидуальную анатомию. Установка происходит под необходимым углом.
            .seq__texts-item
              .seq__text(data-frame=112)
                |Затем изгибаем абатмент в нужную позицию для правильной фиксации моста
            .seq__texts-item
              .seq__text(data-frame=124)
                |Места установки имплантатов подбираются с учетом анатомии для обеспечания жесткость и надежность ортопедической конструкции.
            .seq__texts-item
              .seq__text(data-frame=137)
                |Количество имплантатов всегда рассчитывается индивидуально.
                br
                |Для верхней челюсти 10-12
                br
                |Для нижней 8-10
            .seq__texts-item
              .seq__text(data-frame=142)
                |Немедленная нагрузка
                br
                br
                |Имплантаты, установленные в базальную кость, получают оптимальную первичную стабилизацию.
                br
                |Это дает возможность установить несъемный мост на 3-5 день после операции
            .seq__texts-item
              .seq__text(data-frame=164)
                |Через 3-5 дней них устанавливается несъёмный мост.
            .seq__texts-item
              .seq__text(data-frame=169)
                |Приживление происходит в процессе немедленной жевательной нагрузки.
            .seq__texts-item
              .seq__text(data-frame=175)
                |Вы получаете возможность жевать на 3-5 день после операции
