.news-show-more
  button.news-show-more-btn.mission__missions-links-link
    +arrow-link-svg('news-show-more-ico button-svg')
    .mission__missions-links-text
      span.mission__missions-links-span.news-show-more-txt Показать еще