a.team-member.doctor(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра
a.team-member.dentist(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Стефан Альфред Клаус Иде
    .team-member__position Главный врач центра
a.team-member.dentist(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра
a.team-member.admin(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра
a.team-member.coordinator(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра
a.team-member.admin(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра
a.team-member.dentist(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра
a.team-member.doctor(href="#")
  .team-member__img
    .team-member__badge
      .team-member__badge-item
        .team-member__badge-txt Статей в блоге
        .team-member__badge-count 14
      .team-member__badge-item
        .team-member__badge-txt Операций
        .team-member__badge-count 26
    .team-member__img-wrapper
      img(src="assets/images/team-1.jpg", alt="")
  .team-member__desc
    .team-member__name Шмойлов Андрей Евгеньевич
    .team-member__position Главный врач центра